<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="operlog-form">
                <div class="select-list">
                    <ul>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endTime]"/>
                        </li>
                        <li>
                            搜索：<input type="text" name="name" placeholder="姓名&&手机号"/>
                        </li>
                        <li>
                            <label>母狗状态：</label>
                            <select name="status" th:with="type=${@dict.getType('beta_betaFemina_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div id="updateStatus" class="select-list" style="display:none">
    <ul>
        <li>
            <label style="padding-left: 23px;">母狗状态： </label>
            <select class="updateStatus" name="updateStatus"
                    th:with="type=${@dict.getType('beta_betaFemina_status')}">
                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                        th:value="${dict.dictValue}"></option>
            </select>
        </li>
    </ul>
</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var beta_infertilitys = [[${@dict.getType('beta_betaFemina_status')}]];//
    var prefix = ctx + "beta/betaFemina";
    $(function () {
        var options = {
            url: prefix + "/list",
            updateUrl: prefix + "/edit/{id}",
            sortName: "fe.create_time",
            sortOrder: "desc",
            modalName: "母狗详情",
            search: false,
            showExport: false,
            columns: [
                {
                    field: 'name',
                    title: '用户姓名',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var nameAndPhone = "";
                        var phone = row.phone;
                        if (value == null) {
                            value = "空";
                        }
                        if (phone == null) {
                            phone = "空";
                        }
                        if ((value != "空" && phone != "空") || (value != "空" || phone != "空")) {
                            nameAndPhone = value + "/" + phone;
                        }
                        actions.push('<span class="depreciate">' + nameAndPhone + '</span>');
                        return actions.join('');
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'quality',
                    title: '品质',
                    sortable: true,
                },
                {
                    field: 'power',
                    title: '力量',
                    sortable: true,
                },
                {
                    field: 'agility',
                    title: '敏捷',
                    sortable: true,
                },
                {
                    field: 'stamina',
                    title: '体力',
                    sortable: true,
                },
                {
                    field: 'intelligence',
                    title: '智力',
                    sortable: true,
                },
                {
                    field: 'charm',
                    title: '魅力',
                    sortable: true,
                },
                {
                    field: 'status',
                    title: '母狗状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(beta_infertilitys, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        /*actions.push('<a class="btn btn-success btn-xs" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>详情</a>');*/
                        actions.push('<a class="btn btn-success btn-xs" href="#" onclick="updateCurrentIdentity(\'' + row.id + '\',\'' + row.status + '\')"><i class="fa fa-edit"></i>母狗状态</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
    window.operateEvents = {
        'click .view': function (e, value, row, index) {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: ['auto', 'auto'],
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: '<img src="' + row.operateEvents + '"/>'
            });
        },
    };


    function updateCurrentIdentity(id, status) {
        var id = id;
        $('#updateStatus').css('display', "");
        $(".updateStatus").children("option").each(function () {
            $(this).css('display', "");
        });

        $(".updateStatus").children("option").each(function () {
            if ($(this).val() == status) {
                $(this).css('display', "none");
            }
        });
        var init = 0;
        $('.updateStatus').children("option").each(function () {
            if ($(this).css("display") != "none") {
                if (init == 0) {
                    init = 1;
                    $(this).attr("selected", true);
                }
            }
        })
        layer.open({
            type: 1,
            area: ['400px', '330px'],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: '修改状态',
            content: $('#updateStatus'),
            btn: ['<i class="fa fa-check"></i> 修改', '<i class="fa fa-remove"></i> 取消'],
            // 弹层外区域关闭
            shadeClose: true,
            end: function (index, layero) {
                $('#updateStatus').css('display', "none");
            },
            btn1: function (index, layero) {
                var nowStatus = $(".updateStatus").val();
                $.ajax({
                    url: prefix + "/updateStatus",
                    data: {
                        "id": id,
                        "status": nowStatus
                    },
                    cache: false,
                    dataType: "json",
                    type: 'POST',
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                            $.modal.closeAll();
                            $.modal.alertSuccess(result.message);
                            $.table.refresh();
                        } else {
                            $.modal.alertError(result.message);
                        }
                    }
                });
            }
        });
    }
</script>
</body>
</html>