<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<style>
	.recharge-amount{
		overflow:hidden;
	}
	.search-collapse-first{
		padding:0 !important;
		height:200px;
		display:flex;
		align-items: center;
	}
	.recharge-amount li{
		width:245px;
		height:127px;
		border:1px solid #e5e5e5;
		padding:0 0 0 15px;
		float:left;
		margin-left:40px;
		display:flex;
		align-items: center;
	}
	.recharge-amount .recharge-title{
		font-size:14px;
		margin-bottom:25px;
	}
	.recharge-amount div{
		font-size:18px;
		color:#ff942f;
	}
	label span{
		color:#494949;
	}
</style>
<head th:include="include :: header"></head>
<body class="gray-bg">

	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse search-collapse-first">
				<div th:object="${agntCountDto}">
					<ul class="recharge-amount">
						<li>
							<div>
								<label><span>一级代理:</span> [[*{firstAgnt}]]</label><br/>
	                            <label><span>一级代理客户:</span> [[*{firstAgntCustomer}]]</label>
							</div>
						</li>
						<li>
							<div>
								<label><span>二级代理:</span> [[*{secondAgnt}]]</label><br/>
								<label><span>二级代理客户:</span> [[*{secondAgntCustomer}]]</label>
							</div>
						</li>
						<li>
							<div>
								<label><span>三级代理:</span> [[*{thirdAgnt}]]</label><br/>
								<label><span>三级代理客户:</span> [[*{thirdAgntCustomer}]]</label>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12 search-collapse">
				<form id="operlog-form">
					<input type="hidden" name="agntId" id="agntId"/>
					<div class="select-list">
						<ul>
							<li>
								<label>级别： </label>
								<select name="agntLevel" th:with="type=${@dict.getType('user_agnt2')}">
									<option value="">全部</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<label>搜索： </label><input type="text" placeholder="支持搜索用户名、账号、上级代理名" name="keyWord"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-primary btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="finance:rechargeRecord:export">
					<i class="fa fa-download"></i> 导出
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>

	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		var types = [[${@dict.getType('user_agnt')}]];
        var subAgntFlag = [[${@permission.hasPermi('agnt:customer:view')}]];
        var detailFlag = [[${@permission.hasPermi('user:detail')}]];
        var prefix = ctx + "agnt/list";

		$(function() {
		    var options = {
		        url: prefix + "/list",
                exportUrl: prefix + "/export",
                detailUrl: ctx + "user/detail/{id}",
		        sortName: "",
		        sortOrder: "",
		        modalName: "代理商列表",
		        search: false,
		        showExport: false,
		        columns: [
		        {
		            field: 'agntName',
		            title: '用户'
		        },
				{
					field: 'loginName',
					title: '账号'
				},
				{
		            field: 'agntLevel',
		            title: '代理级别',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(types, value);
                    }
		        },
				{
					field: 'lastAgntName',
					title: '上级代理'
				},
				{
					field: 'consumerCount',
					title: '客户量'
				},
				{
					field: 'subAgntCount',
					title: '下级代理'
				},
                {
                    title: '操作',
                    align: 'left',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if (row.userType == 2) {
                            actions.push('<a class="btn btn-success btn-xs ' + detailFlag + '" href="#" onclick="$.operate.detail(\'' + row.userId + '\')"><i class="fa fa-edit"></i>查看代理信息</a> ');
                        }
                        actions.push('<a class="btn btn-danger btn-xs ' + subAgntFlag + '" href="#" onclick="subAgnt(\'' + row.agntId + '\')"><i class="fa fa-edit"></i>查看代理客户</a> ');
                        if (row.agntLevel != 3) {
                            actions.push('<a class="btn btn-primary btn-xs" href="#" onclick="subordinateAgnt(\'' + row.agntId + '\')"><i class="fa fa-edit"></i>查看下级代理</a> ');
                        }
                        return actions.join('');
                    }
                }]
		    };
		    $.table.init(options);
		});

        function customerInfo(userId) {
            var url = ctx + "user/detail/" + userId;
            $.modal.open("用户信息详情", url, '800', '600');
        }

        function subAgnt(agntId) {
            var url = ctx + "agnt/list/customer/" + agntId;
            createMenuItem(url, "代理客户");
        }
        
        function subordinateAgnt(agntId) {
            $("#agntId").val(agntId);
            $.table.search();
        }
	</script>
</body>
</html>