<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="config-form">
					<div class="select-list">
						<ul>
							<li>
								<label>搜索： </label><input type="text" placeholder="" name="keyWord"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="config:appVersion:add">
					<i class="fa fa-plus"></i> 新增
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="config:appVersion:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<!--<a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="config:parameterConfig:del">
					<i class="fa fa-remove"></i> 删除
				</a>-->
			</div>
			<div class="col-sm-12 select-table table-striped" style="overflow: overlay;height: 90%;">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>

	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		var prefix = ctx + "config/appVersion";
        var types = [[${@dict.getType('app_type')}]];
        var statues = [[${@dict.getType('app_status')}]];

		$(function() {
		    var options = {
		        url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
		        sortName: "",
		        sortOrder: "",
		        modalName: "版本管理列表",
		        search: false,
		        showExport: false,
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'id',
		            title: 'id'
		        },
		        {
		            field: 'bundleId',
		            title: 'bundleId'
		        },
		        {
		            field: 'name',
		            title: '应用名称'
		        },
				{
					field: 'version',
					title: '版本'
				},
				{
		            field: 'changelog',
		            title: '更新日志'
		        },
				{
		            field: 'build',
		            title: '编译号'
		        },
				{
		            field: 'installUrl',
		            title: '安装地址'
		        },
				{
		            field: 'pictureUrl',
		            title: '图片地址'
		        },
				{
		            field: 'type',
		            title: '类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(types, value);
                    }
		        },
				{
		            field: 'status',
		            title: '是否强制升级',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statues, value);
                    }
		        },
				{
					field: 'creater',
					title: '创建人'
				},
				{
					field: 'createTime',
					title: '创建时间'
				},
				{
					field: 'updator',
					title: '修改人'
				},
				{
					field: 'updateTime',
					title: '修改时间'
				}]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>