<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<style>
    .withdraw-amount {
        overflow: hidden;
    }

    .search-collapse-first {
        padding: 0 !important;
        height: 200px;
        display: flex;
        align-items: center;
    }

    .withdraw-amount li {
        width: 223px;
        height: 157px;
        border: 1px solid #e5e5e5;
        padding: 15px 0 0 15px;
        float: left;
        margin-left: 40px;
    }

    .withdraw-amount .withdraw-title {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .withdraw-amount div {
        font-size: 18px;
        color: #ff942f;
    }

    .withdraw-amount label {
        margin-bottom: 15px;
    }
</style>
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse search-collapse-first">
            <div th:object="${withdrawStatistics}">
                <ul class="withdraw-amount">
                    <li>
                        <label class="withdraw-title">用户今日充币总额： </label>
                        <div>
                            <label>BTC: [[*{totalUserWithdrawBTC}]]</label><br/>
                            <label>USDT: [[*{totalUserWithdrawUSDT}]]</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 search-collapse">
            <form id="operlog-form">
                <div class="select-list">
                    <ul>
                        <li class="select-time">
                            <label>申请日期： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endTime]"/>
                        </li>

                        <li>
                            <label>类型：</label><select name="transferFlag" th:with="type=${@dict.getType('withdraw_walletBill_transferFlag')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li>
                            <label>搜索： </label><input type="text" placeholder="币种" name="token"/>
                        </li>
                        <li>
                            <label>搜索： </label><input type="text" placeholder="可搜索用户名、手机号" name="name"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-primary btn-warning" onclick="$.table.exportExcel()"
               shiro:hasPermission="finance:withdrawRecord:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    // var types = [[${@dict.getType('audit_withdraw_type')}]];
    // var internalAccounts = [[${@dict.getType('user_internal_account')}]];
    // var statuses = [[${@dict.getType('audit_withdraw_status')}]];
    // var editFlag = [[${@permission.hasPermi('audit:withdraw:edit')}]];
    var prefix = ctx + "finance/withdrawWalletBill";

    $(function () {
        var options = {
            url: prefix + "/withdrawRechargeListNew",
            exportUrl: prefix + "/export",
            detailUrl: prefix + "/getWithdrawRechargeDetail/{id}",
            sortName: "",
            sortOrder: "",
            modalName: "资金充值记录",
            search: false,
            showExport: false,
            columns: [
                {
                    field: 'orderId',
                    title: '订单'
                },
                {
                    field: 'name',
                    title: '充币用户',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var nameVar = row.name == null ? "" : row.name;
                        var phoneVar = row.phone == null ? "" : row.phone;
                        var nameVarAndphoneVar = nameVar + "-" + phoneVar;
                        actions.push('<span class="depreciate">' + nameVarAndphoneVar + '</span>');
                        return actions.join('');
                    }
                },
                {
                    field: 'token',
                    title: '充值币种'
                },
                {
                    field: 'beforeAmount',
                    title: '出金前'
                },
                {
                    field: 'changeAmount',
                    title: '提币金额'
                },
                {
                    field: 'afterAmount',
                    title: '出金后'
                },
                {
                    field: 'block',
                    title: '区块更新数'
                },
                {
                    field: 'createTime',
                    title: '订单时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')"><i class="fa fa-search"></i>详细</a>');
                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>