<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="operlog-form">
					<div class="select-list">
						<ul>
							<li class="select-time">
								<label>创建时间搜索： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间"
									   name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间"
									   name="params[endTime]"/>
							</li>
							<li>
								搜索：<input type="text" name="recordNumber" placeholder="编号"/>
							</li>
							<input type="hidden" id="userId" name="userId" th:value="${userId}"/>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">

        var recordTypes = [[${@dict.getType('beta_freeze_recordType')}]];
		var prefix = ctx + "beta/betaFreezeAccount";
		$(function() {
		    var options = {
		        url: prefix + "/betaAccountRecordList",
                updateUrl: prefix + "/edit/{id}",
		        sortName: "re.create_time",
		        sortOrder: "desc",
		        modalName: "流水",
		        search: false,
		        showExport: false,
                queryParams: queryParams,
		        columns: [
				{
					field: 'recordNumber',
					title: '编号'
				},
				{
					field: 'name',
					title: '姓名',
					formatter: function (value, row, index) {
						var actions = [];
						var nameVar = row.name == null ? "-" : row.name;
						var phoneVar = row.phone == null ? "" : row.phone;
						var nameVarAndphoneVar = nameVar + "/" + phoneVar;
						actions.push('<span class="depreciate">' + nameVarAndphoneVar + '</span>');
						return actions.join('');
					}
				},
				{
					field: 'beforeAmount',
					title: '交易前金额',
                    sortable: true
				},
				{
					field: 'amount',
					title: '交易金额',
                    sortable: true
				},
				{
					field: 'afterAmount',
					title: '交易后金额',
                    sortable: true
				},
				{
					field: 'recordType',
					title: '流水类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(recordTypes, value);
                    }
				},
				{
					field: 'createTime',
					title: '创建时间',
                    sortable: true
				},
				// {
				// 	title: '操作',
				// 	align: 'center',
				// 	formatter: function(value, row, index) {
				// 		var actions = [];
				// 		return actions.join('');
				// 	}
				// }
				]
		    };
		    $.table.init(options);
		});


        function queryParams(params) {
            return {
                userId:       $("#userId").val(),
                pageSize:       params.limit,
                pageNum:        params.offset / params.limit + 1,
                searchValue:    params.search,
                orderByColumn:  params.sort,
                isAsc:          params.order
            };
        }
	</script>
</form>
</body>
</html>