<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="operlog-form">
                <div class="select-list">
                    <input type="hidden" id="accountId" name="accountId" value="1"/>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add(1)" shiro:hasPermission="accountConfig:addInfo">
                <i class="fa fa-plus"></i> 新增
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped" style="overflow: overlay;height: 94%;">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        var startTime = laydate.render({
            elem: '#createTime',
            type: 'date',
            btns: ['now', 'confirm']
        });
        var endTime = laydate.render({
            elem: '#endTime',
            type: 'date',
            btns: ['now', 'confirm']
        });
    });
    var currencyconfigstatus = [[${@dict.getType('currencyConfig_status')}]];// 禁用状态，共用配置币种
    var prefix = ctx + "currencyConfig/transferDirection";
    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/addCapitalAccountManage/{id}",
            updateUrl: prefix + "/edit/{id}",
            sortName: "",
            sortOrder: "",
            modalName: "资金划转配置",
            queryParams: queryParams,
            search: false,
            striped: true,
            showExport: false,
            columns: [
                {
                    field: 'mainAccountName',
                    title: '源账户'
                },
                {
                    field: 'targetAccountName',
                    title: '目标账户'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(currencyconfigstatus, value);
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'updateTime',
                    title: '修改时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if(row.status==1){
                            actions.push('<a class="btn btn-danger btn-xs" href="#" onclick="updateProduct(\'' + row.id + '\')"><i class="fa fa-remove"></i>禁用</a> ');
                        }
                        if(row.status==2){
                            actions.push('<a class="btn btn-success btn-xs" href="#" onclick="updateProduct(\'' + row.id + '\')"><i class="fa fa-edit"></i>正常</a> ');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    window.operateEvents = {
        'click .view': function (e, value, row, index) {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: ['auto', 'auto'],
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: '<img src="' + row.image + '" height="400px"/>'
            });
        },
    };

    window.operateEvent = {
        'click .view': function (e, value, row, index) {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: ['auto', 'auto'],
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: '<img src="' + row.sceneryImg + '" height="400px"/>'
            });
        },
    };

    function queryParams(params) {
        return {
            accountId: $("#accountId").val(),
            pageSize: params.limit,
            pageNum: params.offset / params.limit + 1,
            searchValue: params.search,
            orderByColumn: params.sort,
            isAsc: params.order
        };
    }

    function updateProduct(id) {
        $.modal.confirm("确定禁用这个账户？", function() {
            $.ajax({
                url: prefix + "/updateTransferDirection/"+id,
                cache: true,
                dataType: "json",
                type: 'POST',
                success: function (date) {
                    layer.close();
                    if (date.code == web_status.SUCCESS) {
                        $.modal.closeAll();
                        $.modal.alertSuccess(date.message);
                        $.table.refresh();
                    } else {
                        $.modal.alertError(date.message);
                    }
                }
            });
        });
    }

</script>
</body>
</html>