<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="operlog-form">
					<div class="select-list">
						<ul>
							<input  type="hidden" id="userId" name="userId"  th:value="${vo.userId}" />
							<input  type="hidden" id="id" name="id"  th:value="${vo.id}" />

							<div style="overflow: auto;">
								<li>
									<label>收入类型：</label>
									<select name="type" th:with="type=${@dict.getType('beta_productType')}">
										<option value="">所有</option>
										<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
												th:value="${dict.dictValue}"></option>
									</select>
								</li>
								<li>
									<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
											class="fa fa-search"></i>&nbsp;搜索</a>
									<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
											class="fa fa-refresh"></i>&nbsp;重置</a>
								</li>

							</div>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm"  role="group">
				<a class="btn btn-success" onclick="feminaList()" >
					<i class="fa fa-reply-all"></i> 母狗
				</a>
				<a class="btn btn-success" onclick="maleList()" >
					<i class="fa fa-reply-all"></i> 公狗
				</a>
				<a class="btn btn-success" onclick="puppyList()" >
					<i class="fa fa-reply-all"></i> 小狗
				</a>
				<a class="btn btn-success" onclick="historyListInfo()" >
					<i class="fa fa-reply-all"></i> 动态
				</a>
				<a class="btn btn-success" onclick="accountListInfo()" >
					<i class="fa fa-reply-all"></i> 挖矿
				</a>
				<a class="btn btn-success" onclick="backpackUseInfo()" >
					<i class="fa fa-reply-all"></i> 装备
				</a>
			</div>

			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>


	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
        var beta_productTypes = [[${@dict.getType('beta_productType')}]];//收入类型
        var beta_house_statuss = [[${@dict.getType('beta_house_status')}]];//收取状态
		var prefix = ctx + "betaHouse/house";
		$(function() {
		    var options = {
		        url: prefix + "/getAccountList",
                updateUrl: prefix + "/edit/{id}",
                sortName: "create_time",
                sortOrder: "desc",
		        modalName: "挖矿详情",
                queryParams: queryParams,
		        search: false,
		        showExport: false,
		        columns: [
                    {
                        field: 'type',
                        title: '收入类型',
                        formatter: function (value, row, index) {
                            return $.table.selectDictLabel(beta_productTypes, value);
                        }
                    },
                    {
                        field: 'amount',
                        title: '收入金额'
                    },
                    {
                        field: 'status',
                        title: '收取状态',
                        formatter: function (value, row, index) {
                            return $.table.selectDictLabel(beta_house_statuss, value);
                        }
                    },
                    {
                        field: 'createTime',
                        title: '创建时间'
                    },
				]
		    };
		    $.table.init(options);
		});

        function queryParams(params) {
            return {
                id: $("#id").val(),
                pageSize: params.limit,
                pageNum: params.offset / params.limit + 1,
                searchValue: params.search,
                orderByColumn: params.sort,
                isAsc: params.order
            };
        }

        /*狗窝-母狗列表*/
        function feminaList(id) {
            var id = document.getElementById("id").value
            var url ='betaHouse/house/feminaList/' + id;
            createMenuItem(url, "母狗列表");
        }
        /*狗窝_公狗列表*/
        function maleList() {
            var id = document.getElementById("id").value

            var url = 'betaHouse/house/maleList/'+id;
            createMenuItem(url, "公狗列表");
        }

        /*狗窝_小狗列表*/
        function puppyList() {
            var id = document.getElementById("id").value
            var url = 'betaHouse/house/puppyList/'+id;
            createMenuItem(url, "小狗列表");
        }

        /*狗窝_动态列表*/
        function historyListInfo() {
            var id = document.getElementById("id").value
            var url = 'betaHouse/house/historyListInfo/'+id;
            createMenuItem(url, "动态列表");
        }

        /*狗窝_动态列表*/
        function accountListInfo() {
            var id = document.getElementById("id").value
            var url = 'betaHouse/house/accountListInfo/'+id;
            createMenuItem(url, "挖矿列表");
        }

        /*狗窝_装备列表*/
        function backpackUseInfo() {
            var id = document.getElementById("id").value
            var url = 'betaHouse/house/backpackUseInfo/'+id;
            createMenuItem(url, "装备列表");
        }
	</script>
</body>
</html>