<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bittrade.uac.mapper.UserAttachmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bittrade.uac.model.pojo.UserAttachment">
        <id column="id" property="id" />
        <result column="uesr_id" property="uesrId" />
        <result column="identity_no" property="identityNo" />
        <result column="identity_type" property="identityType" />
        <result column="identity_front_url" property="identityFrontUrl" />
        <result column="identity_back_url" property="identityBackUrl" />
        <result column="post_real_validate" property="postRealValidate" />
        <result column="fhas_real_Validate" property="fhasRealValidate" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
        <result column="user_first_ip" property="userFirstIp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uesr_id AS uesrId, identity_no AS identityNo, identity_type AS identityType, identity_front_url AS identityFrontUrl, identity_back_url AS identityBackUrl, post_real_validate AS postRealValidate, fhas_real_Validate AS fhasRealValidate, update_time AS updateTime, create_time AS createTime, status, user_first_ip AS userFirstIp
    </sql>

</mapper>
