<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bittrade.uac.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bittrade.uac.model.pojo.User">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="login_password" property="loginPassword" />
        <result column="nick_name" property="nickName" />
        <result column="real_name" property="realName" />
        <result column="tele_phone" property="telePhone" />
        <result column="recommend_code" property="recommendCode" />
        <result column="user_email" property="userEmail" />
        <result column="phone_area_code" property="phoneAreaCode" />
        <result column="is_tel_validate" property="isTelValidate" />
        <result column="is_identity_validate" property="isIdentityValidate" />
        <result column="is_mail_validate" property="isMailValidate" />
        <result column="user_address" property="userAddress" />
        <result column="identity_type" property="identityType" />
        <result column="identity_no" property="identityNo" />
        <result column="tel_validate_time" property="telValidateTime" />
        <result column="mail_validate_time" property="mailValidateTime" />
        <result column="salt" property="salt" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="extend1" property="extend1" />
        <result column="extend2" property="extend2" />
        <result column="extend3" property="extend3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, login_name AS loginName, login_password AS loginPassword, nick_name AS nickName, real_name AS realName, tele_phone AS telePhone, recommend_code AS recommendCode, user_email AS userEmail, phone_area_code AS phoneAreaCode, is_tel_validate AS isTelValidate, is_identity_validate AS isIdentityValidate, is_mail_validate AS isMailValidate, user_address AS userAddress, identity_type AS identityType, identity_no AS identityNo, tel_validate_time AS telValidateTime, mail_validate_time AS mailValidateTime, salt, type, status, update_time AS updateTime, create_time AS createTime, extend1, extend2, extend3
    </sql>
    
</mapper>
