<!DOCTYPE html>
<html class="x-admin-sm" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>订单管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
  <link rel="stylesheet" href="/statics/css/font.css">
  <link rel="stylesheet" href="/statics/css/xadmin.css">
  <script type="text/javascript" src="/statics/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="/statics/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="/statics/js/xadmin.js"></script>
  <script type="text/javascript" src="/statics/js/cookie.js"></script>
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
  .searchBigBox {
    border: 1px solid #dedee1;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  }
  .searchItem {
    margin-right: 40px;
  }
  .dataBigBox {
    margin-top: 10px;
    border: 1px solid #dedee1;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  }
</style>

<body>
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="">首页</a>
      <a href="">设备管理</a>
      <a>
        <cite>订单管理</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:12px;float:right"
      href="javascript:location.replace(location.href);" title="刷新">
      <i class="layui-icon" style="line-height:25px"><img src="/statics/images/refresh2.png" alt="" style="width:16px;"></i></a>
  </div>
  <div class="x-body" id="app">
    <xblock>
      <button class="layui-btn layui-btn-danger" onclick="leading_out()"><i class="layui-icon">&#xe714;</i>导出</button>
        <!--<button class="layui-btn layui-btn-danger" lay-submit lay-filter="formDemo"><i class="layui-icon">&#xe714;</i>导出</button>-->
      <button class="layui-btn" onclick="searchs_show()"><i class="layui-icon">&#xe615;</i>查询</button>
      <button class="layui-btn" onclick="data_show()"><i class="layui-icon">&#xe615;</i>数据项</button>
      <span class="x-right" style="line-height:40px">共有数据：<font class="particular"><b>{{totalNum}}</b></font>条 <font class="particular"><b>{{pageNum}}/{{totalPages}}</b></font> 每页<font class="particular"><b>{{pageSize}}</b></font>条</span>
    </xblock>
    <!-- 搜索条件 -->
    <div class="layui-row searchBigBox" id="searchBox" style="overflow:visible;">
      <form class="layui-form layui-col-md12 x-so">
        <div class="form-group col-lg-3">
          <input type="text" name="powerNo" placeholder="请输入充电宝编号" autocomplete="off" class="layui-input searchItem">
          <input type="text" name="orderNo" placeholder="请输入订单号" autocomplete="off" class="layui-input searchItem">
          <input type="text" name="payCount" placeholder="请输入OpenID" autocomplete="off" class="layui-input searchItem">
          <div class="layui-input-inline searchItem">
            <select name="agentName">
              <option value="">请选择代理商</option>
              <option v-for="l in agentList" :value="l.agentName">{{l.agentName}}</option>
            </select>
          </div>
        </div>

        <div class="form-group col-lg-3" style="margin:10px 0;">
          <div class="layui-input-inline searchItem">
            <select name="soleNickname">
              <option value="">请选择销售代表</option>
              <option v-for="sl in soleList" :value="sl.nickname">{{sl.nickname}}</option>
            </select>
          </div>
          <div class="layui-input-inline searchItem">
            <select name="placeName">
              <option value="">请选择场所</option>
              <option v-for="pl in placeList" :value="pl.placeName">{{pl.placeName}}</option>
            </select>
          </div>
          <div class="layui-input-inline searchItem">
            <select name="orderState">
              <option value="">请选择订单状态</option>
              <option value="0">已租借</option>
              <option value="1">已归还</option>
              <option value="2">已支付</option>
            </select>
          </div>
          <div class="layui-input-inline searchItem">
            <select name="orderType">
              <option value="">请选择支付方式</option>
              <option value="0">微信</option>
              <option value="1">支付宝</option>
            </select>
          </div>


        </div>

        <div class="form-group col-lg-3">
          <input class="layui-input searchItem" placeholder="租借时间" name="createTime" id="start">
          <input class="layui-input searchItem" placeholder="归还时间" name="closeTime" id="end">
          <!--<button class="layui-btn" @click.prevent="sreachs()" ><i class="layui-icon">&#xe615;</i></button>-->
          <!--<button type="reset" class="layui-btn layui-btn-primary" @click.prevent="reset()">重置</button>-->
          <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>

      </form>
    </div>

    <!-- 数据项内容 -->
    <div class="layui-row dataBigBox" id="dataBigBox">
      <form class="layui-form" action="">
        <div class="layui-form-item">
          <div class="layui-input-block" style="margin-left:0;">
            <input type="checkbox" name="like[orderNumber]" title="订单编号" lay-filter="c_orderNumber" checked />
            <input type="checkbox" name="like[payMent]" title="支付方式" lay-filter="c_payment" checked>
            <input type="checkbox" name="like[paymentOrder]" title="支付订单号" lay-filter="c_paymentOrder" >
            <input type="checkbox" name="like[userID]" title="用户openID" lay-filter="c_userId" >
            <input type="checkbox" name="like[agency]" title="代理商" lay-filter="c_agency" >
            <input type="checkbox" name="like[saler]" title="销售代表" lay-filter="c_saler" >
            <input type="checkbox" name="like[place]" title="场所" lay-filter="c_place" >
            <input type="checkbox" name="like[placeman]" title="场所管理员" lay-filter="c_placeman" >
            <input type="checkbox" name="like[powerNumber]" title="充电宝编号" lay-filter="c_powerNumber" checked>
            <input type="checkbox" name="like[packageName]" title="套餐名称" lay-filter="c_packageName" >
            <input type="checkbox" name="like[startTime]" title="租借时间" lay-filter="c_startTime" checked>
            <input type="checkbox" name="like[stopTime]" title="归还时间" lay-filter="c_stopTime" checked>
            <input type="checkbox" name="like[orderTime]" title="支付完成时间" lay-filter="c_orderTime" >
            <input type="checkbox" name="like[orderMoney]" title="订单金额" lay-filter="c_orderMoney" checked>
            <input type="checkbox" name="like[orderState]" title="订单状态" lay-filter="c_orderState" checked>
          </div>
        </div>
      </form>
    </div>

    <table class="layui-table">
      <thead>
        <tr>
          <th id="orderNumberTh">订单编号</th>
          <th id="paymentTh">支付方式</th>
          <th id="paymentOrderTh">支付订单号</th>
          <th id="userIDTh">用户openID</th>
          <th id="agencyTh">代理商</th>
          <th id="salerTh">销售代表</th>
          <th id="placeTh">场所</th>
          <th id="placemanTh">场所管理员</th>
          <th id="powerNumberTh">充电宝编号</th>
          <th id="packageNameTh">套餐名称</th>
          <th id="startTimeTh">租借时间</th>
          <th id="stopTimeTh">归还时间</th>
          <th id="orderTimeTh">支付完成时间</th>
          <th id="orderMoneyTh">订单金额</th>
          <th id="orderStateTh">订单状态</th>
          <th id="">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item of orderList">
          <td class="orderNumberTd">{{item.orderNo}}</td>
          <td class="paymentTd">{{item.orderType | format_orderType}}</td>
          <td class="paymentOrderTd">{{item.orderPayNo}}</td>
          <td class="userIDTd">{{item.payCount}}</td>
          <td class="agencyTd">{{item.agentName}}</td>
          <td class="salerTd">{{item.soleNickname}}</td>
          <td class="placeTd">{{item.placeName}}</td>
          <td class="placemanTd">{{item.placeNickname}}</td>
          <td class="powerNumberTd">{{item.powerNo}}</td>
          <td class="packageNameTd">{{item.chargeName}}</td>
          <td class="startTimeTd">{{item.createTime | formatDate}}</td>
          <td class="stopTimeTd">{{item.closeTime | formatDate}}</td>
          <td class="orderTimeTd">{{item.finishTime | formatDate}}</td>
          <td class="orderMoneyTd">{{item.money}}</td>
          <td class="orderStateTd">{{item.orderState | orderState}}</td>
          <td class="td-manage">
            <a title="删除" href="javascript:;" @click="member_del(item)">
              <i class="layui-icon">&#xe640;</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="page">
      <a v-if="pageNum>1" v-on:click="pageNum--,pageClick()">&lt;&lt;</a>
      <a v-if="pageNum==1" class="num current">&lt;&lt;</a>
      <a v-for="index in indexs" v-bind:class="{'sefirst' : pageNum == index}" v-on:click="btnClick(index)">{{index}}</a>
      <a v-if="pageNum!=totalPages" v-on:click="pageNum++,pageClick()" class="num">&gt;&gt;</a>
      <a v-if="pageNum == totalPages" class="banclik">&gt;&gt;</a>

      <font style="color:#999;">到第</font>
      <input type="text" class="pageNumber" v-model="pageNumber">
      <font style="color:#999;">页</font>
      <button  class="pageOK" @click="btnOK()">确定</button>
    </div>

  </div>
  <script src="/statics/js/vue.min.js"></script>
  <script src="/statics/js/vue-resource.js"></script>
  <script src="/statics/js/order_list.js"></script>
  <script>



   function leading_out(){
    layer.confirm('确定导出订单列表吗?', {icon: 3, title:'提示'}, function(index){
        layer.close(index);
        location.href="/manage/order/excelOrder"
    });
   }

  </script>

  <script>

    var orderList =new Vue({
      el: "#app",
      data: {
          orderList: [],
          pageNum:1, //当前页数
          pageSize:1, //每页数量
          isFirstPage:false,
          totalPages:0, //总页数
          isLastPage:false,
          totalNum:0, //总数量
          pageNumber:1,
          // powerNo:'',
          // orderNo:'',
          // payCount:'',
          // agentName:'',
          // soleNickname:'',
          // placeName:'',
          // orderState:'',
          // orderType:'',
          // createTime:'',
          // closeTime:'',
          soleList:[],
          // deviceList:[],
          // chargeList:[],
          agentList:[],
          placeList:[],
      },
        methods: {
            // reset:function(){
            //     var _this = this;
            //     _this.powerNo=''
            //     _this.orderNo=''
            //     _this.payCount=''
            //     _this.agentName=''
            //     _this.soleNickname=''
            //     _this.placeName=''
            //     _this.orderState=''
            //     _this.orderType=''
            //     _this.createTime=''
            //     _this.closeTime=''
            // },
            // sreachs:function () {
            //     var _this = this;
            //     this.$http.post('/manage/order/getPayOrderAll',
            //         {   powerNo:this.powerNo,
            //             orderNo:this.orderNo,
            //             payCount:this.payCount,
            //             agentName:this.agentName,
            //             soleNickname:this.soleNickname,
            //             placeName:this.placeName,
            //             orderState:this.orderState,
            //             orderType:this.orderType,
            //             createTime:this.createTime,
            //             closeTime:this.closeTime,
            //         },{emulateJSON:false}).then(function(res){
            //         _this.orderList = res.body.list;
            //         // console.log("/device/listDate")
            //         // console.log( res.body);
            //         _this.pageNum=res.body.pageNum
            //         _this.pageSize=res.body.pageSize
            //         _this.isFirstPage=res.body.isFirstPage
            //         _this.totalPages=res.body.pages
            //         _this.isLastPage=res.body.isLastPage
            //         _this.totalNum = res.body.total
            //     },function(res){
            //         console.log(res.status);
            //     });
            // },
            member_del(b){
                layer.confirm('确认要删除吗？',function(index){
                    $.ajax({ type:'post',url: "/manage/order/del", data: JSON.stringify(b), contentType: "application/json",
                        success: function(date){
                            //捉到所有被选中的，发异步进行删除
                            layer.msg('删除成功', {icon: 1});
                            $(".layui-form-checked").not('.header').parents('tr').remove();
                            location.reload();
                        }

                    });
                });
            },
            btnOK:function(data){
                var _this = this;
                // this.pageNum=this.pageNumber
                if(this.pageNumber>this.totalPages){
                    this.pageNumber=this.totalPages
                    // this.pageNum=this.pageNumber
                }
                this.$http.post('/manage/order/getPayOrderAll',
                    {pageNum:this.pageNumber,pageSize:10},{emulateJSON:false}).then(function(res){
                    // console.log(res.body)
                    _this.orderList = res.body.list
                    _this.pageNum=res.body.pageNum
                    _this.pageSize=res.body.pageSize
                    _this.isFirstPage=res.body.isFirstPage
                    _this.totalPages=res.body.pages
                    _this.isLastPage=res.body.isLastPage
                    _this.totalNum = res.body.total
                });

            },
            btnClick: function(data){//页码点击事件
                var _this = this;
                if(data != this.pageNum){
                    _this.pageNumber = data
                    this.$http.post('/manage/order/getPayOrderAll',
                        {pageNum:data,pageSize:10},{emulateJSON:false}).then(function(res){

                        // console.log(res.body)
                        _this.orderList = res.body.list
                        _this.pageNum=res.body.pageNum
                        _this.pageSize=res.body.pageSize
                        _this.isFirstPage=res.body.isFirstPage
                        _this.totalPages=res.body.pages
                        _this.isLastPage=res.body.isLastPage
                        _this.totalNum = res.body.total
                        if(null == res){
                        }
                    },function(res){
                        console.log(res.status);
                    });

                }
            },
            pageClick: function(reccept,event) {
                //父组件通过change方法来接受当前的页码
                //这里是点击下一页执行函数
                var _this = this
                _this.pageNumber = _this.pageNum
                this.$http.post('/manage/order/getPayOrderAll',
                    {pageNum:_this.pageNum,pageSize:10},{emulateJSON:false}).then(function(res){

                    // console.log(res.body)
                    _this.orderList = res.body.list
                    _this.pageNum=res.body.pageNum
                    _this.pageSize=res.body.pageSize
                    _this.isFirstPage=res.body.isFirstPage
                    _this.totalPages=res.body.pages
                    _this.isLastPage=res.body.isLastPage
                    _this.totalNum = res.body.total
                    if(null == res){
                    }
                },function(res){
                    console.log(res.status);
                });


            }


        },computed: {
            indexs: function () {
                this.all = Math.ceil(this.totalNum / this.pageSize);
                console.log(this.all)
                var left = 1;
                var right = this.all;

                var ar = [];
                if (this.all >= 5) {
                    if (this.pageNum> 3 && this.pageNum < this.all - 2) {
                        left = this.pageNum - 2
                        right = this.pageNum + 2
                    } else {
                        if (this.pageNum <= 3) {
                            left = 1
                            right = 5
                        } else {
                            right = this.all
                            left = this.all - 4
                        }
                    }
                }
                while (left <= right) {
                    ar.push(left)
                    left++
                }
                console.log(ar)
                return ar
            }
        },
        mounted:function () {
            var _this = this;
            this.$http.post('/manage/order/getPayOrderAll',
                {},{emulateJSON:false}).then(function(res){
                console.log("/manage/order/getPayOrderAll")
                console.log(res.body)
                _this.orderList = res.body.list
                _this.pageNum=res.body.pageNum
                _this.pageSize=res.body.pageSize
                _this.isFirstPage=res.body.isFirstPage
                _this.totalPages=res.body.pages
                _this.isLastPage=res.body.isLastPage
                _this.totalNum = res.body.total
                if(null == res){

                }
            });
            this.$http.post('/findAllAgentInfo',{emulateJSON:false}).then(function(res){
                _this.agentList = res.body.list});
            this.$http.post('/findAllSoleUser',{emulateJSON:false}).then(function(res){
                _this.soleList = res.body.list});
            // this.$http.post('/device/listDate',{emulateJSON:false}).then(function(res){
            //     _this.deviceList = res.body.list});
            // this.$http.post('/findAllChargeInfo',{emulateJSON:false}).then(function(res){
            //     _this.chargeList = res.body.list});
            this.$http.post('/findAllPlaceInfo',{emulateJSON:false}).then(function(res){
                _this.placeList = res.body.list});
        },

        filters: {
            formatDate: function (val) {
                if(null == val){
                    return '-'
                }

                var value = new Date(val);
                var year = value.getFullYear();
                var month = padDate(value.getMonth() + 1);
                var day = padDate(value.getDate());
                var hour = padDate(value.getHours());
                var minutes = padDate(value.getMinutes());
                var seconds = padDate(value.getSeconds());
                return year + '-' + month + '-' + day + ' ' + hour + ':' + minutes + ':' + seconds;
            },
            orderState: function (val) {
                var state = '';
                val == 0 ? state ='已租借': (val == 1 ? state ='已归还':(val == 2 ? state ='已支付':state=''))
                return state
            },
            format_orderType: function (val) {
                var state = '';
                val == 0 ? state ='微信': (val == 1 ? state ='支付宝':'')
                return state
            }
        }
    })

    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){

            layer.msg(JSON.stringify(data.field));
            console.log(JSON.stringify(data.field))
            $.ajax({
                type:'post',
                url: "/manage/order/getPayOrderAll",
                contentType: "application/json;charset=utf-8",
                async : false,
                dataType : 'json',
                data :JSON.stringify(data.field),
                success: function(res){
                    var _this = orderList;
                    // var dataObj=eval("("+res+")");
                    // // console.log("/btnClick")
                    console.log(res)
                    console.log(res.list)
                    console.log(_this.orderList)
                    _this.orderList = res.list
                    _this.pageNum=res.pageNum
                    _this.pageSize=res.pageSize
                    _this.isFirstPage=res.isFirstPage
                    _this.totalPages=res.pages
                    _this.isLastPage=res.isLastPage
                    _this.totalNum = res.total
                }

            });
            return false;
        });
    });




    var padDate=function(va) {
        va = va < 10 ? '0' + va : va;
        return va
    }



    layui.use('laydate', function () {
        var _orderList = orderList;
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#start', //指定元素
            done:function (val) {
                _orderList.createTime = val
            }
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end', //指定元素
            done:function (val) {
                _orderList.closeTime = val
            }
        });
    });


  </script>
</body>

</html>