<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">

<style>
	input[name='textVal'],input[name='timeVal']{
		width:50px;
	}
	.unit li,.time li{
		margin-bottom:10px;
	}
	.banner-box{
		width:350px;
		height:150px;
		border:1px solid #e5e6e7;
		background:url(../../img/banner-add.png) no-repeat center;
		background-size:45px 45px;
		position: relative;
		box-sizing: content-box;
	}
	.downloadPic{
		width:100%;
		height:100%;
		opacity: 0;
		position: absolute;
		top:0;
		left:0;
		z-index:2;
	}
	.banner-img{
		position: absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		z-index:1;
	}
	.add-img{
		position: absolute;
		width:24px;
		height:24px;
		line-height:24px;
		text-align:center;
		left:0;
		bottom:0;
		top:0;
		right:0;
		margin:auto;
		font-size:32px;
		z-index:0;
	}
	.banner-size{
		float: right !important;
		margin-top: -15px;
	}
</style>
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/layui/css/layui.css}" rel="stylesheet"/>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-article-edit">
			<div class="col-md-12">
				<div class="form-group">
					<label class="col-sm-3 control-label">Banner图片：</label>
					<div class="col-sm-8">
						<div class="banner-box">
							<input class="downloadPic" type="file" name="file" id="downloadPic" accept="image/*" >
							<img class="banner-img" src="" alt="" id="bannerImgUrl">
							<p class="add-img">+</p>
						</div>
					</div>
					<p class="col-sm-3 banner-size">700*300px</p>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">标题：</label>
					<div class="col-sm-9">
						<input type="text" name="title" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">副标题：</label>
					<div class="col-sm-9">
						<textarea type="text" name="shortText" class="form-control"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">分类：</label>
					<div class="col-sm-9">
						<select name="classifyId" th:with="type=${classify}">
							<option th:each="dict : ${type}" th:text="${dict.name}" th:value="${dict.id}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">开始时间：</label>
					<div class="col-sm-9 select-time">
						<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="publishTime"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">结束时间：</label>
					<div class="col-sm-9 select-time">
						<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="pastTime"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">正文：</label>
					<div class="col-sm-9">
						<textarea style="display: none;" id="bjq" type="text" rows="12" name="fullText" class="form-control"></textarea>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script th:src="@{/ajax/libs/layui/layui.all.js}"></script>
	<script>
        var layedit;
        var editor;
        var isFirst = true; /* 首次执行提交 */
        layui.use(['laydate','layedit'], function(){
            var laydate = layui.laydate;
            layedit = layui.layedit;
            layedit.set({
                uploadImage: {
                    url: '/content/article/uploadImage' //接口url
                    ,type: 'post' //默认post
                }
            });
            editor = layedit.build('bjq');
           var startTime = laydate.render({
                elem: '#startTime',
                type: 'datetime',
                btns: ['now', 'confirm']
            });
           var endTime =  laydate.render({
                elem: '#endTime',
                type: 'datetime',
                btns: ['now', 'confirm']
            });
        });
        /* 图片在前端预览 */
        var pictureSuffix ="";
        var pictureBase64 = "";
        $("#downloadPic").change(function(e,type){
            var files = e.target.files;
            var file = files[0];
            var fileSize = file.size;
            if (!/\/(?:jpeg|jpg|png)/i.test(file.type)){
                $.modal.alertError("上传图片格式只能为jpeg,jpg,png");
                return;
            }
            var reader = new FileReader();
            reader.onload = function() {
                if(fileSize-0 > 1048576){
                    $.modal.alertError("上传图片不能超过1M");
                    return false;
                }
                var result = this.result;
                $("#bannerImgUrl").attr("src",result);
                /* console.log(result) */
                pictureSuffix = file.type.split("/")[1];
                pictureBase64 = result.split(",")[1];
                /* console.log(pictureSuffix,pictureBase64) */
            };
            reader.readAsDataURL(file);
        });

        $("#form-perpetual-edit").validate({
        	submitHandler:function(form){
        		edit();
        	}
        });
        
        function submitHandler() {
	        if ($.validate.form()) {
	        	if(isFirst){
	        		edit();
	        	}
	        }
	    }

        function edit() {
            var content=layedit.getContent(editor);
            var id = $("input[name='id']").val();
            var title = $("input[name='title']").val();
            var shortText = $("textarea[name='shortText']").val();
            var classifyId = $("select[name='classifyId']").val();
            var publishTime = $("input[name='publishTime']").val();
            var pastTime = $("input[name='pastTime']").val();
            var fullText = content;
            
            $.ajax({
        		cache : true,
        		type : "POST",
        		url : ctx + "content/article/add",
        		data : {
        			"id": id,
        			"title": title,
        			"shortText": shortText,
                    "classifyId":classifyId,
        			"publishTime": publishTime,
        			"pastTime": pastTime,
        			"fullText": fullText,
                    "pictureSuffix":pictureSuffix,
                    "pictureBase64":pictureBase64
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(data) {
        			isFirst = false;
        			$.operate.saveSuccess(data);
        		}
        	});
        }
    </script>
</body>
</html>
