<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="micro-form">
					<div class="select-list">
						<ul>
							<li class="select-time">
								<label>开始时间：</label>
								<input name="params[status]"  type="hidden" value="2"/>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<label>分类： </label><select name="classifyId" th:with="type=${classify}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.name}" th:value="${dict.id}"></option>
							</select>
							</li>
							<li>
								<label>状态： </label><select name="status" th:with="type=${@dict.getType('article_status')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
							</li>
							<li>
								<label>搜索： </label><input type="text" name="title"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="content:article:add">
					<i class="fa fa-plus"></i> 新增
				</a>
			</div>

			<div class="col-sm-12 select-table table-striped" style="overflow: overlay;height: 90%;">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		var datas = [[${@dict.getType('article_status')}]];
		var prefix = ctx + "content/article";

		$(function() {
		    var options = {
		        url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
		        sortName: "",
		        sortOrder: "",
		        modalName: "活动中心管理",
		        search: false,
		        showExport: false,
		        columns: [
		        {
		            field: 'id',
		            title: 'ID'
		        },
		        {
		            field: 'title',
		            title: '标题'
		        },
				{
					field: 'shortText',
					title: '副标题'
				},
				{
					field: 'imageUrl',
					title: '图片',
                    formatter: function(value, row, index) {
                        var url = value;
                        if (url != null) {
                            url = '<a class = "view" href="javascript:void(0)"><img style="height:100px;" src="' + url + '" /></a>';
                        }
                        return url;
                    }
				},
				{
					field: 'classifyName',
					title: '分类'
				},
				{
					field: 'createTime',
					title: '创建时间'
				},
				{
					field: 'publishTime',
					title: '开始时间'
				},
		        {
		            field: 'pastTime',
		            title: '结束时间',
		        },
		        {
		            field: 'statusVo',
		            title: '状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
		        },
				{
					title: '操作',
					align: 'center',
                    field: 'published',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<a class="btn btn-success btn-xs" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
						actions.push('<a class="btn btn-danger btn-xs" href="#" onclick="deleteById(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        if (value == 1) {
                            var html = "<i class=\"fa\"></i>隐藏</a> ";
                            var btn = "btn-danger"
                        } else {
                            var html = "<i class=\"fa\"></i>显示</a> ";
                            var btn = "btn-info"
                        }


                        actions.push('<a class="btn '+btn+' btn-xs" href="#" onclick="published(\'' + row.id + '\')">'+html);
						return actions.join('');
					}
				}]
		    };
		    $.table.init(options);
		});

        /*显示隐藏*/
        function published(articleId) {
            $.post(prefix+"/published",
                {articleId:articleId},
                function(data){
                    if (data.code == 200) {
                        $(".glyphicon-refresh").click();
                    } else {
                        alert(data.message);
                    }
                });
        }
        /*删除*/
        function deleteById(articleId) {
            var msg = "您真的确定要删除吗？\n\n请确认！";
            if (confirm(msg)==true){
                $.post(prefix+"/deleteById",
                    {articleId:articleId},
                    function(data){
                        if (data.code == 200) {
                            $(".glyphicon-refresh").click();
                        } else {
                            alert(data.message);
                        }
                    });
            }

        }
	</script>
</body>
</html>