<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-withdraw-edit" th:object="${withdrawOrder}">
			<input name="withdrawOrderId"  type="hidden"  th:field="*{withdrawOrderId}" />
			<input name="status"  type="hidden"  th:field="*{status}" />
			<div class="form-group">
				<label class="col-sm-3 control-label ">请输入原因：</label>
				<div class="col-sm-8">
					<textarea id="remark"  name="remark" class="form-control" th:field="*{remark}">[[*{remark}]]</textarea>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script>

        $(function () {
         var status = $("#status").val();
            if (status == 0) {
                $("#remark").attr("required", true);
            }
        });

        $("#form-withdraw-edit").validate({
        	submitHandler:function(form){
        		edit();
        	}
        });
        
        function submitHandler() {
	        if ($.validate.form()) {
	        	edit();
	        }
	    }

        function edit() {
        	var orderNo = $("input[name='withdrawOrderId']").val();
        	var status = $("input[name='status']").val();
        	var remark = $("textarea[name='remark']").val();
        	$.ajax({
        		cache : true,
        		type : "POST",
                url : ctx + "audit/withdraw/audit",
        		data : {
        			"orderNo": orderNo,
        			"status": status,
        			"remark": remark
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(data) {
                    if (data.code != 200) {
                        $.modal.alertError(data.message);
                        return;
                    }
                    parent.parent.location.reload();
        			$.operate.saveSuccess(data);
        		}
        	});
        }
    </script>
</body>
</html>
