<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<style>
	.recharge-amount{
		overflow:hidden;
	}
	.search-collapse-first{
		padding:0 !important;
		height:200px;
		display:flex;
		align-items: center;
	}
	.recharge-amount li{
		width:223px;
		height:157px;
		border:1px solid #e5e5e5;
		padding:15px 0 0 15px;
		float:left;
		margin-left:40px;
	}
	.recharge-amount .recharge-title{
		font-size:14px;
		margin-bottom:25px;
	}
	.recharge-amount div{
		font-size:18px;
		color:#ff942f;
	}
	.recharge-amount label{
		margin-bottom:15px;
	}
    .fixed-table-container thead th .sortable{
        background-position: left !important;
    }
    .fixed-table-container thead th .th-inner{
        padding-left: 20px !important;
    }
</style>
<head th:include="include :: header"></head>
<body class="gray-bg">
	
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse search-collapse-first">
				<div th:object="${map}">
					<ul class="recharge-amount">
						<li>
							<label class="recharge-title">通过邀请注册总人数： </label>
							<div>
								<label>[[*{labourNum}]]</label><br/>
							</div>
						</li>
						<li>
							<label class="recharge-title">累计赠送奖励： </label>
							<div>
								<label>[[*{labourMon}]] BITT</label>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12 search-collapse">
				<form id="micro-form">
					<div class="select-list">
						<ul>
							<li>
								<label>搜索： </label><input type="text" placeholder="支持搜索账户、姓名" name="params[condition]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="labour:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		var prefix = ctx + "labour";
		$(function() {
		    var options = {
		        url: prefix + "/list",
                exportUrl: prefix + "/export",
		        sortName: "ula.create_time",
		        sortOrder: "desc",
		        modalName: "用户信息列表",
		        search: false,
		        showExport: false,
		        columns: [
		        {
		            field: 'loginName',
		            title: '账户'
		        },
		        {
		            field: 'realName',
		            title: '姓名'
		        },
				{
					field: 'labourSum',
					title: '总邀请人数',
                    formatter: function(value, row, index) {
                        var actions = [];
                        var twoActive = row.totalActive - row.oneActive;
                        actions.push('<span>共计：'+value+' </span><br/><span>认证：'+row.totalAuth+' </span><br/><span>活跃：'+row.totalActive+' </span>');
                        return actions.join('');
                    }
				},
				{
					field: 'labourTwo',
					title: '一级人数',
                    sortable: true,
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<span>共计：'+value+' </span><br/><span>认证：'+row.oneAuth+' </span><br/><span>活跃：'+row.oneActive+' </span>');
                        return actions.join('');
                    }
				},
				{
					field: 'labourThree',
					title: '二级人数',
                    formatter: function(value, row, index) {
                        var actions = [];
                        var twoActive = row.totalActive - row.oneActive;
                        var twoAuth = row.totalAuth - row.oneAuth;
                        actions.push('<span>共计：'+value+' </span><br/><span>认证：' + twoAuth + ' </span><br/><span>活跃：'+ twoActive +' </span>');
                        return actions.join('');
                    }
				},
				{
					field: 'totalVolume',
					title: '累积推广收益',
                    formatter: function(value, row, index) {
                        return value == null?"--":value;
                    }
				},
		        {
		            field: 'totalBalance',
		            title: '累计奖励',
                    sortable: true,
                    formatter: function(value, row, index) {
                        return value == null?"--":value+" BITT";
                    }
		        },
		        {
		            field: 'balance',
		            title: '可提奖励',
                    sortable: true,
                    formatter: function(value, row, index) {
                        return value == null?"--":value+" BITT";
                    }
		        },
		        {
		            field: 'totalWithdraw',
		            title: '已提奖励',
                    sortable: true,
                    formatter: function(value, row, index) {
                        return value == null?"--":value+" BITT";
                    }
		        }]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>