<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>人群画像分析</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <style>
        .dashboard-header {
            width: 100%;
            height: 100%
        }
        .areaDistributionDataItem {
            line-height: 15px;
        }
        .areaDistributionDataItem td {
            text-align: left;
            width: 10%;
            padding: 10px;
        }
        .areaDistributionDataItem:hover {
            background-color: #f2f2f2;
        }
    </style>
</head>
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="row dashboard-header">
    <!--地域分布整体布局-->
    <div style="border-bottom: 1px solid #e0e0e0;height: 500px;width: 98%;background: #fff;margin-left: 1%;">
        <!-- 头 -->
        <div style="border-bottom-color: #1E9FFF;border: 1px;height: 45px;margin: 0 22px;border-bottom: 1px solid #e0e0e0;">
            <!--左边-->
            <div style="position: relative;height: 100%;width: 80px;color: #000;border-bottom: 2px solid #1f73f3;">
                <span style="margin-left: 11px;position: relative;top: 14px;font-size: 14px;color: #000;">
                    地域分布
                </span>
            </div>
            <!--右边-->
            <div style="position: relative;float: right;bottom: 29px;right: 10px;">
                <div>
                    <!--时间区间-->
                    <span type="text" class="layui-input" id="regionDistributionTimeSection" style="cursor:pointer;">
                    </span>
                </div>
            </div>
        </div>

        <!--中间统计数据-->
        <div>
            <!--右边数据-->
            <div style="border-bottom: 1px solid #e0e0e0;
                        width: 98%;
                        background: #fff;
                        margin-left: 1%;">
                <!--上面选项-->
                <div style="height: 48px;">
                    <span class="layui-breadcrumb" lay-separator="" style="position: relative;top: 16px;left: 10px;">
                      <a id="groupTypeProvince">省份</a>
                      <a id="groupTypeCity">城市</a>
                    </span>
                </div>
                <!--数据-->
                <div>
                    <div>
                        <table id="areaDistributionData" style="width: 100%">
                            <tr class="areaDistributionDataItem">
                                <td style="text-align: center">
                                    正在加载...
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--人群属性整体布局-->
    <div style="border-bottom: 1px solid #e0e0e0;height: 900px;width: 98%;background: #fff;margin-left: 1%;">
        <!-- 头 -->
        <div style="border-bottom-color: #1E9FFF;border: 1px;height: 45px;margin: 0 22px;border-bottom: 1px solid #e0e0e0;">
            <!--左边-->
            <div style="position: relative;height: 100%;width: 80px;color: #000;border-bottom: 2px solid #1f73f3;">
                <span style="margin-left: 11px;position: relative;top: 14px;font-size: 14px;color: #000;">
                    人群属性
                </span>
            </div>

            <!--右边-->
            <div style="position: relative;float: right;bottom: 29px;right: 10px; z-index: 2">
                <div>
                    <!--时间区间-->
                    <span type="text" class="layui-input" id="ageDistributionTimeSection" style="cursor:pointer;">
                    </span>
                </div>
            </div>
        </div>

        <div style="height: 500px; position: relative; bottom: 70px">
            <!--年龄分布-->
            <div id="ageDistributionChart" style="width: 50%; height: 100%; float: left;z-index: 1">

            </div>

            <!--性别分布-->
            <div id="sexDistributionChart" style="width: 50%; height: 100%; float: left; bottom: 20px;z-index: 1">

            </div>

            <!--星座分布-->
            <div id="constellationDistributionChart" style="width: 100%; height: 100%; float: left; bottom: 250px;z-index: 1">

            </div>

            <!--生肖分布-->
            <div id="zodiacDistributionChart" style="width: 100%; height: 100%; float: left; bottom: 500px;z-index: 1">

            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/ruoyi/js/common.js?v=3.0.0}"></script>
<script th:inline="javascript"> var ctx = [[@{/}]]; </script>
<script th:src="@{/ruoyi/js/ry-ui.js?v=3.0.0}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>

<div th:include="include :: footer">

</div>
<script th:inline="javascript">
    // 当前时间
    var currentTime = new Date();
    // 当前时间前30天
    var currentTimeThirtyDaysBefore = new Date(currentTime.getTime() - 30 * 24 * 60 * 60 * 1000);

    // 默认选择省份
    var groupType = 1;
    
    layui.use('laydate', function () {
        /* 时间选择器 */
        var laydate = layui.laydate;
        // 地域分布的时间选择器
        laydate.render({
            elem: '#regionDistributionTimeSection',
            type: 'date',
            theme: 'grid',
            range: '~',
            max: 0,
            format: 'yyyy/M/dd',
            value: currentTimeThirtyDaysBefore.toLocaleDateString() + " ~ " + currentTime.toLocaleDateString(),
            btns: ['now', 'confirm'],
            done: function (value) {
                var timeSection = value.split("~");
                var startTime = Date.parse(timeSection[0]);
                var endTime = Date.parse(timeSection[1] + ' 23:59:59');
                initAreaData(groupType, startTime, endTime);
            }
        });

        // 人群属性的时间选择器
        laydate.render({
            elem: '#ageDistributionTimeSection',
            type: 'date',
            theme: 'grid',
            range: '~',
            max: 0,
            format: 'yyyy/M/dd',
            value: currentTimeThirtyDaysBefore.toLocaleDateString() + " ~ " + currentTime.toLocaleDateString(),
            btns: ['now', 'confirm'],
            done: function (value) {
                var timeSection = value.split("~");
                var startTime = Date.parse(timeSection[0]);
                var endTime = Date.parse(timeSection[1] + ' 23:59:59');
                initAgeChartData(startTime, endTime);
                initSexChartData(startTime, endTime);
                initConstellationChartData(startTime, endTime);
                initZodiacChartData(startTime, endTime);
            }
        });
        // 初始化所有数据
        initAllData();
    });

    function initAllData() {
        // 初始化地域分布数据
        initAreaData(groupType, currentTimeThirtyDaysBefore.getTime(), currentTime.getTime());
        // 初始化年龄分布图
        initAgeChartData(currentTimeThirtyDaysBefore.getTime(), currentTime.getTime());
        // 初始化年龄分布图
        initSexChartData(currentTimeThirtyDaysBefore.getTime(), currentTime.getTime());
        // 初始化星座分布图
        initConstellationChartData(currentTimeThirtyDaysBefore.getTime(), currentTime.getTime());
        // 初始化生肖分布图
        initZodiacChartData(currentTimeThirtyDaysBefore.getTime(), currentTime.getTime());
    }

    // 省份分组点击
    $('#groupTypeProvince').on('click', function () {
        groupType = 1;
        var time = ($('#regionDistributionTimeSection').text() + '').split("~");
        initAreaData(groupType, Date.parse(time[0]), Date.parse(time[1] + ' 23:59:59'));
    });

    // 城市分组点击
    $('#groupTypeCity').on('click', function () {
        groupType = 2;
        var time = ($('#regionDistributionTimeSection').text() + '').split("~");
        initAreaData(groupType, Date.parse(time[0]), Date.parse(time[1] + ' 23:59:59'));
    });

    /*
    * 地域分布数据
    * */
    function initAreaData(groupType, startTime, endTime){
        $.ajax({
            cache: true,
            type: "POST",
            url: ctx + "portrait/getAreaData",
            data: {
                "startTime": startTime,
                "endTime": endTime,
                "groupType": groupType
            },
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                var result = data.result;
                var d = '';
                if (result.length > 0){
                    var totalNum = 0;
                    for (var i = 0; i < result.length; i++) {
                        totalNum += result[i].num;
                    }
                    $('#areaDistributionData').html('');
                    for (var i = 0; i < result.length; i++) {
                        var r = result[i];
                        d += '<tr class="areaDistributionDataItem">' + '<td>' + (i + 1 + ".") + '</td>' +
                            '<td >' + r.portraitType + '</td>' +
                            '<td >' + r.num + '</td>' +
                            '<td >' + '<progress value=' + r.num  + ' max=' + totalNum + '></progress>' + '</td>' +
                            '</tr>';
                    }
                }else{
                    var noData = '暂无数据';
                    d +=
                        '<tr class="areaDistributionDataItem">' +
                        '<td style="text-align: center">' +
                        noData +
                        '</td>' +
                        '</tr>';
                }
                $('#areaDistributionData').html(d);
            }
        });
    }

    /**
     * 年龄分布
     */
    var ageDistributionChart = echarts.init(document.getElementById('ageDistributionChart'));
    ageDistributionChart.title = '年龄分布';
    // 使用刚指定的配置项和数据显示图表。
    var ageDistributionChartOption = {
        title: {
            top: '20%',
            left: '5%',
            text: '',
            subtext: '年龄分布'
        },
        color: ['#3398DB'],
        tooltip : {
            trigger: 'axis',

            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'none'
            }
        },
        grid: {
            top: '30%',
            left: '15%',
            right: '20%',
            bottom: '40%'
        },
        xAxis : [
            {
                type : 'category',
                name: '',
                data : ['≤19','20~29','30~39','40~49','≥50'],
                axisTick: {
                    show: false,
                    alignWithLabel: false
                },
                inside: true,
                textStyle: {
                    color: '#fff'
                },
                axisLine:{
                    lineStyle:{
                        color: '#898989',
                        width: 1.5
                    }
                }
            }
        ],
        yAxis : [
            {
                axisLine: {
                    show: false
                },
                axisTick: {
                    show: false
                },
                type : 'value',
                name: '',
                max: 0,
                axisLabel: {
                    show: true,
                    interval: 'auto',
                    formatter: function(value){
                        return (value / 1) * 100 + '%';
                    },
                    textStyle: {
                        color: '#999'
                    }
                },
            }
        ],
        series : [
            {
                name:'总量',
                type:'bar',
                data:[0,0,0,0,0],
                barWidth: '20%',
                itemStyle: {
                    normal: {color: 'rgba(0,0,0,0.05)'}
                },
                barGap:'-100%',
                animation: false
            },
            {
                name:'数量',
                type: 'bar',
                barWidth: '20%',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 1, color: '#33c6f7'},
                            ]
                        )
                    },
                    emphasis: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 1, color: '#38d9ff'}
                            ]
                        )
                    }
                },
                data: [0,0,0,0,0]
            }
        ]
    };
    ageDistributionChart.setOption(ageDistributionChartOption);
    function initAgeChartData(startTime, endTime) {
        $.ajax({
            cache: true,
            type: "POST",
            url: ctx + "portrait/getAgeData",
            data: {
                "startTime": startTime,
                "endTime": endTime
            },
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                var totalNum = 0;
                for (var i = 0; i < data.result.length; i++) {
                    totalNum += data.result[i];
                }
                if (totalNum !== 0){
                    // 填入数据
                    ageDistributionChart.setOption({
                        yAxis : [
                            {
                                max: totalNum,
                                axisLabel: {
                                    formatter: function(value){
                                        return (value / totalNum).toFixed(2) * 100 + '%';
                                    }
                                }
                            }
                        ],
                        series : [
                            {
                                data:[totalNum,totalNum,totalNum,totalNum,totalNum]
                            },
                            {
                                data: data.result
                            }
                        ]
                    });
                } else {
                    // 填入数据
                    ageDistributionChart.setOption({
                        yAxis : [
                            {
                                max: 0,
                                axisLabel: {
                                    formatter: function(value){
                                        return (value / 1).toFixed(2) * 100 + '%';
                                    }
                                }
                            }
                        ],
                        series : [
                            {
                                data:[0,0,0,0,0]
                            },
                            {
                                data: [0,0,0,0,0]
                            }
                        ]
                    });
                }
            }
        });
    }

    /**
     * 性别分布
     */
    var sexDistributionChart = echarts.init(document.getElementById('sexDistributionChart'));
    sexDistributionChart.title = '性别分布';
    // 使用刚指定的配置项和数据显示图表。
    var sexDistributionChartOption = {
        title: {
            top: '20%',
            left: '5%',
            text: '',
            subtext: '性别分布'
        },
        color: ['#3398DB'],
        tooltip : {
            trigger: 'axis',

            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'none',
            }
        },
        grid: {
            top: '30%',
            left: '15%',
            right: '20%',
            bottom: '40%'
        },
        xAxis : [
            {
                type : 'category',
                name: '',
                data : ['男','女'],
                axisTick: {
                    show: false,
                    alignWithLabel: false
                },
                inside: true,
                textStyle: {
                    color: '#fff'
                },
                axisLine:{
                    lineStyle:{
                        color: '#898989',
                        width: 1.5
                    }
                }
            }
        ],
        yAxis : [
            {
                axisLine: {
                    show: false
                },
                axisTick: {
                    show: false
                },
                type : 'value',
                name: '',
                max: 0,
                axisLabel: {
                    show: true,
                    interval: 'auto',
                    formatter: function(value){
                        return (value / 1) * 100 + '%';
                    },
                    textStyle: {
                        color: '#999'
                    }
                }
            }
        ],
        series : [
            {
                name:'总量',
                type:'bar',
                data:[0,0],
                barWidth: '20%',
                itemStyle: {
                    normal: {color: 'rgba(0,0,0,0.05)'}
                },
                barGap:'-100%',
                animation: false
            },
            {
                name:'数量',
                type: 'bar',
                barWidth: '20%',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 1, color: '#33c6f7'}
                            ]
                        )
                    },
                    emphasis: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 1, color: '#38d9ff'}
                            ]
                        )
                    }
                },
                data: [0,0]
            }
        ]
    };
    sexDistributionChart.setOption(sexDistributionChartOption);
    function initSexChartData(startTime, endTime) {
        $.ajax({
            cache: true,
            type: "POST",
            url: ctx + "portrait/getSexData",
            data: {
                "startTime": startTime,
                "endTime": endTime
            },
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                var result = data.result;
                var xAxisData = [];
                var yAxisData = [];
                var totalNum = 0;
                for (var i = 0; i < result.length; i++) {
                    xAxisData[i] = result[i].portraitType;
                    yAxisData[i] = result[i].num;
                    totalNum += result[i].num;
                }
                var option = '';
                if (totalNum > 0) {
                    // 填入数据
                    option = {
                        xAxis : [
                            {
                                data : xAxisData
                            }
                        ],
                        yAxis : [
                            {
                                max: totalNum,
                                axisLabel: {
                                    formatter: function(value){
                                        return (value / totalNum).toFixed(2) * 100 + '%';
                                    }
                                }
                            }
                        ],
                        series : [
                            {
                                data:[totalNum,totalNum]
                            },
                            {
                                data: yAxisData
                            }
                        ]
                    }
                }else {
                    // 填入数据
                    option = {
                        xAxis : [
                            {
                                data : ['男','女']
                            }
                        ],
                        yAxis : [
                            {
                                max: 0,
                                axisLabel: {
                                    formatter: function(value){
                                        return (value / 1).toFixed(2) * 100 + '%';
                                    }
                                }
                            }
                        ],
                        series : [
                            {
                                data: [0,0]
                            },
                            {
                                data: [0,0]
                            }
                        ]
                    }
                }
                sexDistributionChart.setOption(option);
            }
        });
     }

    /**
     * 星座分布
     */
    var constellationDistributionChart = echarts.init(document.getElementById('constellationDistributionChart'));
    constellationDistributionChart.title = '星座分布';
    // 使用刚指定的配置项和数据显示图表。
    var constellationDistributionChartOption = {
        title: {
            top: '20%',
            left: '10%',
            text: '',
            subtext: '星座分布'
        },
        color: ['#3398DB'],
        tooltip : {
            trigger: 'axis',

            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'none',
            }
        },
        grid: {
            top: '30%',
            left: '15%',
            right: '20%',
            bottom: '40%'
        },
        xAxis : [
            {
                type : 'category',
                name: '',
                data : ['双子座','双鱼座','处女座','天秤座','天蝎座','射手座','巨蟹座','巨蟹座','狮子座','白羊座','金牛座','魔羯座'],
                axisTick: {
                    show: false,
                    alignWithLabel: false
                },
                inside: true,
                textStyle: {
                    color: '#fff'
                },
                axisLine:{
                    lineStyle:{
                        color: '#898989',
                        width: 1.5
                    }
                }
            }
        ],
        yAxis : [
            {
                axisLine: {
                    show: false
                },
                axisTick: {
                    show: false
                },
                type : 'value',
                name: '',
                max: 0,
                axisLabel: {
                    show: true,
                    interval: 'auto',
                    formatter: function(value){
                        return (value / 1) * 100 + '%';
                    },
                    textStyle: {
                        color: '#999'
                    }
                }
            }
        ],
        series : [
            {
                name:'总量',
                type:'bar',
                data:[0,0,0,0,0,0,0,0,0,0,0,0],
                barWidth: '20%',
                itemStyle: {
                    normal: {color: 'rgba(0,0,0,0.05)'}
                },
                barGap:'-100%',
                animation: false
            },
            {
                name:'数量',
                type: 'bar',
                barWidth: '20%',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 1, color: '#33c6f7'}
                            ]
                        )
                    },
                    emphasis: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 1, color: '#38d9ff'}
                            ]
                        )
                    }
                },
                data: [0,0,0,0,0,0,0,0,0,0,0,0]
            }
        ]
    };
    constellationDistributionChart.setOption(constellationDistributionChartOption);
    function initConstellationChartData(startTime, endTime) {
        $.ajax({
            cache: true,
            type: "POST",
            url: ctx + "portrait/getConstellationData",
            data: {
                "startTime": startTime,
                "endTime": endTime
            },
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                var result = data.result;
                var xAxisData = [];
                var yAxisData = [];
                var totalNum = 0;
                for (var i = 0; i < result.length; i++) {
                    xAxisData[i] = result[i].portraitType;
                    yAxisData[i] = result[i].num;
                    totalNum += result[i].num;
                }
                var option = '';
                if (totalNum > 0) {
                    // 填入数据
                    option = {
                        xAxis : [
                            {
                                data : xAxisData
                            }
                        ],
                        yAxis : [
                            {
                                max: totalNum,
                                axisLabel: {
                                    formatter: function(value){
                                        return (value / totalNum).toFixed(2) * 100 + '%';
                                    }
                                }
                            }
                        ],
                        series : [
                            {
                                data:[totalNum,totalNum,totalNum,totalNum,totalNum,totalNum,totalNum,totalNum,totalNum,totalNum,totalNum,totalNum]
                            },
                            {
                                data: yAxisData
                            }
                        ]
                    }
                }else {
                    // 填入数据
                    option = {
                        xAxis : [
                            {
                                data : ['双子座','双鱼座','处女座','天秤座','天蝎座','射手座','巨蟹座','巨蟹座','狮子座','白羊座','金牛座','魔羯座']
                            }
                        ],
                        yAxis : [
                            {
                                max: 0,
                                axisLabel: {
                                    formatter: function(value){
                                        return (value / 1).toFixed(2) * 100 + '%';
                                    }
                                }
                            }
                        ],
                        series : [
                            {
                                data: [0,0,0,0,0,0,0,0,0,0,0,0]
                            },
                            {
                                data: [0,0,0,0,0,0,0,0,0,0,0,0]
                            }
                        ]
                    }
                }
                constellationDistributionChart.setOption(option);
            }
        });
    }

    /**
     * 生肖分布
     */
    var zodiacDistributionChart = echarts.init(document.getElementById('zodiacDistributionChart'));
    zodiacDistributionChart.title = '生肖分布';
    // 使用刚指定的配置项和数据显示图表。
    var zodiacDistributionChartOption = {
        title: {
            top: '20%',
            left: '10%',
            text: '',
            subtext: '生肖分布'
        },
        color: ['#3398DB'],
        tooltip : {
            trigger: 'axis',

            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'none'
            }
        },
        grid: {
            top: '30%',
            left: '15%',
            right: '20%',
            bottom: '40%'
        },
        xAxis : [
            {
                type : 'category',
                name: '',
                data : ['兔','牛','狗','猪','猴','羊','虎','蛇','马','鸡','鼠','龙'],
                axisTick: {
                    show: false,
                    alignWithLabel: false
                },
                inside: true,
                textStyle: {
                    color: '#fff'
                },
                axisLine:{
                    lineStyle:{
                        color: '#898989',
                        width: 1.5
                    }
                }
            }
        ],
        yAxis : [
            {
                axisLine: {
                    show: false
                },
                axisTick: {
                    show: false
                },
                type : 'value',
                name: '',
                max: 0,
                axisLabel: {
                    show: true,
                    interval: 'auto',
                    formatter: function(value){
                        return (value / 1) * 100 + '%';
                    },
                    textStyle: {
                        color: '#999'
                    }
                }
            }
        ],
        series : [
            {
                name:'总量',
                type:'bar',
                data:[0,0,0,0,0,0,0,0,0,0,0,0],
                barWidth: '20%',
                itemStyle: {
                    normal: {color: 'rgba(0,0,0,0.05)'}
                },
                barGap:'-100%',
                animation: false
            },
            {
                name:'数量',
                type: 'bar',
                barWidth: '20%',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 1, color: '#33c6f7'}
                            ]
                        )
                    },
                    emphasis: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 1, color: '#38d9ff'}
                            ]
                        )
                    }
                },
                data: [0,0,0,0,0,0,0,0,0,0,0,0]
            }
        ]
    };
    zodiacDistributionChart.setOption(zodiacDistributionChartOption);
    function initZodiacChartData(startTime, endTime) {
        $.ajax({
            cache: true,
            type: "POST",
            url: ctx + "portrait/getZodiacData",
            data: {
                "startTime": startTime,
                "endTime": endTime
            },
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                console.log("生肖")
                console.log(data)
                var result = data.result;
                var xAxisData = [];
                var yAxisData = [];
                var totalNum = 0;
                for (var i = 0; i < result.length; i++) {
                    xAxisData[i] = result[i].portraitType;
                    yAxisData[i] = result[i].num;
                    totalNum += result[i].num;
                }
                var option = '';
                if (totalNum > 0) {
                    // 填入数据
                    option = {
                        xAxis : [
                            {
                                data : xAxisData
                            }
                        ],
                        yAxis : [
                            {
                                max: totalNum,
                                axisLabel: {
                                    formatter: function(value){
                                        return (value / totalNum).toFixed(2) * 100 + '%';
                                    }
                                }
                            }
                        ],
                        series : [
                            {
                                data:[totalNum,totalNum,totalNum,totalNum,totalNum,totalNum,totalNum,totalNum,totalNum,totalNum,totalNum,totalNum]
                            },
                            {
                                data: yAxisData
                            }
                        ]
                    }
                }else {
                    // 填入数据
                    option = {
                        xAxis : [
                            {
                                data : ['兔','牛','狗','猪','猴','羊','虎','蛇','马','鸡','鼠','龙']
                            }
                        ],
                        yAxis : [
                            {
                                max: 0,
                                axisLabel: {
                                    formatter: function(value){
                                        return (value / 1).toFixed(2) * 100 + '%';
                                    }
                                }
                            }
                        ],
                        series : [
                            {
                                data: [0,0,0,0,0,0,0,0,0,0,0,0]
                            },
                            {
                                data: [0,0,0,0,0,0,0,0,0,0,0,0]
                            }
                        ]
                    }
                }
                zodiacDistributionChart.setOption(option);
            }
        });
    }
</script>
</body>
</html>
