<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="operlog-form">
                <div class="select-list">
                    <ul>
                        <div style="overflow: auto;">
                            <input type="hidden" id="beSuitable" name="beSuitable" value="1"/>
                            <li class="select-time">
                                <label>创建时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                       name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endTime]"/>
                            </li>
                            <li>
                                <label>搜索：</label><input type="text" placeholder="用户名  手机号" name="name"/>
                            </li>
                            <!--<li>-->
                                <!--<label>币种： </label>-->
                                <!--<select name="currency" th:with="type=${@dict.getType('beta_HouseProduct_status')}">-->
                                    <!--<option value="">所有</option>-->
                                    <!--<option th:each="dict : ${type}" th:text="${dict.dictLabel}"-->
                                            <!--th:value="${dict.dictValue}"></option>-->
                                <!--</select>-->
                            <!--</li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>

    </div>
</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        var startTime = laydate.render({
            elem: '#createTime',
            type: 'date',
            btns: ['now', 'confirm']
        });
        var endTime = laydate.render({
            elem: '#endTime',
            type: 'date',
            btns: ['now', 'confirm']
        });
    });
    var datas = [[${@dict.getType('personalCard_auth_stautsNew')}]];
    var prefix = ctx + "userWallet/walletFundAccount";
    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            sortName: "",
            sortOrder: "",
            modalName: "资产",
            search: false,
            striped: true,
            showExport: false,
            columns: [
                {
                    checkbox: true,
                    onclick:function () {
                        console.log("111");
                    }
                },
                {
                    field: 'id',
                    title: 'id'
                },
                {
                    field: 'name',
                    title: '用户',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var nameVar = row.name == null ? "" : row.name;
                        var phoneVar = row.phone == null ? "" : row.phone;
                        var nameVarAndphoneVar = nameVar + "-" + phoneVar;
                        actions.push('<span class="depreciate">' + nameVarAndphoneVar + '</span>');
                        return actions.join('');
                    }
                },
                {
                    field: 'currency',
                    title: '币种'
                },
                {
                    field: 'sum',
                    title: '总数量',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var nameVar = row.total;
                        var phoneVar = row.transferFrozen;
                        var nameVarAndphoneVar = nameVar + phoneVar;
                        actions.push('<span class="depreciate">' + nameVarAndphoneVar + '</span>');
                        return actions.join('');
                    }
                },
                {
                    field: 'total',
                    title: '可用'
                },
                {
                    field: 'transferFrozen',
                    title: '冻结'
                },
                {
                    field: 'authStauts',
                    title: '用户状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'updateTime',
                    title: '更新时间'
                },

                {
                    title: '操作',
                    align: 'operator',
                    formatter: function (value, row, index) {
                        var actions = [];
                         actions.push('<a class="btn btn-success btn-xs" href="#" onclick="recird(\'' + row.id + '\')"><i class="fa fa-search"></i>流水</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /*狗窝_装备列表*/
    function recird(id) {
        var url = prefix+'/walletFundAccountRecordInfo/'+id;
        createMenuItem(url, "流水");
    }




</script>
</body>
</html>