<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<style>
	.recharge-amount{
		overflow:hidden;
	}
	.search-collapse-first{
		padding:0 !important;
		height:200px;
		display:flex;
		align-items: center;
	}
	.recharge-amount li{
		width:245px;
		height:127px;
		border:1px solid #e5e5e5;
		padding:0 0 0 15px;
		float:left;
		margin-left:40px;
		display:flex;
		align-items: center;
	}
	.recharge-amount .recharge-title{
		font-size:14px;
		margin-bottom:25px;
	}
	.recharge-amount div{
		font-size:18px;
		color:#ff942f;
	}
	label span{
		color:#494949;
	}
</style>
<head th:include="include :: header"></head>
<body class="gray-bg">

	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<div th:object="${agntCountDto}">
					<ul class="recharge-amount">
						<li>
							<div>
								<label><span>一级代理:</span> [[*{firstAgnt}]]</label><br/>
	                            <label><span>一级代理客户:</span> [[*{firstAgntCustomer}]]</label>
							</div>
						</li>
						<li>
							<div>
								<label><span>二级代理:</span> [[*{secondAgnt}]]</label><br/>
								<label><span>二级代理客户:</span> [[*{secondAgntCustomer}]]</label>
							</div>
						</li>
						<li>
							<div>
								<label><span>三级代理:</span> [[*{thirdAgnt}]]</label><br/>
								<label><span>三级代理客户:</span> [[*{thirdAgntCustomer}]]</label>
							</div>
						</li>
						<li>
							<div>
								<label><span>总邀请数:</span> [[*{totalInvitation}]]</label><br/>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12 search-collapse">
				<form id="operlog-form">
					<input type="hidden" name="agntId" id="agntId"/>
					<div class="select-list">
						<ul>
							<li>
								<label>搜索： </label><input type="text" placeholder="支持搜索用户名、账号、邀请人" name="keyWord"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-primary btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="finance:rechargeRecord:export">
					<i class="fa fa-download"></i> 导出
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
        var detailFlag = [[${@permission.hasPermi('user:detail')}]];
        var internalAccounts = [[${@dict.getType('user_internal_account')}]];
        var prefix = ctx + "agnt/customer";
		$(function() {
		    var options = {
		        url: prefix + "/list",
                exportUrl: prefix + "/export",
                detailUrl: ctx + "user/detail/{id}",
                sortName: "",
		        sortOrder: "",
		        modalName: "代理客户列表",
		        search: false,
		        showExport: false,
		        columns: [
		        {
		            field: 'userName',
		            title: '姓名'
		        },
				{
					field: 'userPhone',
					title: '账号'
				},
				{
                    field: 'internalAccount',
                    title: '内部账号',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(internalAccounts, value);
                    }
				},
				{
		            field: 'agntName',
		            title: '邀请人'
		        },
				{
					field: 'createTime',
					title: '注册时间'
				},
				{
					field: 'totalDeposits',
					title: '总充值（USDT）'
				},
				{
					field: 'totalDepositsCNY',
					title: '总充值（CNY）'
				},
				{
					field: 'totalWithdrawals',
					title: '总提现（USDT）'
				},
				{
					field: 'totalWithdrawalsCNY',
					title: '总提现（CNY）'
				},
				{
					field: 'netWorth',
					title: '净值（USDT）'
				},
				{
					field: 'balance',
					title: '可用保证金（USDT）'
				},
				{
					field: 'usedMargin',
					title: '占用保证金（USDT）'
				},
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + detailFlag + '" href="#" onclick="$.operate.detail(\'' + row.userId + '\')"><i class="fa fa-edit"></i>查看客户信息</a> ');
                        return actions.join('');
                    }
                }]
		    };
		    $.table.init(options);

		});

        function customerInfo(userId) {
            var url = ctx + "user/detail/" + userId;
            $.modal.open("用户信息详情", url, '800', '600');
        }
	</script>
</body>
</html>