<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
	<div class="row">
		<div class="col-sm-12 search-collapse">
			<form id="operlog-form">
				<div class="select-list">
					<ul>
						<li>明天拆狗最低价格<span id="minPrice" style="color: red;">0</span></li>
						<li>最高价格<span id="maxPrice" style="color: red;">0</span></li>
					</ul>
				</div>
			</form>
		</div>

		<div class="col-sm-12 select-table table-striped" style="overflow: overlay;height: 90%;">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	</div>
</div>

<div id="updateSplit" style="display:none">
	<div class="wrapper wrapper-content ibox-content">
		<form class="form-horizontal m" id="form-banner-edit" >
			<div class="form-group">
				<label class="col-sm-4 control-label ">拆分条数</label>
				<div class="col-sm-8">
					<select class="form-control splitSum" name="splitSum" id="splitSum">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label">饱和度上限</label>
				<div class="col-sm-7">
					<input class="form-control" type="number" id="meet" name="meet" required="required"/>
				</div>
				<label class="control-label">%</label>
			</div>
		</form>
	</div>
</div>


<div th:include="include :: footer"></div>
<script th:inline="javascript">
	var priceRisk = [[${@dict.getType('price_risk')}]];
	var saturatedRisk = [[${@dict.getType('saturated_risk')}]];
	var prefix = ctx + "beta/comboGroupSet";
	$(function() {
		$.ajax({
			url: prefix + "/selectTomorrowMaxMin",
			data: {},
			cache: false,
			dataType: "json",
			type: 'POST',
			success: function (result) {
				if (result.code == web_status.SUCCESS) {
					$.modal.closeAll();
					$("#minPrice").text(result.result.minPrice);
					$("#maxPrice").text(result.result.maxPrice);
				}else {
					$.modal.alertError(result.result);
				}
			}
		});

		var options = {
			url: prefix + "/list",
			createUrl: prefix + "/add",
			removeUrl: prefix + "/remove",
			updateUrl: prefix + "/edit/{id}",
			sortName: "",
			sortOrder: "",
			modalName: "拆狗设置",
			search: false,
			showExport: false,
			pagination: false,
			columns: [
				{
					field: 'id',
					title: '套餐id'
				},
				{
					field: 'dogName',
					title: '套餐名称'
				},
				{
					field: 'days',
					title: '周期',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<span class="depreciate">' + value + "天" + '</span>');
						return actions.join('');
					}
				},
				{
					field: 'earningsRatio',
					title: '收益率',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<span class="depreciate">' + value + "%" + '</span>');
						return actions.join('');
					}
				},
				{
					field: 'startTime',
					title: '抢狗时间',
					formatter: function(value, row, index) {
                        var startTime = '-';
                        if (null !== value) {
                            startTime = value + '';
                            startTime = startTime.slice(0, 2) + ':' + startTime.slice(2);
                        }
                        var endTime = '-';
                        if (null !== row.endTime) {
                            endTime = row.endTime + '';
                            endTime = endTime.slice(0, 2) + ':' + endTime.slice(2);
                        }
						var actions = [];
						var startTimeEnd = startTime + "~" + endTime;
						actions.push('<span class="depreciate">' + startTimeEnd + '</span>');
						return actions.join('');
					}
				},
				{
					field: 'minPrice',
					title: '套餐价格',
					formatter: function(value, row, index) {
						var actions = [];
						var minPriceAndMaxPrice = value+"~"+row.maxPrice;
						actions.push('<span class="depreciate">' + minPriceAndMaxPrice + '</span>');
						return actions.join('');
					}
				},
				{
					field: 'splitSum',
					title: '拆分条数'
				},
				{
					field: 'priceRisk',
					title: '价格告警',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(priceRisk, value);
					}
				},
				{
					field: 'betaSum',
					title: '今日公狗数'
				},
				{
					field: 'userSum',
					title: '抢狗人数'
				},
				{
					field: 'priceWeight',
					title: '当前饱和',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<span class="depreciate">' + value + "%" + '</span>');
						return actions.join('');
					}
				},
				{
					field: 'meet',
					title: '饱和上限',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<span class="depreciate">' + value + "%" + '</span>');
						return actions.join('');
					}
				},
				{
					field: 'saturatedRisk',
					title: '饱和告警',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(saturatedRisk, value);
					}
				},
				{
					title: '操作',
					align: 'center',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<a class="btn btn-success btn-xs ' + "" + '" href="#" onclick="updateSplit(\'' + row.id + '\',\'' + row.splitSum + '\',\'' + row.meet + '\')"><i class="fa fa-edit"></i>编辑</a> ');
						return actions.join('');
					}
				}]
		};
		$.table.init(options);
	});

	window.operateEvents = {
		'click .view': function (e, value, row, index) {
			layer.open({
				type: 1,
				title: false,
				closeBtn: 0,
				area: ['auto', 'auto'],
				skin: 'layui-layer-nobg', //没有背景色
				shadeClose: true,
				content: '<img src="' + row.dogImg + '"/>'
			});
		},
	};

	function updateSplit(id, splitSum, meet) {
		$('#updateSplit').css('display', "");
		$('#splitSum').val(splitSum);
		$('#meet').val(meet);
		$('#splitSum').children("option").each(function () {
			if ($(this).val() != splitSum) {
				$(this).attr("selected", false);
			}
			if ($(this).val() == splitSum) {
				$(this).attr("selected", true);
			}
		});

		layer.open({
			type: 1,
			area: ['400px', '330px'],
			fix: false,
            isOutAnim:false,
			//不固定
			maxmin: true,
			shade: 0.3,
			title: '修改拆分设置',
			content: $('#updateSplit'),
			btn: ['<i class="fa fa-check"></i> 修改', '<i class="fa fa-remove"></i> 取消'],
			// 弹层外区域关闭
			shadeClose: true,
			end : function(index, layero){
				$('#updateSplit').css('display', "none");
			},
			btn1: function(index, layero){
				if($('#splitSum').val() == ''){
					$.modal.alertError("拆分单数不能为空");
					return;
				}
				if($('#meet').val() == ''){
					$.modal.alertError("饱和度不能为空");
					return;
				}
				$.ajax({
					url: prefix + "/updateById",
					data: {
						"id":id,
						"splitSum":$('#splitSum').val(),
						"meet":$('#meet').val()
					},
					cache: false,
					dataType: "json",
					type: 'POST',
					success: function (result) {
						if (result.code == web_status.SUCCESS) {
							$.modal.closeAll();
							$.modal.alertSuccess(result.message);
							$.table.refresh();
						}else {
							$.modal.alertError(result.message);
						}
					}
				});
			}
		});
	}

</script>
</body>
</html>