<!DOCTYPE html>
<html class="x-admin-sm" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>套餐管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/statics/css/font.css">
    <link rel="stylesheet" href="/statics/css/xadmin.css">
    <script src="/statics/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/statics/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/statics/js/xadmin.js"></script>
    <script type="text/javascript" src="/statics/js/cookie.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    .searchBigBox {
        border: 1px solid #dedee1;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    }

    .searchItem {
        margin-right: 40px;
    }
</style>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">运营中心</a>
            <a>
                <cite>套餐管理</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:12px;float:right"
            href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:25px"><img src="/statics/images/refresh2.png" alt=""
                    style="width:16px;"></i></a>
    </div>
    <div class="x-body" id="app">

        <xblock>
            <button class="layui-btn" onclick="x_admin_show('添加套餐','/addPackage',300,300)"><i class="layui-icon"></i>添加</button>
            <!-- <button class="layui-btn"><i class="layui-icon">&#xe642;</i>编辑</button> -->
            <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>删除</button>-->
            <button class="layui-btn" onclick="searchs_show()"><i class="layui-icon">&#xe615;</i>查询</button>
            <span class="x-right" style="line-height:40px">共有数据：<font class="particular"><b>{{totalNum}}</b></font>条 <font class="particular"><b>{{pageNum}}/{{totalPages}}</b></font> 每页<font class="particular"><b>{{pageSize}}</b></font>条</span>
        </xblock>
        <!-- 查询条件 -->
        <div class="layui-row searchBigBox" id="searchBox" style="overflow:visible;">
            <form class="layui-form layui-col-md12 x-so">
                <input type="text" name="chargeName" placeholder="请输入套餐名称" autocomplete="off" class="layui-input" v-model="chargeName">
                <input type="text" name="chargeNo" placeholder="请输入套餐编号" autocomplete="off" class="layui-input" v-model="chargeNo">
                <button class="layui-btn" @click.prevent="sreachs()" ><i class="layui-icon">&#xe615;</i></button>
                <button type="reset" class="layui-btn layui-btn-primary" @click.prevent="reset()">重置</button>
            </form>
        </div>

        <table class="layui-table x-admin">
            <thead>
                <tr>
                    <th>
                        <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                    </th>
                    <th>套餐名称</th>
                    <th>计费类型</th>
                    <th>最小计费单位（分钟）</th>
                    <th>常用预设(元/小时)</th>
                    <th>套餐编号</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>操作</th>
            </thead>
            <tbody>
                <tr v-for="l in list">
                    <td>
                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
                    </td>
                    <td>{{l.chargeName}}</td>
                    <td>{{l.chargeType | chargeType}}</td>
                    <td>{{l.minChargeTime}}</td>
                    <td>{{l.defaultCharge}}</td>
                    <td>{{l.chargeNo}}</td>
                    <td>{{l.createTime | formatDate}}</td>
                    <td>{{l.updateTime | formatDate}}</td>
                    <td>
                        <!--<a title="查看" href="javascript:;" onclick="x_admin_show('编辑','/addPackage',300,200)">-->
                            <!--<i class="layui-icon">&#xe642;</i>-->
                        <!--</a>-->
                        <!--<a title="删除" href="javascript:;" onclick="member_del(this,'要删除的id')">-->
                            <!--<i class="layui-icon">&#xe640;</i>-->
                        <!--</a>-->
                        <a title="删除" href="javascript:;" @click="member_del(l)">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="page">
            <a v-if="pageNum>1" v-on:click="pageNum--,pageClick()">&lt;&lt;</a>
            <a v-if="pageNum==1" class="num current">&lt;&lt;</a>
            <a v-for="index in indexs" v-bind:class="{'sefirst' : pageNum == index}" v-on:click="btnClick(index)">{{index}}</a>
            <a v-if="pageNum!=totalPages" v-on:click="pageNum++,pageClick()" class="num">&gt;&gt;</a>
            <a v-if="pageNum == totalPages" class="banclik">&gt;&gt;</a>
            <font style="color:#999;">到第</font>
            <input type="text" class="pageNumber" v-model="pageNumber">
            <font style="color:#999;">页</font>
            <button  class="pageOK" @click="btnOK()">确定</button>
        </div>

    </div>
    <script src="/statics/js/vue.min.js"></script>
    <script src="/statics/js/vue-resource.js"></script>
    <script>
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });
        });

        /*单行-删除*/
        function member_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                //发异步删除数据
                $(obj).parents("tr").remove();
                layer.msg('已删除!', { icon: 1, time: 1000 });
            });
        }
      /*删除所有*/
        function delAll(argument) {
            var data = tableCheck.getData();

            layer.confirm('确认要删除吗？' + data, function (index) {
                //捉到所有被选中的，发异步进行删除
                layer.msg('删除成功', { icon: 1 });
                $(".layui-form-checked").not('.header').parents('tr').remove();
            });
        }

        $("#searchBox").hide();
        function searchs_show() {
            $("#searchBox").toggle(200);
        }

    </script>

    <script>
        var chargeLists =new Vue({
            el: "#app",
            data: {
                list: [],
                pageNum:1, //当前页数
                pageSize:1, //每页数量
                isFirstPage:false,
                totalPages:0, //总页数
                isLastPage:false,
                totalNum:0, //总数量
                chargeName:'',
                chargeNo:'',
                pageNumber:1,
            },
            methods: {
                member_del(b){
                    layer.confirm('确认要删除吗？',function(index){
                        $.ajax({ type:'post',url: "/delChargeInfo", data: JSON.stringify(b), contentType: "application/json",
                            success: function(date){
                                //捉到所有被选中的，发异步进行删除
                                layer.msg('删除成功', {icon: 1});
                                $(".layui-form-checked").not('.header').parents('tr').remove();
                                location.reload();
                            }

                        });
                    });
                },
                reset:function(){
                    var _this = this;
                    _this.chargeName = '',
                    _this.chargeNo = ''
                },
                sreachs:function () {
                    var _this = this;
                    this.$http.post('/findAllChargeInfo',
                        {chargeName:this.chargeName,chargeNo:this.chargeNo},{emulateJSON:false}).then(function(res){
                        _this.list = res.body.list;
                        // console.log("/findAllChargeInfo")
                        // console.log( res.body);
                        _this.pageNum=res.body.pageNum
                        _this.pageSize=res.body.pageSize
                        _this.isFirstPage=res.body.isFirstPage
                        _this.totalPages=res.body.pages
                        _this.isLastPage=res.body.isLastPage
                        _this.totalNum = res.body.total
                    },function(res){
                        console.log(res.status);
                    });
                },
                btnClick: function(data){//页码点击事件
                    var _this = this;
                    _this.pageNumber = data
                    if(data != this.pageNum){
                        this.$http.post('/findAllChargeInfo',
                            {pageNum:data,pageSize:10},{emulateJSON:false}).then(function(res){

                            // console.log(res.body)
                            _this.list = res.body.list
                            _this.pageNum=res.body.pageNum
                            _this.pageSize=res.body.pageSize
                            _this.isFirstPage=res.body.isFirstPage
                            _this.totalPages=res.body.pages
                            _this.isLastPage=res.body.isLastPage
                            _this.totalNum = res.body.total
                            if(null == res){
                            }
                        },function(res){
                            console.log(res.status);
                        });

                    }
                },
                pageClick: function(reccept,event) {
                    //父组件通过change方法来接受当前的页码
                    //这里是点击下一页执行函数
                    var _this = this
                    _this.pageNumber = _this.pageNum
                    this.$http.post('/findAllChargeInfo',
                        {pageNum:_this.pageNum,pageSize:10},{emulateJSON:false}).then(function(res){

                        // console.log(res.body)
                        _this.list = res.body.list
                        _this.pageNum=res.body.pageNum
                        _this.pageSize=res.body.pageSize
                        _this.isFirstPage=res.body.isFirstPage
                        _this.totalPages=res.body.pages
                        _this.isLastPage=res.body.isLastPage
                        _this.totalNum = res.body.total
                        if(null == res){
                        }
                    },function(res){
                        console.log(res.status);
                    });


                },btnOK:function(data){
                    var _this = this;
                    // this.pageNum=this.pageNumber
                    if(_this.pageNumber>_this.totalPages){
                        _this.pageNumber=_this.totalPages
                        // this.pageNum=this.pageNumber
                    }
                    this.$http.post('/findAllChargeInfo',
                        {pageNum:_this.pageNumber,pageSize:10},{emulateJSON:false}).then(function(res){
                        // console.log(res.body)
                        _this.list = res.body.list
                        _this.pageNum=res.body.pageNum
                        _this.pageSize=res.body.pageSize
                        _this.isFirstPage=res.body.isFirstPage
                        _this.totalPages=res.body.pages
                        _this.isLastPage=res.body.isLastPage
                        _this.totalNum = res.body.total
                    });

                },


            },computed: {
                indexs: function () {
                    this.all = Math.ceil(this.totalNum / this.pageSize);
                    // console.log(this.all)
                    var left = 1;
                    var right = this.all;

                    var ar = [];
                    if (this.all >= 5) {
                        if (this.pageNum> 3 && this.pageNum < this.all - 2) {
                            left = this.pageNum - 2
                            right = this.pageNum + 2
                        } else {
                            if (this.pageNum <= 3) {
                                left = 1
                                right = 5
                            } else {
                                right = this.all
                                left = this.all - 4
                            }
                        }
                    }
                    while (left <= right) {
                        ar.push(left)
                        left++
                    }
                    return ar
                }
            },
            mounted:function () {
                var _this = this;
                this.$http.post('/findAllChargeInfo',
                    {},{emulateJSON:false}).then(function(res){
                    console.log("/findAllChargeInfo")
                    console.log(res.body)
                    _this.list = res.body.list
                    _this.pageNum=res.body.pageNum
                    _this.pageSize=res.body.pageSize
                    _this.isFirstPage=res.body.isFirstPage
                    _this.totalPages=res.body.pages
                    _this.isLastPage=res.body.isLastPage
                    _this.totalNum = res.body.total
                    if(null == res){

                    }
                },function(res){
                    console.log(res.status);
                });
            },

            filters: {
                formatDate: function (val) {
                    var value = new Date(val);
                    var year = value.getFullYear();
                    var month = padDate(value.getMonth() + 1);
                    var day = padDate(value.getDate());
                    var hour = padDate(value.getHours());
                    var minutes = padDate(value.getMinutes());
                    var seconds = padDate(value.getSeconds());
                    return year + '-' + month + '-' + day + ' ' + hour + ':' + minutes + ':' + seconds;

                },
                chargeType:function (val) {
                    if(val == 0){
                        return '计时';
                    }
                }

            }
        })

        var padDate=function(va) {
            va = va < 10 ? '0' + va : va;
            return va
        }

    </script>

</body>

</html>