<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>场所类型管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <link rel="stylesheet" href="/statics/css/font.css">
    <link rel="stylesheet" href="/statics/css/xadmin.css">
    <script type="text/javascript" src="/statics/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/statics/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/statics/js/xadmin.js"></script>
    <script type="text/javascript" src="/statics/js/cookie.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    .searchBigBox {
        border: 1px solid #dedee1;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    }

    .searchItem {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .voice {
        background: #ea667f;
        padding: 4px;
        color: #fff;
    }

    .online {
        background: #667eea;
        padding: 4px;
        color: #fff;
    }

    .free {
        background: #66eab4;
        padding: 4px;
        color: #fff;
    }
</style>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">运营管理</a>
            <a>
                <cite>场所类型管理</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:12px;float:right"
            href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:25px"><img src="/statics/images/refresh2.png" alt=""
                    style="width:16px;"></i></a>
    </div>
    <div class="x-body" id="app">
        <xblock>
            <button class="layui-btn" onclick="x_admin_show('添加场所类型','/addSite_type',300,200)"><i
                    class="layui-icon"></i>添加</button>
            <!-- <button class="layui-btn"><i class="layui-icon">&#xe642;</i>编辑</button> -->
            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
            <button class="layui-btn" onclick="searchs_show()"><i class="layui-icon">&#xe615;</i>查询</button>
            <span class="x-right" style="line-height:40px">共有数据：88 条</span>
        </xblock>

        <!-- 搜索条件 -->
        <div class="layui-row searchBigBox" id="searchBox" style="overflow:visible;">
            <form class="layui-form layui-col-md12 x-so">
                <div class="form-group col-lg-3">
                    <input type="text" name="username" placeholder="请输入类型编号" autocomplete="off"
                        class="layui-input searchItem">
                    <input type="text" name="username" placeholder="请输入类型名称" autocomplete="off"
                        class="layui-input searchItem">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </form>
        </div>

        <table class="layui-table x-admin">
            <thead>
                <tr>
                    <th>
                        <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i
                                class="layui-icon">&#xe605;</i></div>
                    </th>
                    <th>场所类型名称</th>
                    <th>场所类型编号</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list">
                    <td>
                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i
                                class="layui-icon">&#xe605;</i></div>
                    </td>
                    <td>{{item.siteName}}</td>
                    <td>{{item.siteNumber}}</td>
                    <td>{{item.createTime}}</td>
                    <td>{{item.refreshTime}}</td>
                    <td>
                        <a title="查看" href="javascript:;" onclick="x_admin_show('编辑','/addSite_type',300,200)">
                            <i class="layui-icon">&#xe642;</i>
                        </a>
                        <a title="删除" href="javascript:;" onclick="member_del(this,'要删除的id')">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="page">
            <div>
                <a class="prev" href="">&lt;&lt;</a>
                <a class="num" href="">1</a>
                <span class="current">2</span>
                <a class="num" href="">3</a>
                <a class="num" href="">489</a>
                <a class="next" href="">&gt;&gt;</a>
            </div>
        </div>

    </div>
    <script src="/statics/js/vue.min.js"></script>
    <script src="/statics/js/vue-resource.js"></script>
    <script src="/statics/js/order_list.js"></script>
    <script>
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });
        });


        /*用户-删除*/
        function member_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                //发异步删除数据
                $(obj).parents("tr").remove();
                layer.msg('已删除!', { icon: 1, time: 1000 });
            });
        }

        function delAll (argument) {
        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }

    </script>

    <script>
        new Vue({
            el: "#app",
            data: {
                list: [
                    {
                        "siteName": "商场",
                        "siteNumber": "123457866",
                        "createTime": "2019-4-18 12：10:12",
                        "refreshTime": "2019-4-18 12：10:12",
                    },
                    {
                        "siteName": "KTV",
                        "siteNumber": "123457866",
                        "createTime": "2019-4-18 12：10:12",
                        "refreshTime": "2019-4-18 12：10:12",
                    },
                    {
                        "siteName": "医院",
                        "siteNumber": "123457866",
                        "createTime": "2019-4-18 12：10:12",
                        "refreshTime": "2019-4-18 12：10:12",
                    },
                    {
                        "siteName": "超市",
                        "siteNumber": "123457866",
                        "createTime": "2019-4-18 12：10:12",
                        "refreshTime": "2019-4-18 12：10:12",
                    },
                    {
                        "siteName": "火车站",
                        "siteNumber": "123457866",
                        "createTime": "2019-4-18 12：10:12",
                        "refreshTime": "2019-4-18 12：10:12",
                    },
                    {
                        "siteName": "停车场",
                        "siteNumber": "123457866",
                        "createTime": "2019-4-18 12：10:12",
                        "refreshTime": "2019-4-18 12：10:12",
                    },
                    {
                        "siteName": "小卖部",
                        "siteNumber": "123457866",
                        "createTime": "2019-4-18 12：10:12",
                        "refreshTime": "2019-4-18 12：10:12",
                    },
                    {
                        "siteName": "学校",
                        "siteNumber": "123457866",
                        "createTime": "2019-4-18 12：10:12",
                        "refreshTime": "2019-4-18 12：10:12",
                    },

                ]
            },
            methods: {

            }
        })

    </script>
</body>

</html>