<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<style>
	.banner-box{
		width:120px;
		height:120px;
		border:1px solid #e5e6e7;
		/*background:url(../../img/banner-add.png) no-repeat center;*/
		background-size:45px 45px;
		position: relative;
		box-sizing: content-box;
	}
	.downloadPic{
		width:100%;
		height:100%;
		opacity: 0;
		position: absolute;
		top:0;
		left:0;
		z-index:2;
	}
	.banner-img{
		position: absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		z-index:1;
	}
	.add-img{
		position: absolute;
		width:24px;
		height:24px;
		line-height:24px;
		text-align:center;
		left:0;
		bottom:0;
		top:0;
		right:0;
		margin:auto;
		font-size:32px;
		z-index:0;
	}
	.banner-size{
		float: right !important;
		margin-top: -15px;
	}
</style>
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-user-edit" th:object="${dto}">
			<input name="id" type="hidden" th:field="*{id}"/>
			<div class="form-group">
				<label class="col-sm-3 control-label ">名称：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" name="name" id="name" th:field="*{name}" required/>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">待机图片：</label>
				<div class="col-sm-9">
					<div class="banner-box">
						<input class="downloadPic" type="file" name="file" id="standbyPic" accept="image/*">
						<img class="banner-img" src="" alt="" id="standbyImg" th:src="*{standbyImg}" name="standbyImg">
						<p class="add-img">+</p>
					</div>
					<p class="col-sm-3">120*120px</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">跑步图片：</label>
				<div class="col-sm-9">
					<div class="banner-box">
						<input class="downloadPic" type="file" name="file" id="runPic" accept="image/*">
						<img class="banner-img" src="" alt="" id="runImg" th:src="*{runImg}" name="runImg">
						<p class="add-img">+</p>
					</div>
					<p class="col-sm-3">120*120px</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">挖掘图片：</label>
				<div class="col-sm-9">
					<div class="banner-box">
						<input class="downloadPic" type="file" name="file" id="excavatePic" accept="image/*">
						<img class="banner-img" src="" alt="" id="excavateImg" th:src="*{excavateImg}" name="excavateImg">
						<p class="add-img">+</p>
					</div>
					<p class="col-sm-3">120*120px</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">睡眠图片：</label>
				<div class="col-sm-9">
					<div class="banner-box">
						<input class="downloadPic" type="file" name="file" id="sleepPic" accept="image/*">
						<img class="banner-img" src="" alt="" id="sleepImg" th:src="*{sleepImg}" name="sleepImg">
						<p class="add-img">+</p>
					</div>
					<p class="col-sm-3">120*120px</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<div class="col-sm-9" >
					<div class="layui-layer-btn " style="text-align: left"><a class="layui-layer-btn0" onclick="submitHandler()">保存</a></div>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script>
        $("#form-user-edit").validate({
        	submitHandler:function(form){
        		edit();
        	}
        });
		/* 图片在前端预览 */
		var pictureSuffixStandbyImg ="";
		var pictureBase64StandbyImg = "";
		$("#standbyPic").change(function(e,type){
			var files = e.target.files;
			var file = files[0];
			var fileSize = file.size;
			if (!/\/(?:jpeg|jpg|png|gif)/i.test(file.type)){
				$.modal.alertError("上传图片格式只能为jpeg,jpg,png,gif");
				return;
			}
			var reader = new FileReader();
			reader.onload = function() {
				if(fileSize-0 > 1048576){
					$.modal.alertError("上传图片不能超过1M");
					return false;
				}
				var result = this.result;
				$("#standbyImg").attr("src",result);
				pictureSuffixStandbyImg = file.type.split("/")[1];
				pictureBase64StandbyImg = result.split(",")[1];
			};
			reader.readAsDataURL(file);
		});
		var pictureSuffixRunImg ="";
		var pictureBase64RunImg = "";
		$("#runPic").change(function(e,type){
			var files = e.target.files;
			var file = files[0];
			var fileSize = file.size;
			if (!/\/(?:jpeg|jpg|png|gif)/i.test(file.type)){
				$.modal.alertError("上传图片格式只能为jpeg,jpg,png,gif");
				return;
			}
			var reader = new FileReader();
			reader.onload = function() {
				if(fileSize-0 > 1048576){
					$.modal.alertError("上传图片不能超过1M");
					return false;
				}
				var result = this.result;
				$("#runImg").attr("src",result);
				pictureSuffixRunImg = file.type.split("/")[1];
				pictureBase64RunImg = result.split(",")[1];
			};
			reader.readAsDataURL(file);
		});
		var pictureSuffixExcavateImg ="";
		var pictureBase64ExcavateImg = "";
		$("#excavatePic").change(function(e,type){
			var files = e.target.files;
			var file = files[0];
			var fileSize = file.size;
			if (!/\/(?:jpeg|jpg|png|gif)/i.test(file.type)){
				$.modal.alertError("上传图片格式只能为jpeg,jpg,png,gif");
				return;
			}
			var reader = new FileReader();
			reader.onload = function() {
				if(fileSize-0 > 1048576){
					$.modal.alertError("上传图片不能超过1M");
					return false;
				}
				var result = this.result;
				$("#excavateImg").attr("src",result);
				pictureSuffixExcavateImg = file.type.split("/")[1];
				pictureBase64ExcavateImg = result.split(",")[1];
			};
			reader.readAsDataURL(file);
		});
		var pictureSuffixSleepImg ="";
		var pictureBase64SleepImg = "";
		$("#sleepPic").change(function(e,type){
			var files = e.target.files;
			var file = files[0];
			var fileSize = file.size;
			if (!/\/(?:jpeg|jpg|png|gif)/i.test(file.type)){
				$.modal.alertError("上传图片格式只能为jpeg,jpg,png,gif");
				return;
			}
			var reader = new FileReader();
			reader.onload = function() {
				if(fileSize-0 > 1048576){
					$.modal.alertError("上传图片不能超过1M");
					return false;
				}
				var result = this.result;
				$("#sleepImg").attr("src",result);
				pictureSuffixSleepImg = file.type.split("/")[1];
				pictureBase64SleepImg = result.split(",")[1];
			};
			reader.readAsDataURL(file);
		});
        function submitHandler() {
	        if ($.validate.form()) {
	        	edit();
	        }
	    }

        function edit() {
        	var id = $("input[name='id']").val();
			var name = $("input[name='name']").val();
        	$.ajax({
        		cache : true,
        		type : "POST",
        		url : ctx + "beta/feminaImg/saveOrUpdate",
        		data : {
					"id": id,
					"name": name,
					"pictureBase64StandbyImg":pictureBase64StandbyImg,
					"pictureSuffixStandbyImg":pictureSuffixStandbyImg,
					"pictureBase64RunImg":pictureBase64RunImg,
					"pictureSuffixRunImg":pictureSuffixRunImg,
					"pictureBase64ExcavateImg":pictureBase64ExcavateImg,
					"pictureSuffixExcavateImg":pictureSuffixExcavateImg,
					"pictureBase64SleepImg":pictureBase64SleepImg,
					"pictureSuffixSleepImg":pictureSuffixSleepImg
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(result) {
					if (result.code == web_status.SUCCESS) {
						pictureBase64StandbyImg="";
						pictureSuffixStandbyImg="";
						pictureBase64RunImg="";
						pictureSuffixRunImg="";
						pictureBase64ExcavateImg="";
						pictureSuffixExcavateImg="";
						pictureBase64SleepImg="";
						pictureSuffixSleepImg="";
						$.modal.msgSuccess(result.result);
					} else if (result.code == web_status.WARNING) {
						$.modal.alertWarning(result.result)
					}  else {
						$.modal.alertError(result.result);
					}
        		}
        	});
        }
    </script>
</body>
</html>
