<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.TwalletFundAccountRecordMapper">
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.TWalletFundAccountRecord">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="currency" property="currency"/>
        <result column="before_amount" property="beforeAmount"/>
        <result column="after_amount" property="afterAmount"/>
        <result column="change_amount" property="changeAmount"/>
        <result column="type" property="type"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!--  查询资金账号划转记录  -->
    <select id="transferRecord" resultType="com.jdcloud.provider.vo.TransferRecordVO" parameterType="java.lang.Long">
        SELECT
        r.type,r.create_time as time,r.currency,
        r.after_amount - r.before_amount as changeAmount
        FROM t_wallet_fund_account_record r
        WHERE r.type in (3,4,5,6)
        AND r.user_id = #{userId}
        ORDER BY r.id DESC
    </select>

    <select id="topN" resultType="com.jdcloud.provider.vo.TopNVO">
        SELECT t.account,t.type,t.id
        FROM (
        SELECT '1' as account,r.id,r.create_time as createTime,r.type as type FROM t_wallet_fund_account_record r
        WHERE r.user_id = #{userId}
        <if test="currency != null"> AND r.currency = #{currency} </if>
        UNION
        SELECT '2' AS account,a.id,a.create_time as createTime,a.record_type as type FROM g_beta_account_record a
        INNER JOIN g_beta_account g ON g.id = a.beta_account_id
        WHERE a.user_id = #{userId} AND a.remark = '资金划转'
        <if test="productType != null"> AND g.product_type = #{productType} </if>
        UNION
        SELECT '3' AS account,c.id,c.create_time as createTime,c.record_type as type FROM c_personal_account_record c
        WHERE c.user_id = #{userId} AND c.remark = '资金划转'
        <if test="productType != null"> AND c.product_type = #{productType}</if>
        ) t ORDER BY t.createTime DESC
    </select>

    <select id="getRecordById" parameterType="java.lang.String" resultType="com.jdcloud.provider.vo.RecordVO">
        SELECT r.currency,r.create_time AS time,r.after_amount as afterAmount,(r.after_amount - r.before_amount) as changeAmount,0 AS fee,r.order_id AS orderId,
        CASE
            WHEN r.type = 1 THEN '充币'
            WHEN r.type = 2 THEN '提币'
            WHEN r.type = 3 THEN '转出资金账户'
            WHEN r.type = 4 THEN '转入资金账户'
            WHEN r.type = 5 THEN '转出资金账户'
            WHEN r.type = 6 THEN '转入资金账户'
            ELSE  ''
        END AS type
        FROM t_wallet_fund_account_record r
        WHERE r.id = #{id}
    </select>
    
    <select id="selectRecord" resultType="com.jdcloud.provider.vo.RecordVO">
         SELECT r.currency,r.create_time AS time,r.after_amount as afterAmount,(r.after_amount - r.before_amount) as changeAmount,0 AS fee,r.order_id AS orderId,
        CASE
            WHEN r.type = 1 THEN '充币'
            WHEN r.type = 2 THEN '提币'
            WHEN r.type = 3 THEN '转出资金账户'
            WHEN r.type = 4 THEN '转入资金账户'
            WHEN r.type = 5 THEN '转出资金账户'
            WHEN r.type = 6 THEN '转入资金账户'
            ELSE  ''
        END AS type
        FROM t_wallet_fund_account_record r
        WHERE r.user_id = #{userId}
        <if test="currency != null">
            AND r.currency = #{currency}
        </if>
        AND r.type in
        <foreach  item="item" collection="list" separator="," open="(" close=")">
            #{item}
        </foreach>
        ORDER BY r.id DESC
    </select>

    <select id="queryFundAccountRecord" resultType="com.jdcloud.provider.vo.RecordVO">
        SELECT r.currency,r.create_time AS time,r.after_amount AS afterAmount,r.before_amount AS beforeAmount,r.change_amount + IFNULL(o.fee,0) AS changeAmount,IFNULL(o.fee,0) AS fee,
        CASE
        WHEN r.type = 1 THEN '充币'
        WHEN r.type = 2 THEN '提币'
        WHEN r.type = 3 THEN '转出'
        WHEN r.type = 4 THEN '转入'
        WHEN r.type = 5 THEN '转出'
        WHEN r.type = 6 THEN '转入'
        ELSE  ''
        END AS type
        FROM t_wallet_fund_account_record r
        LEFT JOIN t_order o ON o.order_id = r.order_id
        WHERE r.user_id = #{userId}
        <if test="currency != null">
            AND r.currency = #{currency}
        </if>
        <if test="list != null and list.size() >0">
            AND r.type in
            <foreach  item="item" collection="list" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY r.id DESC
    </select>

</mapper>
