<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>Bitrade介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <style>
        .ibox-title {
            border: none;
            background: transparent;
        }
        .ibox > div {
            overflow: hidden;
        }
        .ibox > div > div {
            float: left;
            width: 300px;
            height: 160px;
            background: white;
            border-radius: 12px;
            margin: 20px 10px 0 0;
            padding: 10px 20px;
            box-sizing: border-box;
            text-align: center;
            position: relative;
        }
        .ibox > div > div.sp {
            float: left;
            width: 300px;
            height: 200px;
            background: white;
            border-radius: 12px;
            margin: 20px 10px 0 0;
            padding: 10px 20px;
            box-sizing: border-box;
            text-align: center;
            position: relative;
        }
        ul {
            text-align: left;
        }
        .btn {
            margin-top: 50px;
        }

        .withdraw-amount li{
            width:223px;
            padding:15px 0 0 15px;
            float:left;
            margin-left:40px;
        }
        .withdraw-amount .withdraw-title{
            font-size:14px;
            margin-bottom:25px;
        }
        .withdraw-amount div{
            font-size:18px;
            color:#ff942f;
        }
        .withdraw-amount label{
            margin-bottom:7px;
        }
        .btn.sp{margin: 0;}
    </style>
</head>
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="row  dashboard-header">
    <!--&lt;!&ndash; 为 ECharts 准备一个具备大小（宽高）的 DOM &ndash;&gt;-->
    <!--<div id="registerECharts" style="width: 600px;height:400px;"></div>-->
    <div class="">
        <div class="ibox float-e-margins" th:object="${indexData}">
            <div>
                <div class="sp" shiro:hasPermission="finance:rechargeRecord:view">
                    <div>
                        <ul class="withdraw-amount">
                            <li>
                                <label>用户充值总额： </label>
                                <div>
                                    <label>CNY: [[*{totalUserRechargeCNY}]]</label><br/>
                                    <label>USDT: [[*{totalUserRechargeUSDT}]]</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sp" shiro:hasPermission="finance:withdrawRecord:view">
                    <div>
                        <ul class="withdraw-amount">
                            <li>
                                <label>用户提现总额： </label>
                                <div>
                                    <label>CNY: [[*{totalUserWithdrawCNY}]]</label><br/>
                                    <label>USDT: [[*{totalUserWithdrawUSDT}]]</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sp" shiro:hasPermission="index:userMonitor">
                    <div>
                        <ul class="withdraw-amount">
                            <li>
                                <label>总注册用户数： <span id="registerCount"></span></label><br/>
                                <label>昨日注册用户量： <span id="yesterdayRegisterCount"></span></label><br/>
                                <label>今天注册用户量： <span id="todayRegisterCount"></span></label><br/>
                                <label>今天实名用户量： <span id="dayAuthSum"></span></label><br/>
                                <label>实名总用户量： <span id="authSum"></span></label><br/>
                            </li>
                        </ul>
                        <a class="btn btn-primary btn-success sp"  onclick="goRechargeAudits()">
                            <i class="fa fa-edit"></i> 看图
                        </a>
                    </div>
                </div>
                <div class="sp" shiro:hasPermission="index:betaMonitor">
                    <div>
                        <ul class="withdraw-amount">
                            <li>
                                <label>今天抢狗人数： <span id="buyUserSum"></span></label><br/>
                                <label>今天卖狗人数： <span id="sellUserSum"></span></label><br/>
                                <label>今天成交量： <span id="buyPeiceSum"></span></label><br/>
                                <label>今天首次抢狗人数： <span id="dayFirstBuy"></span></label><br/>
                                <label> <span ></span></label><br/>
                            </li>
                        </ul>
                        <a class="btn btn-primary btn-success sp" onclick="getcountDayDog()">
                            <i class="fa fa-edit"></i> 看图
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="" shiro:hasPermission="audit:recharge:view">
                    <div>
                        <ul class="withdraw-amount">
                            <li>
                                <label>充值待审核数： [[*{auditingRechargeCount}]]</label><br/>

                            </li>
                        </ul>
                        <a class="btn btn-primary btn-success" onclick="goRechargeAudit()"
                           shiro:hasPermission="audit:recharge:view">
                            <i class="fa fa-edit"></i> 去审核
                        </a>
                    </div>
                </div>
                <div class="" shiro:hasPermission="audit:withdraw:view">
                    <div>
                        <ul class="withdraw-amount">
                            <li>
                                <label>提现待审核数： [[*{auditingWithdrawCount}]]</label><br/>
                            </li>
                        </ul>
                        <a class="btn btn-primary btn-success" onclick="goWithdrawAudit()"
                           shiro:hasPermission="audit:withdraw:view">
                            <i class="fa fa-edit"></i> 去审核
                        </a>
                    </div>
                </div>

                <div class="" shiro:hasPermission="index:cardMonitor">
                    <div>
                        <ul class="withdraw-amount">
                            <li>
                                <label>实名认证待审核数： <span id="auditingIdentityCount"></span></label><br/>
                            </li>
                        </ul>
                        <a class="btn btn-primary btn-success" onclick="goIdentityAudit()"
                           shiro:hasPermission="index:cardMonitor"> <i class="fa fa-edit"></i> 去审核
                        </a>
                    </div>
                </div>

                <div class="" shiro:hasPermission="index:accountMonitor">
                    <div>
                        <ul class="withdraw-amount">
                            <li>
                                <label>总持有条数： <span id="maxcount"></span></label><br/>
                                <label>总价值： <span id="countCost"></span></label><br/>
                                <label>预期收益价值： <span id="countProfit"></span></label>
                            </li>
                        </ul>
                        <a class="btn btn-primary btn-success" onclick="openBetaOrderList()"
                           shiro:hasPermission="index:accountMonitor" style="margin-top: 0px;">
                            <i class="fa fa-edit"></i> 查看列表
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="" shiro:hasPermission="betaOrder:auditList">
                    <div>
                        <ul class="withdraw-amount">
                            <li>
                                <label>打包出售待审核数： <span id="packAuditNum"></span></label><br/>
                            </li>
                        </ul>
                        <a class="btn btn-primary btn-success" onclick="goAuditListView()"
                           shiro:hasPermission="index:cardMonitor"> <i class="fa fa-edit"></i> 去审核
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-4">
        <ol>
        </ol>
    </div> -->
</div>
<div class="wrapper wrapper-content"></div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/ruoyi/js/common.js?v=3.0.0}"></script>
<script th:inline="javascript"> var ctx = [[@{ /}]]; </script>
<script th:src="@{/ruoyi/js/ry-ui.js?v=3.0.0}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>
<script th:inline="javascript">

    var userMonitor = [[${@permission.hasPermi('index:userMonitor')}]];
    var betaMonitor = [[${@permission.hasPermi('index:betaMonitor')}]];
    var cardMonitor = [[${@permission.hasPermi('index:cardMonitor')}]];
    var accountMonitor = [[${@permission.hasPermi('index:accountMonitor')}]];
    var auditList = [[${@permission.hasPermi('betaOrder:auditList')}]];

    if(userMonitor == ""){
        $.ajax({
            cache : true,
            type : "POST",
            url : ctx + "index/userMonitor",
            data : { },
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $("#registerCount").text(data.result.registerCount);
                $("#yesterdayRegisterCount").text(data.result.yesterdayRegisterCount);
                $("#todayRegisterCount").text(data.result.todayRegisterCount);
                $("#dayAuthSum").text(data.result.dayAuthSum);
                $("#authSum").text(data.result.authSum);
            }
        });
    }
    if(betaMonitor == ""){
        $.ajax({
            cache : true,
            type : "POST",
            url : ctx + "index/betaMonitor",
            data : { },
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $("#buyUserSum").text(data.result.buyUserSum);
                $("#sellUserSum").text(data.result.sellUserSum);
                $("#buyPeiceSum").text(data.result.buyPeiceSum);
                $("#dayFirstBuy").text(data.result.dayFirstBuy);
            }
        });
    }
    if(cardMonitor == ""){
        $.ajax({
            cache : true,
            type : "POST",
            url : ctx + "index/cardMonitor",
            data : { },
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $("#auditingIdentityCount").text(data.result.auditingIdentityCount);
            }
        });
    }
    if(accountMonitor == ""){
        $.ajax({
            cache : true,
            type : "POST",
            url : ctx + "index/accountMonitor",
            data : { },
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $("#maxcount").text(data.result.maxcount);
                $("#countCost").text(data.result.countCost);
                $("#countProfit").text(data.result.countProfit);
            }
        });
    }

    if(auditList == ""){
        $.ajax({
            cache : true,
            type : "POST",
            url : ctx + "index/packAuditNum",
            data : { },
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $("#packAuditNum").text(data.result);
            }
        });
    }

    function goRechargeAudit() {
        createMenuItem(ctx + "audit/recharge", "充值审核");
    }

    function goWithdrawAudit() {
        createMenuItem(ctx + "audit/withdraw", "提现审核");
    }

    // function goIdentityAudit() {personal/personalCard/toBeAuditedInfo
    //     createMenuItem(ctx + "personal/personalCard", "实名认证审核");
    // }

    // new
    function goIdentityAudit() {
        createMenuItem(ctx + "personal/personalCard/toBeAuditedInfo", "实名认证待审核");
    }

    function openBetaOrderList() {
        createMenuItem(ctx + "beta/betaOrder/countOrder/view", "持仓数据监控");
    }

    // 注册实名
    function goRechargeAudits() {
        createMenuItem(ctx + "beta/betaStatisticsUser/echarts", "注册实名统计");
    }
    // 抢狗统计
    function getcountDayDog() {
        createMenuItem(ctx + "beta/betaStatisticsUser/countDayDogInfO", "抢狗统计");
    }
    //打包出售审核
    function goAuditListView() {
        createMenuItem(ctx + "beta/betaOrder/auditListView", "打包出售审核");
    }
</script>
</body>
</html>
