<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="operlog-form">
                <div class="select-list">
                    <ul>
                        <input type="hidden" id="peraccountId" name="peraccountId" th:value="${vo.id}"/>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped" style="overflow: overlay;height: 94%;">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        var startTime = laydate.render({
            elem: '#createTime',
            type: 'date',
            btns: ['now', 'confirm']
        });
        var endTime = laydate.render({
            elem: '#endTime',
            type: 'date',
            btns: ['now', 'confirm']
        });
    });
    var productTypes = [[${@dict.getType('orderUser_productType')}]];

    var prefix = ctx + "personalAccount";
    $(function () {
        var options = {
            url: prefix + "/accountList",
            sortName: "re.create_time",
            sortOrder: "desc",
            modalName: "流水详情",
            queryParams: queryParams,
            search: false,
            showExport: false,
            columns: [
                {
                    field: 'entrustId',
                    title: '委托订单ID'
                },
                {
                    field: 'beforeAmount',
                    title: '交易前金额',
                    sortable: true
                },
                {
                    field: 'amount',
                    title: '交易金额',
                    sortable: true
                },
                {
                    field: 'afterAmount',
                    title: '交易后金额',
                    sortable: true
                },
                {
                    field: 'productType',
                    title: '交易对类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(productTypes, value);
                    }
                },
                {
                    field: 'name',
                    title: '用户（电话）',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var nameVar = row.name == null ? "暂无领养人" : row.name;
                        var phoneVar = row.phone == null ? "" : row.phone;
                        var nameVarAndphoneVar = nameVar + "/" + phoneVar;
                        actions.push('<span class="depreciate">' + nameVarAndphoneVar + '</span>');
                        return actions.join('');
                    }
                },
                {
                    field: 'remark',
                    title: '内容'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
               ]
        };
        $.table.init(options);
    });
    function queryParams(params) {
        return {
            peraccountId:       $("#peraccountId").val(),
            pageSize:       params.limit,
            pageNum:        params.offset / params.limit + 1,
            searchValue:    params.search,
            orderByColumn:  params.sort,
            isAsc:          params.order
        };
    }

</script>
</body>
</html>