<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-recharge-rechargeConfig" th:object="${rechargeConfig}">

			<div id="tips" class="form-group">
				<label class="col-sm-3 control-label">是否启用：</label>
				<div class="col-sm-8">
					<div class="onoffswitch">
						<input type="checkbox" th:checked="${rechargeConfig.status eq 1 ? true : false}" class="onoffswitch-checkbox" id="status" name="status">
						<label class="onoffswitch-label" for="status">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">自动审核资金范围(USDT)：</label>
				<!-- <div class="col-sm-3"> -->
					<label class="control-label"><input id="minAmount"  name="minAmount" required="true" class="form-control" th:field="*{minAmount}" onkeyup="$.common.clearNoNum(this)"/></label>
					<label class="control-label">-</label>
					<label class="control-label"><input id="maxAmount"  name="maxAmount" required="true" class="form-control" th:field="*{maxAmount}" onkeyup="$.common.clearNoNum(this)"/></label>
				<!-- </div> -->
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script>
        $("#form-recharge-edit").validate({
        	submitHandler:function(form){
        		edit();
        	}
        });
        
        function submitHandler() {
	        if ($.validate.form()) {
	        	edit();
	        }
	    }

        function edit() {
            var status = $("input[name='status']").is(':checked') == true ? 1 : 0;
            var minAmount = $("#minAmount").val();
            var maxAmount = $("#maxAmount").val();
        	$.ajax({
        		cache : true,
        		type : "POST",
        		url : ctx + "audit/recharge/rechargeConfig",
        		data : {
        			"status": status,
        			"minAmount": minAmount,
        			"maxAmount": maxAmount
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(data) {
        			$.operate.saveSuccess(data);
        		}
        	});
        }
    </script>
</body>
</html>
