<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-user-add">
			<input name="deptId" type="hidden" id="treeId" />
			<div class="form-group">
				<label class="col-sm-3 control-label ">币种：</label>
				<div class="col-sm-8">
					<select class="form-control" id="token" name="token"
						style="width: auto;">
						<option th:each="token : ${tokens}" th:text="${token.token}"
							th:value="${token.token}" />
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">地址：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="bossAddress"
						id="bossAddress">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<textarea class="form-control" type="textarea" name="remark" id="remark"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<div class="onoffswitch">
						<input type="checkbox" th:checked="true"
							class="onoffswitch-checkbox" id="status" name="status"> <label
							class="onoffswitch-label" for="status"> <span
							class="onoffswitch-inner"></span> <span
							class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script>
		$("#form-user-add").validate({
			rules : {
				token : {
					required : true,
				},
				address : {
					required : true,
				},
			},
		});

		function submitHandler() {
			if ($.validate.form()) {
				add();
			}
		}

		function add() {
			var bossAddress = $("input[name='bossAddress']").val();
			var remark = $("textarea[name='remark']").val();
			var token = $("select[name='token']").val();
			var valid = $("input[name='status']").is(':checked') == true ? 'E'
					: 'D';
			$.ajax({
				cache : true,
				type : "POST",
				url : ctx + "wallet/add",
				data : {
					"bossAddress" : bossAddress,
					"token" : token,
					"remark" : remark,
					"valid" : valid
				},
				async : false,
				error : function(request) {
					$.modal.alertError("系统错误");
				},
				success : function(data) {
					$.operate.saveSuccess(data);
				}
			});
		}
	</script>
</body>
</html>
