<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.GBetaAccountRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.GBetaAccountRecord">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="beta_account_id" property="betaAccountId" />
        <result column="before_amount" property="beforeAmount" />
        <result column="amount" property="amount" />
        <result column="after_amount" property="afterAmount" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, user_id AS userId, beta_account_id AS betaAccountId, before_amount AS beforeAmount, amount, after_amount AS afterAmount, remark
    </sql>

    <!--  查询beta账户划转记录  -->
    <select id="transferRecord" resultType="com.jdcloud.provider.vo.TransferRecordVO" parameterType="java.lang.Long">
        SELECT
        g.record_type AS type,t.`value` AS currency,g.create_time AS time,
        g.after_amount - g.before_amount as changeAmount
        FROM g_beta_account_record g
        INNER JOIN g_beta_account b ON b.id = g.beta_account_id
        LEFT JOIN t_account_config t ON t.account_type = b.product_type
        WHERE g.user_id = #{userId}
        AND g.remark = '资金划转'
        ORDER BY g.id DESC
    </select>

    <select id="getRecordById" resultType="com.jdcloud.provider.vo.RecordVO" parameterType="java.lang.String">
        SELECT c.`value` AS currency,r.create_time as time,r.after_amount as afterAmount,(r.after_amount - r.before_amount) as changeAmount,0 AS fee,
        CASE
            WHEN r.record_type = 1 THEN '转入beta账户'
            WHEN r.record_type = 2 THEN '转出beta账户'
            WHEN r.record_type = 3 THEN '转出beta账户'
            WHEN r.record_type = 4 THEN '转入beta账户'
            ELSE ''
        END AS type
        FROM g_beta_account_record r
        INNER JOIN g_beta_account a ON a.id = r.beta_account_id
        INNER JOIN t_account_config c ON c.account_type = a.product_type
        WHERE r.id = #{id}
    </select>

    <select id="selectRecord" resultType="com.jdcloud.provider.vo.RecordVO">
         SELECT c.`value` AS currency,r.create_time as time,r.after_amount as afterAmount,(r.after_amount - r.before_amount) as changeAmount,0 AS fee,
        CASE
            WHEN r.record_type = 1 THEN '转入beta账户'
            WHEN r.record_type = 2 THEN '转出beta账户'
            WHEN r.record_type = 3 THEN '转出beta账户'
            WHEN r.record_type = 4 THEN '转入beta账户'
            ELSE ''
        END AS type
        FROM g_beta_account_record r
        INNER JOIN g_beta_account a ON a.id = r.beta_account_id
        INNER JOIN t_account_config c ON c.account_type = a.product_type
        WHERE r.user_id = #{userId}
        AND r.remark = '资金划转'
        <if test="productType != null">
            AND c.account_type = #{productType}
        </if>
        AND r.record_type in
        <foreach  item="item" collection="list" separator="," open="(" close=")">
            #{item}
        </foreach>
        ORDER BY r.id DESC
    </select>
</mapper>
