<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wallet.biz.mapper.PersonalAccountRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wallet.biz.pojo.CPersonalAccountRecord">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="entrust_id" property="entrustId" />
        <result column="peraccount_id" property="peraccountId" />
        <result column="before_amount" property="beforeAmount" />
        <result column="amount" property="amount" />
        <result column="after_amount" property="afterAmount" />
        <result column="product_type" property="productType" />
        <result column="version" property="version" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, user_id AS userId, entrust_id AS entrustId, peraccount_id AS peraccountId, before_amount AS beforeAmount, amount, after_amount AS afterAmount, product_type AS productType, version, remark
    </sql>

    <!--  查询法币账号划转记录  -->
    <select id="transferRecord" parameterType="java.lang.Long" resultType="com.wallet.biz.vo.TransferRecordVO">
        SELECT
        c.record_type  AS type,c.remark,t.`value` AS currency,c.create_time AS time,
        c.after_amount - c.before_amount as changeAmount
        FROM c_personal_account_record c
        LEFT JOIN t_account_config t ON t.account_type = c.product_type
        WHERE
        c.user_id = #{userId}
        AND  c.remark = '资金划转'
        ORDER BY c.id DESC
    </select>

    <select id="getRecordById" parameterType="java.lang.String" resultType="com.wallet.biz.vo.RecordVO">
        SELECT c.`value` AS currency,r.create_time AS time,r.after_amount as afterAmount,(r.after_amount - r.before_amount) AS changeAmount,0 AS fee,
        CASE
            WHEN r.record_type = 1 THEN '转出法币账户'
            WHEN r.record_type = 2 THEN '转入法币账户'
            WHEN r.record_type = 3 THEN '转出法币账户'
            WHEN r.record_type = 4 THEN '转入法币账户'
            ELSE ''
        END AS type
        FROM c_personal_account_record r
        INNER JOIN t_account_config c ON c.account_type = r.product_type
        WHERE r.id = #{id}
    </select>

    <select id="selectRecord" resultType="com.wallet.biz.vo.RecordVO">
        SELECT c.`value` AS currency,r.create_time AS time,r.after_amount as afterAmount,(r.after_amount - r.before_amount) AS changeAmount,0 AS fee,
        CASE
            WHEN r.record_type = 1 THEN '转出法币账户'
            WHEN r.record_type = 2 THEN '转入法币账户'
            WHEN r.record_type = 3 THEN '转出法币账户'
            WHEN r.record_type = 4 THEN '转入法币账户'
            ELSE ''
        END AS type
        FROM c_personal_account_record r
        INNER JOIN t_account_config c ON c.account_type = r.product_type
        WHERE r.user_id = #{userId}
        AND  r.remark = '资金划转'
        <if test="productType != null">
            AND r.product_type = #{productType}
        </if>
        AND r.record_type in
        <foreach  item="item" collection="list" separator="," open="(" close=")">
            #{item}
        </foreach>
        ORDER BY r.id DESC
    </select>
</mapper>
