<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.PersonalAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.CPersonalAccount">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="balance" property="balance" />
        <result column="used_margin" property="usedMargin" />
        <result column="dynamic_balance" property="dynamicBalance" />
        <result column="total_enter" property="totalEnter" />
        <result column="total_exit" property="totalExit" />
        <result column="product_type" property="productType" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, update_time AS updateTime, user_id AS userId, balance, used_margin AS usedMargin,dynamic_balance AS dynamicBalance, total_enter AS totalEnter, total_exit AS totalExit, product_type AS productType, version
    </sql>

    <!--  法币账户入账  -->
    <update id="inMoney">
        UPDATE c_personal_account
        <set>
            <if test="balance != null">balance = #{balance}, </if>
            <if test="totalEnter != null">total_enter = #{totalEnter}, </if>
            update_time = now(),
            version = version + 1
        </set>
        WHERE id = #{id} AND version = #{version}
    </update>

    <!--  法币账户出账  -->
    <update id="outMoney">
        UPDATE c_personal_account
        <set>
            <if test="balance != null">balance = #{balance}, </if>
            <if test="totalExit != null">total_exit = #{totalExit}, </if>
            update_time = now(),
            version = version + 1
        </set>
        WHERE id = #{id} AND version = #{version}
    </update>

    <update id="modifyTransferFrozen">
        UPDATE c_personal_account
		SET
			balance = balance - #{num},
			used_margin = used_margin + #{num},
			version = version + 1
		WHERE id = #{id} AND version = #{version}
    </update>

    <update id="decreaseFreeze">
        UPDATE c_personal_account
		SET
			used_margin = used_margin - #{num},
			version = version + 1,
			total_exit = total_exit + #{num}
		WHERE id = #{id} AND version = #{version}
    </update>

    <select id="getByUserId" resultType="com.jdcloud.provider.vo.PersonalAccountVO">
    SELECT c.keyword AS currency,a.balance,a.used_margin AS usedMargin
    FROM c_personal_account a
    LEFT JOIN t_account_config c ON c.account_type = a.product_type
    where a.user_id = #{userId}
    </select>
</mapper>
