<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wallet.biz.mapper.PersonalCardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wallet.biz.pojo.PersonalCard">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="bank_name" property="bankName" />
        <result column="bank_number" property="bankNumber" />
        <result column="alipay" property="alipay" />
        <result column="alipay_number" property="alipayNumber" />
        <result column="wechat" property="wechat" />
        <result column="wechat_number" property="wechatNumber" />
        <result column="card_number" property="cardNumber" />
        <result column="card_A_url" property="cardAUrl" />
        <result column="card_B_url" property="cardBUrl" />
        <result column="auth_stauts" property="authStauts" />
        <result column="current_identity" property="currentIdentity" />
        <result column="init_check" property="initCheck" />
        <result column="old_flag" property="oldFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
     id,
     create_time AS createTime,
     update_time AS updateTime,
     user_id AS userId,
     NAME,
     bank_name AS bankName,
     bank_number AS bankNumber,
     alipay,
     alipay_number AS alipayNumber,
     wechat,
     wechat_number AS wechatNumber,
     card_number AS cardNumber,
     card_A_url AS cardAUrl,
     card_B_url AS cardBUrl,
     auth_stauts AS authStauts,
     current_identity AS currentIdentity,
     phone,
     init_check AS initCheck,
     old_flag AS oldFlag
</sql>



</mapper>
