<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wallet.biz.mapper.TAccountManageMapper">

    <resultMap id="BaseResultMap" type="com.wallet.biz.pojo.TAccountManage">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="name" property="name"/>
        <result column="key_name" property="keyName"/>
        <result column="value" property="value"/>
        <result column="locality" property="locality"/>
    </resultMap>

    <select id="queryAccountDirectionList" parameterType="java.lang.Integer" resultType="com.wallet.biz.pojo.TAccountManage">
        SELECT t.id,t.`name`,t.`value`
        FROM t_transfer_direction d
        INNER JOIN t_account_manage t ON t.id = d.target_account_id
        WHERE d.main_account_id = #{mainAccountId}
        AND d.`status` = 1
    </select>
</mapper>
