<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wallet.biz.mapper.TWalletTransferMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wallet.biz.pojo.TWalletTransfer">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="currency" property="currency" />
        <result column="count" property="count" />
        <result column="business_number" property="businessNumber" />
        <result column="status" property="status" />
        <result column="type_channel" property="typeChannel" />
        <result column="source_channel" property="sourceChannel" />
        <result column="des" property="des" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, currency, count, business_number AS businessNumber, status, type_channel AS typeChannel, source_channel AS sourceChannel, desc, create_time AS createTime, update_time AS updateTime
    </sql>

</mapper>
