<!DOCTYPE html>
<html class="x-admin-sm">
  
  <head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <link rel="stylesheet" href="/statics/css/font.css">
    <link rel="stylesheet" href="/statics/css/xadmin.css">
    <link rel="icon" href="/statics/images/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="/statics/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/statics/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/statics/js/xadmin.js"></script>
    <script type="text/javascript" src="/statics/js/cookie.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
  <script src="/statics/js/vue.min.js"></script>
  <script src="/statics/js/vue-resource.js"></script>
    <div class="x-body" id="editPass">
        <form class="layui-form" @submit.prevent="submit">
            <!--<div class="layui-form-item">-->
            <!--<label for="username" class="layui-form-label">-->
            <!--<span class="x-red">*</span>登录名-->
            <!--</label>-->
            <!--<div class="layui-input-inline" id="app">-->
            <!--<input type="text" id="username" name="username" required="" lay-verify="required"-->
            <!--autocomplete="off" v-model="user_name" class="layui-input" readonly="readonly">-->
            <!--</div>-->
            <!--</div>-->
            <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">
                    <span class="x-red">*</span>密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_pass" name="pass" required="" lay-verify="pass" v-model="inputtext.pass"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    6到16个字符
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>确认密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_repass" name="repass" required="" lay-verify="repass" v-model="inputtext.repass"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button  class="layui-btn"  lay-submit="">
                    确定
                </button>
            </div>
        </form>
    </div>
  <script>
      layui.use(['form','layer'], function(){
          $ = layui.jquery;
          var form = layui.form
          var layer = layui.layer;

          //自定义验证规则
          form.verify({
              nikename: function(value){
                  if(value.length < 5){
                      return '昵称至少得5个字符啊';
                  }
              }
              ,pass: [/(.+){6,12}$/, '密码必须6到12位']
              ,repass: function(value){
                  if($('#L_pass').val()!=$('#L_repass').val()){
                      return '两次密码不一致';
                  }
              }
          });

      });


      new Vue({
          el: '#editPass',
          data: {
              inputtext:{},
              messageBody:{}
          },
          methods: {
              submit: function() {
                  console.log(this.inputtext);
                  console.log(111111);
                  this.$http.post('/updateUser',{pass:this.inputtext.pass,repass:this.inputtext.repass},{emulateJSON:true}).then(function(res){
                      this.messageBody = res.body
                      document.write(res.body.message);
                      // console.log(res);
                  },function(res){
                      console.log(res.status);
                  });
              }
          },
      })
  </script>
  </body>

</html>