<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/statics/js/vue.min.js"></script>
<script src="/statics/js/vue-resource.js"></script>
<script src="/statics/js/index.js"></script>
<script type="text/javascript" src="/statics/js/wechatSDK.js"></script>
<script type="text/javascript" src="/statics/js/lib/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    // var jsParam = "{\n" +
    //     "  \"appId\": \"wx8870240f16322e40\",\n" +
    //     "  \"nonceStr\": \"12a3c6e169b5bf3b7c3a3a1893e2aeff\",\n" +
    //     "  \"package\": \"prepay_id=wx171351216844216ed08881a91684537775\",\n" +
    //     "  \"paySign\": \"53A6D1DF6D93D25AD7AC5C84501EF4AA\",\n" +
    //     "  \"signType\": \"MD5\",\n" +
    //     "  \"timeStamp\": \"1555480289\"\n" +
    //     "}\n"
    // var jsParam2 = JSON.parse(jsParam);

    function wxpay(jsParam) {
        // alert(jsParam2)
        // JS_SDK.init(config.isDebug);
        JS_SDK.chooseWXPay(jsParam);
    }


    function btn(){
        // console.log(1111111111)
        // JS_SDK.init(config.isDebug);//JSSDK接口自动授权
        $.ajax({ type:'post',url: "/pay/wxpay", data: {payOrderNo:654321,payMethod:"Weixin_wap",openid:"orilw5jpUAEK6YWivoO9hjAneipU"}, contentType: "application/x-www-form-urlencoded",
            success: function(data){
                console.log("创建预支付: ")
                console.log(data)
                var jsParam2 = JSON.parse(data.payInfo);
                wxpay(jsParam2);
            }

        });
    }


    var abc = new Vue({
        el: '#abc',
        data: {

        },
        mounted: function () {

        },methods:{
            wxpay12() {
                // console.log(1111111111)
                // JS_SDK.init(config.isDebug);//JSSDK接口自动授权
                $.ajax({ type:'post',url: "/pay/wxpay", data: {payOrderNo:654321,payMethod:"Weixin_wap",openid:"orilw5mvYHbXGmXBj-gmzRQhjb4A"}, contentType: "application/x-www-form-urlencoded",
                    success: function(data){
                        console.log("创建预支付: ")
                        console.log(data)
                        var jsParam2 = JSON.parse(data.payInfo);
                        wxpay(jsParam2);
                    }

                });
            }
        }
    })
</script>
<body>
<button type="button" id="btn" onclick="btn()" style="width: 260px;height: 80px;">测试押金</button>
</body>
</html>