<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="type-form">
					<div class="select-list">
						<ul>
							<li>
								代理级别：<select name="agntLevel">
									<option value="">所有</option>
									<option value="1">一级代理</option>
									<option value="2">二级代理</option>
									<option value="3">三级代理</option>
								</select>
							</li>
							<li> 
								综合：<input type="text" placeholder="姓名、账号"  name="agntName"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="agnt:user:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('agnt:user:edit')}]];
		var prefix = ctx + "agnt/user";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        sortName: "create_time",
		        sortOrder: "desc",
		        modalName: "代理商账号",
		        search: false,
		        showExport: false,
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'agntId',
		            title: '序号'
		        },
		        {
		            field: 'loginName',
		            title: '账号'
		        },
		        {
		            field: 'agntName',
		            title: '姓名'
		        },
		        {
		            field: 'agntLevel',
		            title: '代理级别',
	            	formatter : function (value, row, index){
		            	if(value == 1){
		            		return "一级代理";
		            	}else if(value ==2){
		            		return "二级代理";
		            	}else{
							return "三级代理";		            		
		            	}
		            }
		        },
		        {
		            field: 'lastAgntName',
		            title: '上级代理'
		        },
		        {
		            field: 'userType',
		            title: '账号类型',
		            formatter : function (value, row, index){
		            	if(value == 1){
		            		return "独立账号";
		            	}else{
		            		return "平台账号";
		            	}
		            }
		        },
		        {
		            field: 'status',
		            title: '是否启用',
		            formatter : function (value, row, index){
		            	if(value == 1){
		            		return "启用";
		            	}else{
		            		return "停用";
		            	}
		            }
		        },
		        {
		            field: 'createTime',
		            title: '创建时间'
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.agntId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});

	</script>
</body>
</html>