<!DOCTYPE html>
<html class="x-admin-sm">

<head>
  <meta charset="UTF-8">
  <title>添加场景</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
  <link rel="stylesheet" href="/statics/css/font.css">
  <link rel="stylesheet" href="/statics/css/xadmin.css">
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/statics/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="/statics/js/xadmin.js"></script>
  <script type="text/javascript" src="/statics/js/cookie.js"></script>
  <script src="/statics/js/pinyin.js/initials.js"></script>
  <script src="/statics/js/pinyin.js/pinyin.js"></script>
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="x-body" id="app">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:12px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
      <i class="layui-icon" style="line-height:25px"><img src="/statics/images/refresh2.png" alt="" style="width:16px;"></i>
    </a>
    <form class="layui-form">
      <!--<div class="layui-form-item">-->
        <!--<label for="username" class="layui-form-label">-->
          <!--<span class="x-red">*</span>代理商名称-->
        <!--</label>-->
        <!--<div class="layui-input-inline">-->
          <!--<select name="city" lay-verify=""  lay-search>-->
            <!--&lt;!&ndash;<option value="021">请选择</option>&ndash;&gt;-->
            <!--<option v-for="al in agentList" :value="al.">{{al.}}</option>-->
          <!--</select>-->
        <!--</div>-->
      <!--</div>-->

      <div class="layui-form-item">
        <label for="price" class="layui-form-label">
          <span class="x-red">*</span>销售代表
        </label>
        <div class="layui-input-inline">
          <select name="soleUid" lay-verify="required"  lay-search>
            <option value="">请选择</option>
            <option v-for="l in soleList" :value="l.uid">{{l.nickname}}</option>
            <!--<option value="022">张三</option>-->
            <!--<option value="023">李四</option>-->
            <!--<option value="024">王五</option>-->
          </select>
        </div>
      </div>

      <div class="layui-form-item">
        <label for="price" class="layui-form-label">
          <span class="x-red">*</span>选择设备
        </label>
        <div class="layui-input-inline">
          <select name="deviceUuid" lay-verify="required"  lay-search>
            <option value="">请选择</option>
            <option v-for="dl in deviceList" :value="dl.deviceUuid">{{dl.deviceName}}</option>
            <!--<option value="022">7</option>-->
            <!--<option value="023">5</option>-->
            <!--<option value="024">8</option>-->
          </select>
        </div>
      </div>

      <div class="layui-form-item">
        <label for="price" class="layui-form-label">
          <span class="x-red">*</span>场所名称
        </label>
        <div class="layui-input-inline">
          <input type="text" id="placeName" name="placeName" required="" lay-verify="required" autocomplete="off"
            class="layui-input">
        </div>
      </div>

      <!--<div class="layui-form-item">-->
        <!--<label for="price" class="layui-form-label">-->
          <!--<span class="x-red">*</span>场所类型-->
        <!--</label>-->
        <!--<div class="layui-input-inline">-->
          <!--<select name="sailer" lay-verify=""  lay-search>-->
            <!--<option value="021"></option>-->
            <!--<option value="022">商场</option>-->
            <!--<option value="023">酒吧</option>-->
            <!--<option value="024">网吧</option>-->
            <!--<option value="025">KTV</option>-->
            <!--<option value="026">超市</option>-->
          <!--</select>-->
        <!--</div>-->
      <!--</div>-->

      <div class="layui-form-item">
        <label for="price" class="layui-form-label">
          <span class="x-red">*</span>管理员名称
        </label>
        <div class="layui-input-inline">
          <input type="text" id="manageNickname" name="manageNickname" required="" lay-verify="required" autocomplete="off"
            class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label for="price" class="layui-form-label">
          <span class="x-red">*</span>选择套餐
        </label>
        <div class="layui-input-inline">
          <select name="chargeNo" lay-verify="required"  lay-search>
            <option value="">请选择</option>
            <option v-for="cl in chargeList" :value="cl.chargeNo">{{cl.chargeName}}</option>
            <!--<option value="022">G套餐2元/小时</option>-->
            <!--<option value="023">D套餐3元/小时</option>-->
          </select>
        </div>
      </div>

      <div class="layui-form-item">
        <label for="price" class="layui-form-label">
          场所地址
        </label>
        <div class="layui-input-inline">
          <input type="text" id="placeRemark" name="placeRemark" required="" lay-verify="required" autocomplete="off"
                 class="layui-input" placeholder="" v-model="address">
        </div>
      </div>


      <div class="layui-form-item" style="display:none;">
        <label for="price" class="layui-form-label">
          纬度
        </label>
        <div class="layui-input-inline">
          <input type="text" id="latitude" name="lat" required="" lay-verify="required" autocomplete="off"
                 class="layui-input" placeholder="" v-model="latitude" disabled >
        </div>
      </div>


      <div class="layui-form-item" style="display:none;">
        <label for="price" class="layui-form-label">
          经度
        </label>
        <div class="layui-input-inline">
          <input type="text" id="longitude" name="lon" required="" lay-verify="required" autocomplete="off"
                 class="layui-input" placeholder="" v-model="longitude" disabled hidden>
        </div>
      </div>


      <!--<div class="layui-form-item">-->
        <!--<label for="price" class="layui-form-label">-->
          <!--场所图片-->
        <!--</label>-->
        <!--<div class="layui-input-inline">-->
          <!--<input type="file" class="layui-input"  id="file" class="filepath" @change="changepic(this)" accept="image/jpg,image/jpeg,image/png,image/PNG">-->
          <!--<div style="margin-top:10px;color:#888;">请上传200*200px的图片</div>-->
          <!--<img src="#" id="img3" style="width:150px;height:150px;"/>-->
        <!--</div>-->


      <!--</div>-->





      <div class="layui-form-item">
        <label for="price" class="layui-form-label">
          <span class="x-red">*</span>结算模式
        </label>
        <div class="layui-input-inline">
          <select name="divideType" lay-verify="required" lay-filter="accountModel" lay-search>
            <option value=""></option>
            <option value="0">分成模式</option>
            <option value="1">租金模式</option>
          </select>
        </div>
      </div>



      <div>
        <div class="layui-form-item" id="shareModel">
          <label for="price" class="layui-form-label">
            <span class="x-red">*</span>分成百分比(%)
          </label>
          <div class="layui-input-inline">
            <input type="text" id="divideNumber" name="divideNumber" required=""  autocomplete="off"
              class="layui-input">
          </div>
        </div>

        <div class="layui-form-item" id="rentModel">
          <label for="price" class="layui-form-label">
            <span class="x-red">*</span>租金（元）
          </label>
          <div class="layui-input-inline">
            <input type="text" id="rentNumber" name="rentNumber" required=""  autocomplete="off"
              class="layui-input">
          </div>
        </div>
      </div>


      <div class="layui-form-item">
        <label for="L_repass" class="layui-form-label">
        </label>
        <button class="layui-btn" lay-filter="add" lay-submit="">
          保存
        </button>
      </div>


    </form>


  </div>

<script src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js "></script>
<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=PAFBZ-SRYWQ-YCR5K-GJVIC-3774E-THBZ7"></script>
  <script>
    layui.use(['form', 'layer'], function () {
      $ = layui.jquery;
      var form = layui.form
        , layer = layui.layer;

      //自定义验证规则
      form.verify({
        nikename: function (value) {
          if (value.length < 5) {
            return '昵称至少得5个字符啊';
          }
        }
        , pass: [/(.+){6,12}$/, '密码必须6到12位']
      });

        // 监听提交
        form.on('submit(add)', function(data){
            console.log(JSON.stringify(data.field))
            //发异步，把数据提交给
            $.ajax({ type:'post',url: "/addPlaceInfo", data: JSON.stringify(data.field),contentType: "application/json",
                success: function(date){

                    //发异步，把数据提交给
                    layer.alert("增加成功", {icon: 6},function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        // 可以对父窗口进行刷新
                        x_admin_father_reload();
                    });

                }
            });
            return false;
        });


      // 判断选择分成模式
      $("#shareModel").hide()
      $("#rentModel").hide()
      form.on('select(accountModel)', function (data) {
        category = data.value;
        accountModel = data.elem[data.elem.selectedIndex].text;
        if (accountModel == "分成模式") {
          $("#shareModel").show(300)
          $("#rentModel").hide()
        } else {
          $("#shareModel").hide()
          $("#rentModel").show(300)
        }
      })




    });
  </script>
  <script>


  </script>


  <script src="/statics/js/vue.min.js"></script>
  <script src="/statics/js/vue-resource.js"></script>
  <script>
      $("#img3").css("display", "none");
      var geocoder = new qq.maps.Geocoder();
      var li = new Vue({
          el: "#app",
          data: {
              address: "",
              latitude: '',
              longitude: '',
              result: "",
              // agentList:[],
              soleList:[],
              deviceList:[],
              chargeList:[],

          },
          mounted:function () {
                  var _this = this;
                  // this.$http.post('/findAllAgentInfo',{emulateJSON:false}).then(function(res){
                  //     _this.agentList = res.body.list});
                  this.$http.post('/findAllSoleUser',{emulateJSON:false}).then(function(res){
                          console.log('销售代表')
                          console.log(res)
                      _this.soleList = res.body.list}

                      );
                  this.$http.post('/device/listDate',{emulateJSON:false}).then(function(res){
                      _this.deviceList = res.body.list});
                  this.$http.post('/findAllChargeInfo',{emulateJSON:false}).then(function(res){
                      _this.chargeList = res.body.list});
              console.log('----------------')
              console.log(_this.soleList)
              console.log(_this.deviceList)
              console.log(_this.chargeList)
              console.log('----------------')
              },
          methods: {
              //上传图片
              changepic:function() {
                  var reads = new FileReader();
                  f = document.getElementById('file').files[0];
                  reads.readAsDataURL(f);
                  reads.onload = function(e) {
                      document.getElementById('img3').src = this.result;
                      $("#img3").css("display", "block");
                  };
              }
          },
          watch: {
              //输入地址，带出经纬度
              address: function (val) {
                  this.address = val;
                  this.latitude = ""
                  this.longitude = ""
                  geocoder.getLocation(val);
                  //设置服务请求成功的回调函数
                  geocoder.setComplete(function (result) {
                      console.log(result.detail.address)
                      var _this = li;
                      _this.latitude = result.detail.location.lat
                      _this.longitude = result.detail.location.lng
                      // console.log(_this.latitude)

                  });

                  //若服务请求失败，则运行以下函数
                  geocoder.setError(function () {
                      //alert("出错了，请输入正确的地址！！！");
                  });


              }
          }


      })



  </script>
</body>

</html>