<!DOCTYPE html>
<html class="x-admin-sm">

<head>
  <meta charset="UTF-8">
  <title>模块日志</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
  <link rel="stylesheet" href="/statics/css/font.css">
  <link rel="stylesheet" href="/statics/css/xadmin.css">
  <script type="text/javascript" src="/statics/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="/statics/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="/statics/js/xadmin.js"></script>
  <script type="text/javascript" src="/statics/js/cookie.js"></script>
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
  .searchBigBox {
    border: 1px solid #dedee1;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  }
  .searchItem {
    margin-right:10px;
    margin-bottom:10px;
  }

</style>

<body>
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="">首页</a>
      <a href="">配置管理</a>
      <a>
        <cite>模块日志</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:12px;float:right"
      href="javascript:location.replace(location.href);" title="刷新">
      <i class="layui-icon" style="line-height:25px"><img src="/statics/images/refresh2.png" alt="" style="width:16px;"></i></a>
  </div>
  <div class="x-body" id="app">
    <xblock>
      <button class="layui-btn" onclick="searchs_show()"><i class="layui-icon">&#xe615;</i>查询</button>
      <span class="x-right" style="line-height:40px">共有数据：88 条</span>
    </xblock>
    <!-- 搜索条件 -->
    <div class="layui-row searchBigBox" id="searchBox" style="overflow:visible;">
      <form class="layui-form layui-col-md12 x-so">
        <div class="form-group col-lg-3">
          <input type="text" name="username" placeholder="请输入充电宝编号" autocomplete="off" class="layui-input searchItem">
          <input type="text" name="username" placeholder="请输入服务器Ip" autocomplete="off" class="layui-input searchItem">
          <div class="layui-input-inline searchItem">
            <select name="contrller">
              <option>请选择状态</option>
            </select>
          </div>
          <div class="layui-input-inline searchItem">
                <select name="contrller">
                  <option>请选择复位原因</option>
                </select>
              </div>
          <input class="layui-input searchItem" placeholder="开始下单时间" name="start" id="start">
          <input class="layui-input searchItem" placeholder="结束时间" name="end" id="end">
          <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </form>
    </div>

    <table class="layui-table">
      <thead>
        <tr>
            <th>状态</th>
            <th>上位复出理由</th>
            <th>服务器IP</th>
            <th>服务器端口</th>
            <th>充电宝编号</th>
            <th>充电宝IP</th>
            <th>充电宝端口</th>
            <th>创建时间</th>
        
        </tr>
      </thead>
      <tbody>
      <tr v-for="item in list">
        <td>{{item.state}}</td>
        <td>{{item.comebackReason}}</td>
        <td>{{item.serverIp}}</td>
        <td>{{item.serverPort}}</td>
        <td>{{item.powerNumber}}</td>
        <td>{{item.powerIp}}</td>
        <td>{{item.powerPort}}</td>
        <td>{{item.creatTime}}</td>
      </tr>
      </tbody>
    </table>

    <div class="page">
      <div>
        <a class="prev" href="">&lt;&lt;</a>
        <a class="num" href="">1</a>
        <span class="current">2</span>
        <a class="num" href="">3</a>
        <a class="num" href="">489</a>
        <a class="next" href="">&gt;&gt;</a>
      </div>
    </div>

  </div>
  <script src="/statics/js/vue.min.js"></script>
  <script src="/statics/js/vue-resource.js"></script>
  <script src="/statics/js/order_list.js"></script>
  <script>

    layui.use('laydate', function () {
      var laydate = layui.laydate;
      //执行一个laydate实例
      laydate.render({
        elem: '#start' //指定元素
      });

      //执行一个laydate实例
      laydate.render({
        elem: '#end' //指定元素
      });
    });

  </script>

  <script>
    new Vue({
      el: "#app",
      data: {
       list:[
          {
              "state":"充电宝上线",
              "comebackReason":"正常",
              "serverIp":"12",
              "serverPort":"2003",
              "powerNumber":"866646034509037",
              "powerIp":"134",
              "powerPort":"1245",
              "creatTime":"2019-4-15 10:12:13",

          },
          {
              "state":"充电宝上线",
              "comebackReason":"正常",
              "serverIp":"12",
              "serverPort":"2003",
              "powerNumber":"866646034509037",
              "powerIp":"13",
              "powerPort":"1245",
              "creatTime":"2019-4-15 10:12:13",

          }

       ]
      },
      methods:{
        
      }
    })

  </script>
</body>

</html>