<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-dict-add">

        <div class="form-group">
            <label class="col-sm-3 control-label">币种：</label>
            <div class="col-sm-4">
                <select class="form-control" id="accountConfigId" name="accountConfigId"
                        th:with="accountConfigList=${accountConfigList}"
                        style="width: auto;" >
                    <option th:each="ac : ${accountConfigList}" th:text="${ac.name}"
                            th:value="${ac.id}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">固定比：</label>
            <div class="col-sm-4">
                <!--<input class="form-control" type="text" name="fixedRatio" id="fixedRatio" required>-->
                <input class="form-control"  type="number" name="fixedRatio"
                       id="fixedRatio" max="100" min="0" required>
            </div>
            <label class="control-label">% 不超过100%</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">浮动比上限：</label>
            <div class="col-sm-4">
                <!--<input class="form-control" type="text" name="floatRatioUp" id="floatRatioUp" required>-->
                <input class="form-control"  type="number" name="floatRatioUp"
                       id="floatRatioUp" max="100" min="0" required>
            </div>
            <label class="control-label">% 不超过100%</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">浮动比下限：</label>
            <div class="col-sm-4">
                <!--<input class="form-control" type="text" name="floatRatioDown" id="floatRatioDown" required>-->
                <input class="form-control"  type="number" name="floatRatioDown"
                       id="floatRatioDown" max="100" min="0" required>
            </div>
            <label class="control-label">% 不超过100%</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">狗粮系数：</label>
            <div class="col-sm-4">
                <!--<input class="form-control" type="text" name="foodCoefficient" id="foodCoefficient" required>-->
                <input class="form-control"  type="number" name="foodCoefficient"
                       id="foodCoefficient" max="100000" min="0" required>
            </div>
            <label class="control-label">不小于0</label>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label">力量系数：</label>
            <div class="col-sm-4">
                <!--<input class="form-control" type="text" name="powerCoefficient" id="powerCoefficient" required>-->
                <input class="form-control"  type="number" name="powerCoefficient"
                       id="powerCoefficient" max="100000" min="0" required>
            </div>
            <label class="control-label">不小于0</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">敏捷系数：</label>
            <div class="col-sm-4">
                <!--<input class="form-control" type="text" name="agilityCoefficient" id="agilityCoefficient" required>-->
                <input class="form-control"  type="number" name="agilityCoefficient"
                       id="agilityCoefficient" max="100000" min="0" required>
            </div>
            <label class="control-label">不小于0</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">体力系数：</label>
            <div class="col-sm-4">
                <!--<input class="form-control" type="text" name="staminaCoefficient" id="staminaCoefficient" required>-->
                <input class="form-control"  type="number" name="staminaCoefficient"
                       id="staminaCoefficient" max="100000" min="0" required>
            </div>
            <label class="control-label">不小于0</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">修正系数：</label>
            <div class="col-sm-4">
                <!--<input class="form-control" type="text" name="correctCoefficient" id="correctCoefficient" required>-->
                <input class="form-control"  type="number" name="correctCoefficient"
                       id="correctCoefficient" max="100000" min="0" required>
            </div>
            <label class="control-label">不小于0</label>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="col-sm-3 control-label">获取概率：</label>-->
            <!--<div class="col-sm-2">-->
                <!--<input class="form-control" type="text" name="probability" id="probability" required>-->
            <!--</div>-->
            <!--<label class="control-label">不小于0</label>-->
        <!--</div>-->

        <div class="form-group">
            <label class="col-sm-3 control-label">是否启用：</label>
            <div class="col-sm-9">
                <div class="radio-box" th:each="dict : ${@dict.getType('house_house_account_set_status')}">
                    <input type="radio" name="status" th:value="${dict.dictValue}">
                    <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                </div>
            </div>
        </div>

    <!--    <div class="form-group">
            <label class="col-sm-3 control-label">关联智力：</label>
            <div class="col-sm-9">
                <div class="radio-box" th:each="dict : ${@dict.getType('house_house_account_set_isCharm')}">
                    <input type="radio" name="isCharm" th:value="${dict.dictValue}">
                    <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                </div>
            </div>
        </div>-->

    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script type="text/javascript">
    var prefix = ctx + "betaHouse/houseAccountSet";
    $("#form-dict-add").validate({
        rules: {
            dictSort: {
                digits: true
            },
        },
        focusCleanup: true
    });
    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/saveHouseAccountSet", $('#form-dict-add').serialize());
        }
    }
</script>
</body>
</html>
