<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-dict-edit" th:object="${dto}">
        <input name="id" type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label">币种：</label>
            <div class="col-sm-3">
                <select class="form-control" id="accountConfigId" name="accountConfigId"
                        th:with="accountConfigList=${accountConfigList}" th:field="*{accountConfigId}"
                        style="width: auto;" disabled>
                    <option th:each="ac : ${accountConfigList}" th:text="${ac.name}"
                            th:value="${ac.id}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">创建时间：</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{createTime}"
                       name="createTime" id="createTime" disabled>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">修改时间：</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" th:field="*{updateTime}"
                       name="updateTime" id="updateTime" disabled>
            </div>
        </div>


        <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">产出浮动比：</label>-->
        <!--<div class="col-sm-3">-->
        <!--<input type="number" name="outputFloatRatio" class="input-val form-control"-->
        <!--th:value="${#numbers.formatDecimal(dto.outputFloatRatio*100,0,2)}">-->
        <!--</div>-->
        <!--<label class="control-label">% 不超过100%</label>-->
        <!--</div>-->


        <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">数字货币占比：</label>-->
        <!--<div class="col-sm-3">-->
        <!--<input type="number" name="bigitalCurrencyProportion" class="input-val form-control"-->
        <!--th:value="${#numbers.formatDecimal(dto.bigitalCurrencyProportion*100,0,2)}">-->
        <!--</div>-->
        <!--<label class="control-label">% 不超过100%</label>-->
        <!--</div>-->


        <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">挖矿量浮动比例：</label>-->
        <!--<div class="col-sm-3">-->
        <!--<input type="number" name="floatMiningVolume" class="input-val form-control"-->
        <!--th:value="${#numbers.formatDecimal(dto.floatMiningVolume*100,0,2)}">-->
        <!--</div>-->
        <!--<label class="control-label">% 不超过100%</label>-->
        <!--</div>-->

        <div class="form-group">
            <label class="col-sm-3 control-label">固定比：</label>
            <div class="col-sm-4">
                <!--<input type="number" name="fixedRatio" class="input-val form-control"-->
                       <!--th:value="${#numbers.formatDecimal(dto.fixedRatio*100,0,2)}">-->
                <input class="input-val form-control"  type="number" name="fixedRatio"
                       id="fixedRatio" max="100" min="0" th:value="${#numbers.formatDecimal(dto.fixedRatio*100,0,2)}">
            </div>
            <label class="control-label">% 不超过100%</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">浮动比上限：</label>
            <div class="col-sm-4">
                <!--<input type="number" name="floatRatioUp" class="input-val form-control"-->
                       <!--th:value="${#numbers.formatDecimal(dto.floatRatioUp*100,0,2)}">-->
                <input class="input-val form-control"  type="number" name="floatRatioUp"
                       id="floatRatioUp" max="100" min="0" th:value="${#numbers.formatDecimal(dto.floatRatioUp*100,0,2)}" required>
            </div>
            <label class="control-label">% 不超过100%</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">浮动比下限：</label>
            <div class="col-sm-4">
                <!--<input type="number" name="floatRatioDown" class="input-val form-control"-->
                       <!--th:value="${#numbers.formatDecimal(dto.floatRatioDown*100,0,2)}">-->
                <input class="input-val form-control"  type="number" name="floatRatioDown"
                       id="floatRatioDown" max="100" min="0" th:value="${#numbers.formatDecimal(dto.floatRatioDown*100,0,2)}" required>
            </div>
            <label class="control-label">% 不超过100%</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">狗粮系数：</label>
            <div class="col-sm-4">
                <input class="input-val form-control"  type="number" name="foodCoefficient"
                       id="foodCoefficient" max="100000" min="0" th:value="${dto.foodCoefficient}" required>
            </div>
            <label class="control-label">不小于0</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">力量系数：</label>
            <div class="col-sm-4">
                <!--<input type="number" name="powerCoefficient" class="input-val form-control"-->
                       <!--th:value="${dto.powerCoefficient}">-->
                <input class="input-val form-control"  type="number" name="powerCoefficient"
                       id="powerCoefficient" max="100000" min="0" th:value="${dto.powerCoefficient}" required>
            </div>
            <label class="control-label">不小于0</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">敏捷系数：</label>
            <div class="col-sm-4">
                <input class="input-val form-control"  type="number" name="agilityCoefficient"
                       id="agilityCoefficient" max="100000" min="0" th:value="${dto.agilityCoefficient}" required>
            </div>
            <label class="control-label">不小于0</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">体力系数：</label>
            <div class="col-sm-4">
                <input class="input-val form-control"  type="number" name="staminaCoefficient"
                       id="staminaCoefficient" max="100000" min="0" th:value="${dto.staminaCoefficient}" required>
            </div>
            <label class="control-label">不小于0</label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">修正系数：</label>
            <div class="col-sm-4">
                <input class="input-val form-control"  type="number" name="correctCoefficient"
                       id="correctCoefficient" max="100000" min="0" th:value="${dto.correctCoefficient}" required>
            </div>
            <label class="control-label">不小于0</label>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="col-sm-3 control-label">获取概率：</label>-->
            <!--<div class="col-sm-3">-->
                <!--<input type="number" name="probability" class="input-val form-control"-->
                       <!--th:value="${#numbers.formatDecimal(dto.probability*100,0,2)}">-->
            <!--</div>-->
            <!--<label class="control-label">% 不超过100%</label>-->
        <!--</div>-->

        <div class="form-group">
            <label class="col-sm-3 control-label">是否启用：</label>
            <div class="col-sm-9">
                <div class="radio-box"
                     th:each="dict : ${@dict.getType('house_house_account_set_status')}">
                    <input type="radio" th:id="${dict.dictCode}" name="status"
                           th:value="${dict.dictValue}"
                           th:field="*{status}">
                    <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                </div>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="col-sm-3 control-label">关联智力：</label>-->
            <!--<div class="col-sm-9">-->
                <!--<div class="radio-box"-->
                     <!--th:each="dict : ${@dict.getType('house_house_account_set_isCharm')}">-->
                    <!--<input type="radio" th:id="${dict.dictCode}" name="isCharm"-->
                           <!--th:value="${dict.dictValue}"-->
                           <!--th:field="*{isCharm}">-->
                    <!--<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script type="text/javascript">
    var prefix = ctx + "betaHouse/houseAccountSet";
    $("#form-dict-edit").validate({
        rules: {
            dictSort: {
                digits: true
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/updateHouseAccountSet", $('#form-dict-edit').serialize());
        }
    }
</script>
</body>
</html>
