<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="operlog-form">
					<div class="select-list">
						<ul>
							<div style="overflow: auto;">
								<li class="select-time">
									<label>创建时间搜索： </label>
									<input type="text" class="time-input" id="startTime" placeholder="开始时间"
										   name="params[beginTime]"/>
									<span>-</span>
									<input type="text" class="time-input" id="endTime" placeholder="结束时间"
										   name="params[endTime]"/>
								</li>
								<li>
									<label>搜索： </label><input type="text" placeholder="手机号码搜索" name="phone"/>
								</li>
							</div>

							<li>
								<label>成功状态： </label>
								<select name="importStauts" th:with="type=${@dict.getType('import_Stauts')}" style="width: auto;">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
											th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
			</div>

			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>

	<div th:include="include :: footer"></div>
	<script th:inline="javascript">


		var importStautss = [[${@dict.getType('import_stauts')}]];
		var prefix = ctx + "beta/betaMale";
		$(function() {
		    var options = {
		        url: prefix + "/importRecordList",
				sortName: "b.create_time",
		        sortOrder: "desc",
		        modalName: "导入列表",
		        search: false,
		        showExport: false,
		        columns: [
					{
						field: 'comboId',
						title: '套餐Id'
					},
                    {
                        field: 'dogName',
                        title: '套餐名称'
                    },
					{
						field: 'createTime',
						title: '创建时间'
					},
                    {
                        field: 'price',
                        title: '公狗价格'
                    },
                    {
                        field: 'phone',
                        title: '用户手机号'
                    },
					{
						field: 'presellTime',
						title: '预售时间'
					},
                    {
                        field: 'importStauts',
                        title: '成功状态',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(importStautss, value);
                        }
                    }]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>