<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>Bitrade介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <style>
        .dashboard-header {
            width: 100%;
            height: 100%
        }

        .head {
            height: 30px;
            line-height: 30px;
            position: absolute;top: 10px;right: 200px;z-index: 10
        }

        #getDogECharts {
            width: 50%;
            height: 95%;
            float: left;
        }
        #meetECharts {
            width: 50%;
            height: 95%;
            float: left;
        }
    </style>
</head>
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="row  dashboard-header">
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div class="head">
        <input type="text" id="startTime" autocomplete="off" placeholder="日期搜索" th:value="${nowDate}"
               readonly onchange="changeTime()"
               name="beginTime" lay-key="1">
    </div>
    <div id="getDogECharts"></div>
    <div id="meetECharts"></div>
</div>
<div class="wrapper wrapper-content"></div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/ruoyi/js/common.js?v=3.0.0}"></script>
<script th:inline="javascript"> var ctx = [[@{/}]]; </script>
<script th:src="@{/ruoyi/js/ry-ui.js?v=3.0.0}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>

<div th:include="include :: footer"></div>

<script th:inline="javascript">
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#startTime',
            type: 'date',
            theme: 'molv',
            max: 0,
            btns: ['now', 'confirm'],
            done: function (value) {
                getData(value);
                meetChartGetData(value);
            }
        });
    });
    var myChart = echarts.init(document.getElementById('getDogECharts'));
    // 显示加载层
    myChart.showLoading();
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: {show: false, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        legend: {
            data: ['抢狗数', '卖狗数', '首次抢狗']
        },
        xAxis: [
            {
                name: '日期',
                type: 'category',
                data: [],
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                name: '数量'
            }
        ],
        series: [
            {
                name: '抢狗数',
                type: 'bar',
                data: []
            },
            {
                name: '卖狗数',
                type: 'bar',
                data: []
            },
            // {
            //     name: '成交量',
            //     type: 'bar',
            //     data: []
            // },
            {
                name: '首次抢狗',
                type: 'bar',
                data: []
            },
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    getData('');

    function getData(time) {
        $.ajax({
            cache: true,
            type: "POST",
            url: ctx + "beta/betaStatisticsUser/getcountDayDog",
            data: {
                "time": time
            },
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                myChart.hideLoading();
                // 填入数据
                myChart.setOption({
                    xAxis: {
                        // 根据名字对应到相应的系列
                        name: '',
                        data: data.result.date
                    },
                    series: [{
                            // 根据名字对应到相应的系列
                            name: '抢狗数',
                            data: data.result.registerSum
                        },
                        {
                            // 根据名字对应到相应的系列
                            name: '卖狗数',
                            data: data.result.authSum
                        },
                        // {
                        //     // 根据名字对应到相应的系列
                        //     name: '成交量',
                        //     data: data.result.buyPeiceSum
                        // },
                        {
                            // 根据名字对应到相应的系列
                            name: '首次抢狗',
                            data: data.result.dayFirstBuy
                        }]
                });
            }
        });
    }



    var meetChart = echarts.init(document.getElementById('meetECharts'));
    // 显示加载层
    meetChart.title = '嵌套环形图';
    // 显示加载层
    meetChart.showLoading();

    // 使用刚指定的配置项和数据显示图表。
    // meetChart.setOption(meetOption);
    meetChartGetData("");
    function meetChartGetData(time) {
        $.ajax({
            cache: true,
            type: "POST",
            url: ctx + "statistic/meet/data",
            data: {
                "time": time
            },
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                meetChart.hideLoading();
                // 填入数据
                meetChart.setOption({
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b}: {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        data:data.result.title
                    },
                    series: [
                        {
                            name:data.result.startDate + '预约人数',
                    type:'pie',
                    selectedMode: 'single',
                    radius: [0, '30%'],

                    label: {
                        normal: {
                            position: 'inner'
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:data.result.reserve
                    },
                    {
                        name:data.result.startDate + '点击人数',
                    type:'pie',
                    radius: ['40%', '55%'],
                    label: {
                    normal: {
                        formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                            backgroundColor: '#eee',
                            borderColor: '#aaa',
                            borderWidth: 1,
                            borderRadius: 4,
                            // shadowBlur:3,
                            // shadowOffsetX: 2,
                            // shadowOffsetY: 2,
                            // shadowColor: '#999',
                            // padding: [0, 7],
                            rich: {
                            a: {
                                color: '#999',
                                    lineHeight: 22,
                                    align: 'center'
                            },
                            hr: {
                                borderColor: '#aaa',
                                    width: '100%',
                                    borderWidth: 0.5,
                                    height: 0
                            },
                            b: {
                                fontSize: 16,
                                    lineHeight: 33
                            },
                            per: {
                                color: '#eee',
                                    backgroundColor: '#334455',
                                    padding: [2, 4],
                                    borderRadius: 2
                            }
                        }
                    }
                    },
                    data:data.result.adoption
                }]
                });
            }
        });
    }
</script>
</body>
</html>
