<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="operlog-form">
                <div class="select-list">
                    <ul>
                        <input type="hidden" id="userId" name="userId" th:value="${vo.userId}"/>
                        <input type="hidden" id="houseId" name="houseId" th:value="${vo.id}"/>
                        <input type="hidden" id="id" name="id" th:value="${vo.id}"/>
                        <div style="overflow: auto;">
                            <li class="select-time">
                                <label>创建时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                       name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endTime]"/>
                            </li>
                            <li>
                                <label>类型：</label>
                                <select name="status" th:with="type=${@dict.getType('beta_house_backpack_use_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </form>
        </div>

			<div class="btn-group-sm"  role="group">
				<a class="btn btn-success" onclick="feminaList()" >
					<i class="fa fa-reply-all"></i> 母狗
				</a>
				<a class="btn btn-success" onclick="maleList()" >
					<i class="fa fa-reply-all"></i> 公狗
				</a>
				<a class="btn btn-success" onclick="puppyList()" >
					<i class="fa fa-reply-all"></i> 小狗
				</a>
				<a class="btn btn-success" onclick="historyListInfo()" >
					<i class="fa fa-reply-all"></i> 动态
				</a>
				<a class="btn btn-success" onclick="accountListInfo()" >
					<i class="fa fa-reply-all"></i> 挖矿
				</a>
				<a class="btn btn-success" onclick="backpackUseInfo()" >
					<i class="fa fa-reply-all"></i> 装备
				</a>
			</div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>


<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var backpackUseStatus = [[${@dict.getType('beta_house_backpack_use_status')}]];//
    var prefix = ctx + "betaHouse/house";
    $(function () {
        var options = {
            url: prefix + "/getBackpackUseList",
            updateUrl: prefix + "/edit/{id}",
            sortName: "us.create_time",
            sortOrder: "desc",
            modalName: "装备详情",
            queryParams: queryParams,
            search: false,
            showExport: false,
            columns: [
                {
                    field: 'userName',
                    title: '用户',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var nameVar = value == null ? "暂无" : row.userName;
                        var phoneVar = row.phone == null ? "" : row.phone;
                        var nameVarAndphoneVar = nameVar + "/" + phoneVar;
                        actions.push('<span class="depreciate">' + nameVarAndphoneVar + '</span>');
                        return actions.join('');
                    }
                },
                {
                    field: 'name',
                    title: '商品名'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(backpackUseStatus, value);
                    }
                },
                {
                    field: 'useCount',
                    title: '使用数量'
                },
                {
                    field: 'power',
                    title: '力量',
                    sortable: true,
                },
                {
                    field: 'agility',
                    title: '敏捷',
                    sortable: true,
                },
                {
                    field: 'stamina',
                    title: '体力',
                    sortable: true,
                },
                {
                    field: 'intelligence',
                    title: '智力',
                    sortable: true,
                },
                {
                    field: 'charm',
                    title: '魅力',
                    sortable: true,
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true,
                },
            ]
        };
        $.table.init(options);
    });

    function queryParams(params) {
        return {
            userId: $("#userId").val(),
            houseId: $("#houseId").val(),
            pageSize: params.limit,
            pageNum: params.offset / params.limit + 1,
            searchValue: params.search,
            orderByColumn: params.sort,
            isAsc: params.order
        };
    }

    /*狗窝-母狗列表*/
    function feminaList(id) {
        var id = document.getElementById("id").value
        var url = 'betaHouse/house/feminaList/' + id;
        createMenuItem(url, "母狗列表");
    }

    /*狗窝_公狗列表*/
    function maleList() {
        var id = document.getElementById("id").value

        var url = 'betaHouse/house/maleList/' + id;
        createMenuItem(url, "公狗列表");
    }

    /*狗窝_小狗列表*/
    function puppyList() {
        var id = document.getElementById("id").value
        var url = 'betaHouse/house/puppyList/' + id;
        createMenuItem(url, "小狗列表");
    }

    /*狗窝_动态列表*/
    function historyListInfo() {
        var id = document.getElementById("id").value
        var url = 'betaHouse/house/historyListInfo/' + id;
        createMenuItem(url, "动态列表");
    }

    /*狗窝_动态列表*/
    function accountListInfo() {
        var id = document.getElementById("id").value
        var url = 'betaHouse/house/accountListInfo/' + id;
        createMenuItem(url, "挖矿列表");
    }

    /*狗窝_装备列表*/
    function backpackUseInfo() {
        var id = document.getElementById("id").value
        var url = 'betaHouse/house/backpackUseInfo/' + id;
        createMenuItem(url, "装备列表");
    }
</script>
</body>
</html>