<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="operlog-form">
                <div class="select-list">
                    <ul>
                        <div style="overflow: auto;">
                            <input type="hidden" id="beSuitable" name="beSuitable" value="1"/>
                            <li class="select-time">
                                <label>创建时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                       name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-primary btn-add-string " onclick="$.operate.add()" shiro:hasPermission="addWithDrawInfo:view">
                <i class="fa fa-edit"></i> 新增
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        var startTime = laydate.render({
            elem: '#createTime',
            type: 'date',
            btns: ['now', 'confirm']
        });
        var endTime = laydate.render({
            elem: '#endTime',
            type: 'date',
            btns: ['now', 'confirm']
        });
    });
    var walletbiztypes = [[${@dict.getType('walletbiz_type')}]];
    var walletbizStatus = [[${@dict.getType('walletbiz_status')}]];
    var prefix = ctx + "funds/hotAddress";
    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "提现",
            search: false,
            striped: true,
            showExport: false,
            columns: [
                {
                    checkbox: true,
                    onclick:function () {
                        console.log("111");
                    }
                },
                {
                    field: 'id',
                    title: 'id'
                },
                {
                    field: 'coinType',
                    title: '币种大类'
                },
                {
                    field: 'walletType',
                    title: '钱包类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(walletbiztypes, value);
                    }
                },
                {
                    field: 'address',
                    title: '地址'
                },
                // {
                //     field: 'keystore',
                //     title: 'keystore'
                // },
                {
                    field: 'valid',
                    title: '钱包状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(walletbizStatus, value);
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'updateTime',
                    title: '更新时间'
                },
                {
                    title: '操作',
                    align: 'operator',
                    formatter: function (value, row, index) {
                        var actions = [];
                        // actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        if(row.coinType=="暂无"){
                            actions.push('<a class="btn btn-success btn-xs" href="#" onclick="updateProduct1(\'' + row.id + '\')"><i class="fa fa-edit"></i>设为btc提币热钱包</a> ');
                            actions.push('<a class="btn btn-success btn-xs" href="#" onclick="updateProduct2(\'' + row.id + '\')"><i class="fa fa-edit"></i>设为btc手续费热钱包</a> ');
                            actions.push('<a class="btn btn-success btn-xs" href="#" onclick="updateProduct3(\'' + row.id + '\')"><i class="fa fa-edit"></i>设为usdt提币热钱包</a> ');
                            actions.push('<a class="btn btn-success btn-xs" href="#" onclick="updateProduct4(\'' + row.id + '\')"><i class="fa fa-edit"></i>设为usdt手续费热钱包</a> ');
                        }else{
                            if(row.valid=="E"){ ////是否有效：D无效E有效
                                actions.push('<a class="btn btn-danger btn-xs" href="#" onclick="updates(\'' + row.id + '\')"><i class="fa fa-edit"></i>设无效</a> ');
                            }
                            if(row.valid=="D"){ ////是否有效：D无效E有效
                                actions.push('<a class="btn btn-success btn-xs" href="#" onclick="updates(\'' + row.id + '\')"><i class="fa fa-edit"></i>设有效</a> ');
                            }
                        }

                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function updateProduct1(id) {
        $.modal.confirm("是否设为usdt提币钱包？", function() {
            $.ajax({
                url: prefix + "/update/"+id+"/1",
                cache: true,
                dataType: "json",
                type: 'POST',
                success: function (date) {
                    layer.close();
                    if (date.code == web_status.SUCCESS) {
                        $.modal.closeAll();
                        $.modal.alertSuccess(date.message);
                        $.table.refresh();
                    } else {
                        $.modal.alertError(date.message);
                    }
                }
            });
        });
    }
    function updateProduct2(id) {
        $.modal.confirm("是否设为usdt提币钱包？", function() {
            $.ajax({
                url: prefix + "/update/"+id+"/2",
                cache: true,
                dataType: "json",
                type: 'POST',
                success: function (date) {
                    layer.close();
                    if (date.code == web_status.SUCCESS) {
                        $.modal.closeAll();
                        $.modal.alertSuccess(date.message);
                        $.table.refresh();
                    } else {
                        $.modal.alertError(date.message);
                    }
                }
            });
        });
    }
    function updateProduct3(id) {
        $.modal.confirm("是否设为usdt提币钱包？", function() {
            $.ajax({
                url: prefix + "/update/"+id+"/3",
                cache: true,
                dataType: "json",
                type: 'POST',
                success: function (date) {
                    layer.close();
                    if (date.code == web_status.SUCCESS) {
                        $.modal.closeAll();
                        $.modal.alertSuccess(date.message);
                        $.table.refresh();
                    } else {
                        $.modal.alertError(date.message);
                    }
                }
            });
        });
    }
    function updateProduct4(id) {
        $.modal.confirm("是否设为usdt提币钱包？", function() {
            $.ajax({
                url: prefix + "/update/"+id+"/4",
                cache: true,
                dataType: "json",
                type: 'POST',
                success: function (date) {
                    layer.close();
                    if (date.code == web_status.SUCCESS) {
                        $.modal.closeAll();
                        $.modal.alertSuccess(date.message);
                        $.table.refresh();
                    } else {
                        $.modal.alertError(date.message);
                    }
                }
            });
        });
    }

    // 设置无效热钱包地址
    function updates(id) {
        $.modal.confirm("是否确认修改状态？", function() {
            $.ajax({
                url: prefix + "/updates/"+id,
                cache: true,
                dataType: "json",
                type: 'POST',
                success: function (date) {
                    layer.close();
                    if (date.code == web_status.SUCCESS) {
                        $.modal.closeAll();
                        $.modal.alertSuccess(date.message);
                        $.table.refresh();
                    } else {
                        $.modal.alertError(date.message);
                    }
                }
            });
        });
    }
</script>
</body>
</html>