<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<link th:href="@{/css/main/bootstrap-select.css}" rel="stylesheet"/>
<style>
.amount-select .btn-default{
	background-color: white !important;
	color:#676a6c !important;
}
</style>
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<div>
			<form class="form-horizontal m" id="form-rechargeApply-apply">
				<div class="form-group">
					<label class="col-sm-5 control-label ">账号：</label>
					<div class="col-sm-5 amount-select">
						<select id="basic" class="selectpicker show-tick form-control" title=" " data-live-search="true">

						</select>
				    </div>
				</div>
				<div class="form-group">
					<label class="col-sm-5 control-label ">充值币种： </label>
					<div class="col-sm-5">
						<select class="form-control" name="orderCurrency" id="orderCurrency" th:with="type=${@dict.getType('recharge_currency')}">
							<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-5 control-label ">充值金额（USDT）</label>
					<div class="col-sm-5">
						<input class="form-control" required="true" type="text" id="exchangeAmount" name="exchangeAmount" onkeyup="$.common.clearNoNum(this)"/>
					</div>
				</div>
	            <div class="form-group">
	                <label class="col-sm-5 control-label"></label>
					<div class="col-sm-5">
						<a class="btn btn-primary btn-edit col-sm-4" onclick="apply()" shiro:hasPermission="finance:rechargeApply:apply">
							<i class="fa fa-edit"></i> 提交申请
						</a>
					</div>
	            </div>
	        </form>
        </div>
	</div>
	<div th:include="include::footer"></div>
	<!-- <script th:src="@{/ajax/libs/select/select2.js}"></script> -->
	<script th:src="@{/ajax/libs/select/bootstrap-select.js}"></script>
	<script>
        	function seach(){
        		$.ajax({
                    cache : true,
                    type : "POST",
                    url : ctx + "common/user/query",
                    data : {
                       	"keyword": $(".amount-select input[type='text']").val(),
                    },
                    async : false,
                    error : function(data) {
                        $.modal.alertError("系统错误");
                    },
                    success : function(data) {
                        if (data.code == 200) {
                        	var optionList = "";
                        	for(let i = 0;i < data.result.length;i++){
                        		optionList += `<option  data-id= '${data.result[i].userId}'>${data.result[i].loginName} &nbsp;&nbsp;&nbsp; ${data.result[i].realName}</option>`
                        	}
                        	$("#basic").append(optionList);
                        	$(".selectpicker" ).selectpicker('refresh');
                        } else {
                            $.modal.alertError(data.message);
                        }
                    }
                });
        	};
        	$(document).on("input",".amount-select input[type='text']",function(){
        		if($(".amount-select input[type='text']").val().length >= 2){
        			$("#basic").html("");
            		seach();
        		}
        	});
        function apply() {
            if ($.validate.form()) {
                var userId = $("#basic option:selected").attr("data-id");
                var exchangeAmount = $("input[name='exchangeAmount']").val();
                var orderCurrency = $("#orderCurrency").val();
                if (Number(exchangeAmount) <= 0) {
                    $.modal.alertError("请输入正确的金额");
                    return;
                }
                if (Number(exchangeAmount) > 99999999999) {
                    $.modal.alertError("输入金额不能大于99999999999");
                    return;
                }
                $.modal.confirm("确定要提交人工充值申请？", function () {
                    $.ajax({
                        cache : true,
                        type : "POST",
                        url : ctx + "finance/manualOperation/rechargeApply/apply",
                        data : {
                            "userId": userId,
                            "orderCurrency": orderCurrency,
                            "exchangeAmount": exchangeAmount
                        },
                        async : false,
                        error : function(data) {
                            $.modal.alertError("系统错误");
                        },
                        success : function(data) {
                            if (data.code == web_status.SUCCESS) {
                                $.modal.confirmSuccess("申请提交成功", function () {
                                    location.reload();
                                });
                            } else {
                                $.modal.alertError(data.message);
                            }
                        }
                    });
                });
            }
        }
    </script>
</body>
</html>
