<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="operlog-form">
					<div class="select-list">
						<ul>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="betaTeamConfig:add">
					<i class="fa fa-plus"></i> 新增
				</a>
			</div>

			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		layui.use('laydate', function () {
			var laydate = layui.laydate;
			var startTime = laydate.render({
				elem: '#createTime',
				type: 'date',
				btns: ['now', 'confirm']
			});
			var endTime = laydate.render({
				elem: '#endTime',
				type: 'date',
				btns: ['now', 'confirm']
			});
		});
        var removes = [[${@permission.hasPermi('betaTeamConfig:delete')}]];
        var edits = [[${@permission.hasPermi('betaTeamConfig:saveOrUpdate')}]];
		var prefix = ctx + "beta/betaTeamConfig";
		$(function() {
		    var options = {
		        url: prefix + "/list",
                createUrl: prefix + "/add",
                removeUrl: prefix + "/remove",
                updateUrl: prefix + "/edit/{id}",
		        sortName: "",
		        sortOrder: "",
		        modalName: "增加配置",
		        search: false,
		        showExport: false,
		        columns: [
				{
					field: 'name',
					title: '级别名称'
				},
				{
					field: 'createTime',
					title: '创建时间'
				},
				{
					field: 'updateTime',
					title: '修改时间'
				},
				{
					field: 'earningsRatio',
					title: '收益率'
				},
				{
					field: 'peersEarningsRatio',
					title: '平级收益率'
				},
				{
					field: 'directAsk',
					title: '直推人数条件'
				},
				{
					field: 'directTeamAsk',
					title: '直推团队人数条件'
				},
				{
					field: 'teamAsk',
					title: '团队人数条件'
				},
				{
					field: 'earningsAsk',
					title: '推广累积收益条件'
				},
				{
					field: 'directPartnerAsk',
					title: '直推合伙人条件'
				},
				{
					field: 'partnerAsk',
					title: '一二级合伙人条件'
				},
				{
					field: 'packNumber',
					title: '每天出售次数'
				},
				{
					field: 'packMoney',
					title: '单次出售限额'
				},
				{
					title: '操作',
					align: 'center',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<a class="btn btn-success btn-xs'+edits+'" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a>');
						actions.push('<a class="btn btn-danger btn-xs'+removes+'" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ')
						return actions.join('');
					}
				}]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>