<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/magnify/css/jquery.magnify.min.css}" rel="stylesheet"/>
<link th:href="@{/magnify/css/common.css}" rel="stylesheet"/>
<style>
	.banner-box{
		width:350px;
		height:150px;
		border:1px solid #e5e6e7;
		/*	background:url(../../img/banner-add.png) no-repeat center;*/
		background-size:45px 45px;
		position: relative;
		box-sizing: content-box;
	}
	.downloadPic{
		width:100%;
		height:100%;
		opacity: 0;
		position: absolute;
		top:0;
		left:0;
		z-index:2;
	}
	.banner-img{
		position: absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		z-index:1;
	}
	.add-img{
		position: absolute;
		width:24px;
		height:24px;
		line-height:24px;
		text-align:center;
		left:0;
		bottom:0;
		top:0;
		right:0;
		margin:auto;
		font-size:32px;
		z-index:0;
	}
	.banner-size{
		float: right !important;
		margin-top: -15px;
	}
	.viewer-container{
		height: 100%;
	}
	li{
		float: left;
	}
</style>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-authentication-edit" th:object="${personalCard}">
			<input name="userId" type="hidden" th:field="*{userId}" />
			<input name="fhasRealValidate" type="hidden" th:field="*{authStauts}" />
			<input name="id" type="hidden" th:field="*{id}" />
			<div class="btn-group-sm" id="toolbar" role="group" shiro:hasPermission="personal:personalCard:audit">
				<i class="btn btn-primary btn-success" onclick="audit(1)" >通过</i>
				<i class="btn btn-primary btn-success" onclick="audit(3)" >拒绝</i>
				<i class="btn btn-primary btn-success" onclick="audit(4)" >黑名单</i>
			</div>

			<div class="col-sm-12 search-collapse">
				<div class="form-group">
					<label class="col-sm-3 control-label ">用户名称：</label>
					<div class="col-sm-8">
						<input class="form-control" readonly="true" type="text" name="loginName" id="loginName" th:field="*{name}"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label ">身份证号：</label>
					<div class="col-sm-8">
						<input class="form-control" readonly="true" type="text" name="cardNumber" id="cardNumber" th:field="*{cardNumber}"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label "></label>
					<div class="col-sm-8">
						<img data-magnify="gallery" th:data-src="${personalCard.cardAUrl}" data-group="cardImgs" th:src="${personalCard.cardAUrl}" onerror="javascript:this.src='/file/noImage.jpg'" height="350" width="400" alt="身份证号正面照片">
						<img data-magnify="gallery" th:data-src="${personalCard.cardBUrl}" data-group="cardImgs" th:src="${personalCard.cardBUrl}" onerror="javascript:this.src='/file/noImage.jpg'" height="350" width="400" alt="反面照片">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label ">银行名：</label>
					<div class="col-sm-8">
						<input class="form-control" readonly="true" type="text" name="bankName" id="bankName" th:field="*{bankName}"/>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label ">银行卡号：</label>
					<div class="col-sm-8">
						<input class="form-control" readonly="true" type="text" name="bankNumber" id="bankNumber" th:field="*{bankNumber}"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label ">支付宝账号：</label>
					<div class="col-sm-8">
						<input class="form-control" readonly="true" type="text" name="alipayNumber" id="alipayNumber" th:field="*{alipayNumber}"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label "></label>
					<div class="col-sm-8">
						<img data-magnify="gallery" data-group="cardImgs" th:data-src="${personalCard.alipay}" th:src="${personalCard.alipay}" onerror="javascript:this.src='/file/noImage.jpg'" height="350" width="400" alt="支付宝二维码">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label ">微信账号：</label>
					<div class="col-sm-8">
						<input class="form-control" readonly="true" type="text" name="wechatNumber" id="wechatNumber" th:field="*{wechatNumber}"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label "></label>
					<div class="col-sm-8">
						<img data-magnify="gallery" data-group="cardImgs" th:data-src="${personalCard.wechat}" th:src="${personalCard.wechat}" onerror="javascript:this.src='/file/noImage.jpg'" height="350" width="400" alt="微信二维码">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label ">修改时间：</label>
					<div class="col-sm-8">
						<input class="form-control" readonly="true" type="text"  id="updateTime" th:field="*{updateTime}"/>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script th:src="@{/magnify/js/jquery.magnify.min.js}"></script>
	<script>

        $(function () {
			$('[data-magnify=gallery]').magnify({
				headToolbar: [
					'close'
				],
				footToolbar: [
					'zoomIn',
					'zoomOut',
					'prev',
					'fullscreen',
					'next',
					'actualSize',
					'rotateRight'
				],
				title: false
			});
            var status = $("#fhasRealValidate").val();
            if (status != 2) {
            }
        });

        $("#form-withdraw-edit").validate({
        	submitHandler:function(form){
        		audit();
        	}
        });

        function submitHandler() {
	        if ($.validate.form()) {
	        	audit();
	        }
	    }

        function audit(status) {
            var str = "通过";
            if (status == 3) {
                str = "拒绝"
            }
            $.modal.confirm("是否" + str + "该用户的身份认证", function () {
				if ($.validate.form()) {
					var userId = $("input[name='userId']").val();
                    var id = $("input[name='id']").val();
					$.ajax({
						cache : true,
						type : "POST",
						url : ctx + "personal/personalCard/audit",
						data : {
							"userId": userId,
							"id":id,
							"authStauts": status
						},
						async : false,
						error : function(request) {
							$.modal.alertError("系统错误");
						},
						success : function(data) {
							$.operate.saveSuccess(data);
						}
					});
				}
            });
        }
    </script>
</body>
</html>
