<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="operlog-form">
                <div class="select-list">
                    <ul>
                        <input type="hidden" id="userId" name="userId" th:value="${userId}"/>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped" style="overflow: overlay;height: 94%;">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        var startTime = laydate.render({
            elem: '#createTime',
            type:'date',
            btns: ['now', 'confirm']
        });
        var endTime = laydate.render({
            elem: '#endTime',
            type:'date',
            btns: ['now', 'confirm']
        });
    });
    var prefix = ctx + "personal/personalCard";
    $(function() {
        var options = {
            url: prefix + "/recordList",
            updateUrl: prefix + "/edit/{id}",
            sortName: "",
            sortOrder: "",
            modalName: "记录支付信息",
            queryParams: queryParams,
            search: false,
            showExport: false,
            columns: [
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'bankName',
                    title: '银行名'
                },
                {
                    field: 'bankNameNow',
                    title: '银行名（新）'
                },
                {
                    field: 'bankNumber',
                    title: '卡号'
                },
                {
                    field: 'bankNumberNow',
                    title: '卡号(新)'
                },
                {
                    field: 'alipayNumber',
                    title: '支付宝账号'
                },
                {
                    field: 'alipayNumberNow',
                    title: '支付宝账号（新）'
                },
                {
                    field: 'alipay',
                    title: '支付宝',
                    formatter:function(value,row,index) {
                        var url = row.alipay;
                        if (url != null) {
                            url = '<a class = "view" href="javascript:void(0)"><img style="height:100px;" src="' + url + '" /></a>';
                        }
                        return url;
                    },
                    events: 'operateEvents'
                },

                {
                    field: 'alipayNow',
                    title: '支付宝(新)',
                    formatter:function(value,row,index) {
                        var url = row.alipayNow;
                        if (url != null) {
                            url = '<a class = "view" href="javascript:void(0)"><img style="height:100px;" src="' + url + '" /></a>';
                        }
                        return url;
                    },
                    events: 'alipayNowImg'
                },
                {
                    field: 'wechatNumber',
                    title: '微信账号'
                },
                {
                    field: 'wechatNumberNow',
                    title: '微信账号(新)'
                },
                {
                    field: 'wechat',
                    title: '微信',
                    formatter:function(value,row,index) {
                        var url = row.wechat;
                        if (url != null) {
                            url = '<a class = "view" href="javascript:void(0)"><img style="height:100px;" src="' + url + '" /></a>';
                        }
                        return url;
                    },
                    events: 'wechatNumberImg'
                },

                {
                    field: 'wechatNow',
                    title: '微信(新)',
                    formatter:function(value,row,index) {
                        var url = row.wechatNow;
                        if (url != null) {
                            url = '<a class = "view" href="javascript:void(0)"><img style="height:100px;" src="' + url + '" /></a>';
                        }
                        return url;
                    },
                    events: 'wechatNowImg'
                },
                ]
        };
        $.table.init(options);
    });

    window.operateEvents = {
        'click .view': function (e, value, row, index) {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: ['auto', 'auto'],
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: '<img src="' + row.alipay + '"/>'
            });
        },
    };

    window.alipayNowImg = {
        'click .view': function (e, value, row, index) {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: ['auto', 'auto'],
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: '<img src="' + row.alipayNow + '"/>'
            });
        },
    };


    window.wechatNumberImg = {
        'click .view': function (e, value, row, index) {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: ['auto', 'auto'],
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: '<img src="' + row.wechat + '"/>'
            });
        },
    };


    window.wechatNowImg = {
        'click .view': function (e, value, row, index) {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: ['auto', 'auto'],
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: '<img src="' + row.wechatNow + '"/>'
            });
        },
    };

    function queryParams(params) {
        return {
            userId: $("#userId").val(),
            pageSize: params.limit,
            pageNum: params.offset / params.limit + 1,
            searchValue: params.search,
            orderByColumn: params.sort,
            isAsc: params.order
        };
    }
</script>
</body>
</html>