
<script type="text/javascript" src="jquery-3.4.1.js"></script>
<script>
	function a() {
		var url = "http://192.168.1.12:9000/currency/tCurrencyTrade/queryCurrencyTradeAtFirst";
		//url = "http://192.168.1.12:8080/ab?x=1";
		$.ajax({
			"url": url,
			"type": "post", // post put
			"beforeSend": function(XHR) {
				XHR.setRequestHeader("Authorization", "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoyNDIxNTg3MSwidXNlcl9uYW1lIjoiMTc1ODU1ODM4MDgiLCJzY29wZSI6WyJcIipcIiJdLCJleHAiOjE1NjUwODQ0NDQsImF1dGhvcml0aWVzIjpbImFkbWluIl0sImp0aSI6ImVhZjFjMGNkLTQ3NzAtNDJjMS04ZjFjLTY3MjQ2NTg1NGU4OSIsImNsaWVudF9pZCI6ImNsaWVudElkX2JpdHRyYWRlLWN1cnJlbmN5IiwidGltZXN0YW1wIjoxNTY1MDc3MjQ0NTM5fQ.rRGjGQv3a9eoY3LgrH9ZvI0wWQNVQI5sylWNgHLgvDU");
				//XHR.setRequestHeader("origin", "192.168.1.12");
			}, 
			"dataType": "json", 
			"contentType": "application/json;charset=utf-8", 
			"data": '{"id": 10}', 
			"success": function(data) {
				console.log(data);
			}, 
			"complete": function(data) {
				console.log('complete--')
				console.log(data);
			}
		});
	}
</script>

<form method="post" action="http://192.168.1.12:9000/currency/tCurrencyTrade/queryCurrencyTradeAtFirst">
	<input type="submit" value=" go " />
	<input type="button" value=" go a " onclick="a();" />
</form>
