
<script type="text/javascript" src="jquery-3.4.1.js"></script>
<script>
	function a() {
		var str_method = "post";
		var str_URL = "http://127.0.0.1:9000/currency/tCurrency/getRate/1";
		//str_URL = "http://127.0.0.1:9000/biz/userAccount/queryAccount/1";
		//str_URL = "http://192.168.1.12:8080/ab?x=1";
		//str_URL = "http://127.0.0.1:8900/" + str_method + "?str=" + str_method + "-";
		//str_URL = "http://127.0.0.1:8901/tCurrency/getRate/1";
		str_URL = "http://154.222.138.211:9000/currency/tKline/queryKLine";
		$.ajax({
			"url": str_URL,
			"type": str_method, // post delete put get
			"beforeSend": function(XHR) {
				XHR.setRequestHeader("Authorization", "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjozMzQ5Njc1MywidXNlcl9uYW1lIjoiMTcxMzUzMjA0NTIiLCJzY29wZSI6WyJcIipcIiJdLCJleHAiOjE1NjUyNTY5NzYsImF1dGhvcml0aWVzIjpbImFkbWluIl0sImp0aSI6IjkyNDc3NzAwLWM2MWYtNGUxNC04ZGM1LTkyNDljNDBmY2E0ZiIsImNsaWVudF9pZCI6ImNsaWVudElkX2JpdHRyYWRlLWN1cnJlbmN5IiwidGltZXN0YW1wIjoxNTY1MjQ5Nzc2Nzc3fQ.nbCWcYrw_I9H-TRqUgarB5Gom9NTEhXmOZcSPIju19w");
				//XHR.setRequestHeader("origin", "192.168.1.12");
			}, 
			
			"contentType": "application/json;charset=utf-8", 
			"dataType": "json", 
			"data": '{"id": 10}', 
			
			"success": function(data) {
				console.log('success--')
				console.log(data);
			}, 
			"complete": function(data) {
				console.log('complete--')
				console.log(data);
			}
		});
	}
</script>

<form method="post" action="http://154.222.138.211:9000/auz/oauth/token">
	<input type="text" name="client_id" value="clientId_bittrade-currency" />
	<br />
	<input type="text" name="client_secret" value="clientSecret_bittrade-currency" />
	<br />
	<input type="text" name="grant_type" value="password" />
	<br />
	<input type="text" name="username" value="17135320452" />
	<br />
	<input type="text" name="password" value="123456" />
	<br />
	<input type="submit" value=" go " />
	<input type="button" value=" go a " onclick="a();" />
</form>
