<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-config-add">
			<div class="form-group">
				<label class="col-sm-3 control-label ">bundleId：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="bundleId" id="bundleId"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">应用名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="name" id="name"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">版本：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="version" id="version"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">更新日志：</label>
				<div class="col-sm-8">
					<textarea id="changelog"  name="changelog" class="form-control"></textarea>
					<!--<input class="form-control" type="text" name="changelog" id="changelog"/>-->
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">编译号：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="build" id="build"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">安装地址：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="installUrl" id="installUrl"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">图片地址：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="pictureUrl" id="pictureUrl"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">类型：</label>
				<div class="col-sm-8">
					<select id="type" class="form-control m-b" th:with="type=${@dict.getType('app_type')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">是否强制升级：</label>
				<div class="col-sm-8">
					<select id="status" class="form-control m-b" th:with="type=${@dict.getType('app_status')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script>
        $("#form-config-add").validate({
        	submitHandler:function(form){
        		add();
        	}
        });
        
        function submitHandler() {
	        if ($.validate.form()) {
	        	add();
	        }
	    }

        function add() {
        	var bundleId = $("input[name='bundleId']").val();
        	var name = $("input[name='name']").val();
        	var version = $("input[name='version']").val();
        	//var changelog = $("input[name='changelog']").val();
            var changelog = $("textarea[name='changelog']").val();
            var build = $("input[name='build']").val();
        	var installUrl = $("input[name='installUrl']").val();
        	var pictureUrl = $("input[name='pictureUrl']").val();
        	var type = $("#type").val();
        	var status = $("#status").val();
        	$.ajax({
        		cache : true,
        		type : "POST",
        		url : ctx + "config/appVersion/saveOrUpdate",
        		data : {
        			"bundleId": bundleId,
        			"name": name,
        			"version": version,
        			"changelog": changelog,
        			"build": build,
        			"installUrl": installUrl,
        			"pictureUrl": pictureUrl,
        			"type": type,
        			"status": status
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(data) {
        			$.operate.saveSuccess(data);
        		}
        	});
        }
    </script>
</body>
</html>
