<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-tokenSetting-edit" th:object="${tokenSetting}">
			<div class="form-group">
				<label class="col-sm-5 control-label ">注册赠送体验金额：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" required="true" id="tokenAmount" name="tokenAmount" th:field="*{tokenAmount}" onkeyup="$.common.clearNoNum(this)"/>
				</div>
				<label class="control-label ">USDT</label>
			</div>
			<div class="form-group">
				<label class="col-sm-5 control-label ">下单次数限制：</label>
				<div class="col-sm-3">
					<input class="form-control" required="true" type="number" id="tokenOrderCount" name="tokenOrderCount" th:field="*{tokenOrderCount}" onkeyup="$.common.clearNoNum(this)"/>
				</div>
			</div>
			<div class="form-group">
				<p style="padding-left:43%;">若设置了下单次数限制，则用户在最后一次订单完成后，体验金会作清零处理。<br/>若设置为0则为无次数限制。</p>
			</div>
            <div class="form-group">
                <label class="col-sm-5 control-label"></label>
				<div class="col-sm-3">
					<a class="btn btn-primary btn-edit col-sm-4" onclick="save()" shiro:hasPermission="product:tokenSetting:edit">
						<i class="fa fa-edit"></i> 保存
					</a>
				</div>
            </div>
        </form>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script>
        $(function () {
        });

        function save() {
				if ($.validate.form()) {
                var tokenAmount = $("#tokenAmount").val();
                var tokenOrderCount = $("#tokenOrderCount").val();

				if (Number(tokenAmount) >= 100000) {
					$.modal.alertError("体验金金额不能大于100000");
					return;
				}

                $.ajax({
                    cache : true,
                    type : "POST",
                    url : ctx + "product/token/tokenSetting/edit",
                    data : {
                        "tokenAmount": tokenAmount,
                        "tokenOrderCount": tokenOrderCount
                    },
                    async : false,
                    error : function(data) {
                        $.modal.alertError("系统错误");
                    },
                    success : function(data) {
                        if (data.code == web_status.SUCCESS) {
                            $.modal.msgSuccess("保存成功");
                        } else {
                            $.modal.alertError(data.message);
                        }
                    }
                });
            }
        }
    </script>
</body>
</html>
