<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<style>
.banner-box{
	width:350px;
	height:150px;
	border:1px solid #e5e6e7;
/*	background:url(../../img/banner-add.png) no-repeat center;*/
	background-size:45px 45px;
    position: relative;
    box-sizing: content-box;
}
.banner-size{
	float: right !important;
	margin-top: -15px;
}
</style>
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-banner-edit" th:object="${vo}">

        <input type="hidden" th:value="${id}" id="id" name="id">
        <div class="form-group">
            <label class="col-sm-3 control-label ">姓名：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="name" name="name" th:field="*{name}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">手机号：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="phone" name="phone" th:field="*{phone}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">创建时间：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="createTime" name="createTime" th:field="*{createTime}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">修改时间：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="updateTime" name="updateTime" th:field="*{updateTime}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">团队人数：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="teamCount" name="teamCount" th:field="*{teamCount}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">一级团队人数：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="teamCountOne" name="teamCountOne" th:field="*{teamCountOne}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">二级团队人数：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="teamCountTwo" name="teamCountTwo" th:field="*{teamCountTwo}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">团队微分总数：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="teamScoreSum" name="teamScoreSum" th:field="*{teamScoreSum}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
        <label class="col-sm-3 control-label ">二级团队微分总数</label>
        <div class="col-sm-8">
            <input class="form-control" type="text" id="teamScoreSumTwo" name="teamScoreSumTwo" th:field="*{teamScoreSumTwo}" disabled="disabled"  />
        </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">团队资产总额：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="teamAccountSum" name="teamAccountSum" th:field="*{teamAccountSum}" disabled="disabled"  />
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label ">一级团队资产总额：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="teamAccountSumOne" name="teamAccountSumOne" th:field="*{teamAccountSumOne}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">二级团队资产总额：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="teamAccountSumTwo" name="teamAccountSumTwo" th:field="*{teamAccountSumTwo}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">团队累计收益总额：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="teamTotalSum" name="teamTotalSum" th:field="*{teamTotalSum}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">一级团队累计收益总额：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="teamTotalSumOne" name="teamTotalSumOne" th:field="*{teamTotalSumOne}" disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">二级团队累计收益总额：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="teamTotalSumTwo" name="teamTotalSumTwo" th:field="*{teamTotalSumTwo}" disabled="disabled" />
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script>
</script>
</body>
</html>
