<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<meta name="renderer" content="webkit">
<link rel="stylesheet" href="/static/build/layui.css" media="all">
<style>
.banner-box{
	width:350px;
	height:150px;
	border:1px solid #e5e6e7;
	/*background:url(../../img/banner-add.png) no-repeat center;*/
	background-size:45px 45px;
    box-sizing: content-box;
}
.downloadPic{
	width:100%;
	height:100%;
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    z-index:2;
}
.banner-img{
	position: absolute;
	width:100%;
	height:100%;
	top:0;
    left:0;
    z-index:1;
}
.add-img{
	position: absolute;
	width:24px;
	height:24px;
	line-height:24px;
	text-align:center;
	left:0;
	bottom:0;
	top:0;
	right:0;
	margin:auto;
	font-size:32px;
	z-index:0;
}
.banner-size{
	float: right !important;
	margin-top: -15px;
}
</style>
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-banner-add">

        <div class="form-group">
            <label class="col-sm-3 control-label ">头衔：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="name" name="name" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">收益率：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="earningsRatio" name="earningsRatio" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">平级收益率：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="peersEarningsRatio" name="peersEarningsRatio" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">直推人数条件：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="directAsk" name="directAsk" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">直推团队人数条件：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="directTeamAsk" name="directTeamAsk" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">团队人数条件：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="teamAsk" name="teamAsk" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">推广累积收益条件：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="earningsAsk" name="earningsAsk" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">直推合伙人条件：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="directPartnerAsk" name="directPartnerAsk" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">合伙人条件：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="partnerAsk" name="partnerAsk" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">每天出售次数：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="packNumber" name="packNumber" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">出售金额：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="packMoney" name="packMoney" required="required"/>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script>
    layui.use('laydate', function(){ //获取年月日
        var laydate = layui.laydate;
        //执行一个laydate实例
        //日期时间选择器
        laydate.render({
            elem: '#presellTime'
            ,type: 'datetime'
        });
    });

	var isFirst = true; /* 首次执行提交 */
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        var startTime = laydate.render({
            elem: '#startTime',
            type: 'datetime',
            btns: ['now', 'confirm']
        });
        var presellTime = laydate.render({
            elem: '#presellTime',
            type: 'presellTime',
            btns: ['now', 'confirm']
        });
    });
    $("#form-banner-add").validate({
        rules: {
            title: {
                required: true
            },
            sort: {
                required: true
            },
            bannerImgUrl: {
                required: true
            }
        }
    });


    function submitHandler() {
        if ($.validate.form()) {
        	if(isFirst){
        		add();
        	}
        }
    }
   function add() {
        var name = $("input[name='name']").val();
        var earningsRatio = $("input[name='earningsRatio']").val();
        var peersEarningsRatio = $("input[name='peersEarningsRatio']").val();
        var directAsk = $("input[name='directAsk']").val();
        var directTeamAsk = $("input[name='directTeamAsk']").val();
        var teamAsk = $("input[name='teamAsk']").val();
        var earningsAsk = $("input[name='earningsAsk']").val();
        var directPartnerAsk = $("input[name='directPartnerAsk']").val();
        var partnerAsk = $("input[name='partnerAsk']").val();
        var packNumber = $("input[name='packNumber']").val();
        var packMoney = $("input[name='packMoney']").val();
        $.ajax({
            cache: true,
            type: "POST",
            url: ctx + "beta/betaTeamConfig/saveOrUpdate",
            data: {
                "name": name,
                "earningsRatio": earningsRatio,
                "peersEarningsRatio": peersEarningsRatio,
                "directAsk": directAsk,
                "directTeamAsk": directTeamAsk,
                "teamAsk": teamAsk,
                "earningsAsk": earningsAsk,
                "directPartnerAsk": directPartnerAsk,
                "partnerAsk": partnerAsk,
                "packNumber": packNumber,
                "packMoney": packMoney,
            },
            async: false,
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                if(data.code == 200){
                    isFirst = false;
                    $.operate.saveSuccess(data);
                }else{
                    $.modal.alertError(data.message);
                }
            }
        });
    };
</script>
</body>
</html>
