<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="operlog-form">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>搜索： </label><input type="text" placeholder="币种" name="coinType"/>
                        </li>
                        <li>
                            <label>钱包类型： </label><select name="walletType" th:with="type=${@dict.getType('walletbiz_type')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}">
                            </option>
                             </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        var startTime = laydate.render({
            elem: '#startTime',
            type: 'date',
            btns: ['now', 'confirm']
        });
        var endTime = laydate.render({
            elem: '#endTime',
            type: 'date',
            btns: ['now', 'confirm']
        });
    });
    var walletbiztypes = [[${@dict.getType('walletbiz_type')}]];
    var prefix = ctx + "audit/finance";
    $(function () {
        var options = {
            url: prefix + "/totalNew",
            sortName: "",
            sortOrder: "",
            modalName: "平台总金额",
            search: false,
            showExport: false,
            columns: [
                //{
                // checkbox: true,
                // onclick: function () {
                //     console.log("111");
                // }},
                {
                    field: 'coinType',
                    title: '币种'
                },
                {
                    field: 'walletType',
                    title: '钱包类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(walletbiztypes, value);
                    }
                },
                {
                    field: 'btcBalance',
                    title: 'btc余额'
                },
                {
                    field: 'usdtBalance',
                    title: 'usdt余额',
                },
                {
                    field: 'address',
                    title: '地址',
                }
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>