<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="operlog-form">
                <div class="select-list">
                    <ul>
                        <div style="overflow: auto;">
                            <li class="select-time">
                                <label>创建时间搜索： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                       name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endTime]"/>
                            </li>
                            <input type="hidden"  id = "statisticType" name="statisticType" value="2"/>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm " id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="registered:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped" style="overflow: overlay;height: 94%;">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        var startTime = laydate.render({
            elem: '#createTime',
            type: 'date',
            btns: ['now', 'confirm']
        });
        var endTime = laydate.render({
            elem: '#endTime',
            type: 'date',
            btns: ['now', 'confirm']
        });
    });
    var beta_infertilitys = [[${@dict.getType('beta_betaFemina_status')}]];//
    var prefix = ctx + "beta/betaStatisticsUser/";
    $(function () {
        var options = {
            url: prefix + "registeredList",
            exportUrl: prefix + "export",
            sortName: "",
            sortOrder: "",
            modalName: "统计",
            search: false,
            striped:true,
            queryParams: queryParams,
            showExport: false,
            columns: [
                {
                    field: 'createDate',
                    title: '创建时间'
                },
                {
                    field: 'registering',
                    title: '注册人数'
                },
                {
                    field: 'realnameNumber',
                    title: '实名人数'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="#" onclick="feminaList(\'' + row.id + '\')"><i class="fa fa-edit"></i>统计图</a> ');
                        return actions.join('');
                    }
                 }]
        };
        $.table.init(options);
    });


    function queryParams(params) {
        return {
            statisticType:       $("#statisticType").val(),
            pageSize:       params.limit,
            pageNum:        params.offset / params.limit + 1,
            searchValue:    params.search,
            orderByColumn:  params.sort,
            isAsc:          params.order
        };
    }
</script>
</body>
</html>