<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>设备调试</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="stylesheet" href="/statics/css/font.css">
    <link rel="stylesheet" href="/statics/css/xadmin.css">
    <link rel="stylesheet" href="/statics/css/bootstrap.min.css">
    <link rel="icon" href="/statics/images/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="/statics/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/statics/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/statics/js/xadmin.js"></script>
    <script type="text/javascript" src="/statics/js/cookie.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="">首页</a>
      <a href="/device/list">全部设备</a>
      <a>
        <cite>设备调试</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:12px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:25px"><img src="/statics/images/refresh2.png" alt=""
                                                            style="width:16px;"></i></a>
</div>
<div class="x-body">
    <form class="layui-form" id="deivceDubeg">
        <div class="layui-form-item">
            <label class="layui-form-label equiplabel">
                设备UUID：
            </label>
            <div class="layui-input-inline">
                <input type="text" id="uuid" name="uuid" autocomplete="off" v-model="uuId"
                       class="layui-input  input-text">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label equiplabel">
                设备从机ID：
            </label>
            <div class="layui-input-inline">
                <input type="text" id="machineId" name="machineId" autocomplete="off" v-model="machineId"
                       class="layui-input  input-text">
            </div>
        </div>


        <div class="layui-form-item" style="display:none;">
            <label class="layui-form-label equiplabel">
                在线状态：
            </label>
            <div class="layui-input-inline">
                <input type="text" id="state" name="state" autocomplete="off" class="layui-input input-text">
            </div>
        </div>

        <div class="layui-form-item" style="display:none;">
            <label class="layui-form-label equiplabel">
                订阅主题<br>
                (接收信息)
            </label>
            <div class="layui-input-inline">
                <input type="text" id="reception" name="reception" autocomplete="off" class="layui-input input-text">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label equiplabel">
                发布主题<br>
                (上报消息)
            </label>
            <div class="layui-input-inline">
                <input type="text" id="report" name="report" autocomplete="off" class="layui-input input-text">
            </div>
        </div>


        <div class="layui-form-item" style="display:none;">
            <label class="layui-form-label equiplabel">
                发送命令
            </label>
            <div class="layui-inline">
                <div style="margin-bottom:10px;">
                    <button class="layui-btn layui-btn-danger"><img src="/statics/images/search.png" alt=""
                                                                    style="width:16px;">查询
                    </button>
                    <button class="layui-btn"><i class="layui-icon"></i>刷新</button>
                    <button class="layui-btn"><i class="layui-icon"></i>更新最新版本</button>
                    <button class="layui-btn"><i class="layui-icon"></i>更新测试版本</button>
                    <button class="layui-btn"><i class="layui-icon"></i>弹出（充电宝SN）</button>
                    <button class="layui-btn"><i class="layui-icon"></i>弹出（最低电量）</button>
                </div>
                <div>
                    <button class="layui-btn"><i class="layui-icon"></i>初始化数据</button>
                    <button class="layui-btn"><i class="layui-icon"></i>重启</button>
                    <button class="layui-btn"><i class="layui-icon"></i>打开主程序</button>
                    <button class="layui-btn"><i class="layui-icon"></i>打开客户程序</button>
                    <button class="layui-btn"><i class="layui-icon"></i>模拟租借请求</button>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label equiplabel">
                弹出设备 :
            </label>
            <div class="layui-inline" id="">
                <div>
                    <button v-for="site in sites" class="layui-btn eupipmentbtn" @click.prevent="pingpong($event)">
                        {{site.number}}
                    </button>
                </div>
            </div>

        </div>


        <!-- <div class="layui-form-item textareabox">
             <label class="layui-form-label equiplabel">
                 发送字符串
             </label>
             <textarea name=""  cols="65" rows="5" class="layui-textarea" style="width:400px;"
                       placeholder="请输入内容"></textarea>
             <button class="layui-btn opratebtn">发送</button>
         </div>

         <div class="layui-form-item textareabox">
             <label class="layui-form-label equiplabel">
                 发送16进制<br>
                 (bytes)
             </label>
             <textarea name=""  cols="65" rows="5" class="layui-textarea" style="width:400px;"
                       placeholder="请输入内容"></textarea>
             <button class="layui-btn opratebtn">发送</button>
         </div>
         <div class="layui-form-item textareabox">
             <label class="layui-form-label equiplabel">
                 鉴权信息
             </label>
             <textarea name="" id="" cols="65" rows="5" class="layui-textarea" style="width:400px;"
                       placeholder="请输入内容"></textarea>
             <button class="layui-btn opratebtn">清除</button>
         </div>
         <div class="layui-form-item">
             <label class="layui-form-label equiplabel">
                 归还地址
             </label>
             <div class="layui-input-inline">
                 <input type="text" id="euipadress" name="euipadress" autocomplete="off" class="layui-input  input-text">
             </div>
         </div>

         <div class="layui-form-item" style="display:flex;flex-direction:row;">
             <label class="layui-form-label equiplabel">
                 归还上报
             </label>
             <textarea name="" cols="65" rows="5" class="layui-textarea" style="width:400px;"
                       placeholder="请输入内容"></textarea>
         </div>-->
    </form>
</div>

</body>

<script src="/statics/js/vue.min.js"></script>
<script src="/statics/js/vue-resource.js"></script>
<script>
    new Vue({
        el: '#deivceDubeg',
        data: {
            uuId:'7d8e5b4',
            machineId:'01',
            inputtext: {},
            message: '',
            sites: [
                {number: 1},
                {number: 2},
                {number: 3},
                {number: 4},
                {number: 5},
                {number: 6},
                {number: 7},
                {number: 8},
                {number: 9},
                {number: 10},
                {number: 11},
                {number: 12},

            ],
        },
        methods: {
            pingpong: function ($event) {
                if (this.uuId == null || this.uuId == '' || this.uuId == undefined) {
                    layer.alert("请输入UUID", {icon: 6});
                    return;
                }

                if (this.machineId == null || this.machineId == '' || this.machineId == undefined) {
                    layer.alert("请输入设备从机ID", {icon: 6});
                    return;
                }
                //获取点击的具体仓位值
               var  positionNu =  event.currentTarget.innerHTML.trim();
                this.$http.post('/device/leaseIssue', {uuIds:this.uuId, machineId:this.machineId, positionNu:positionNu},
                    {emulateJSON:false}).then(function (res) {

                    if("0000"==res.body.code){
                        layer.alert("弹出成功", {icon: 6});
                    }else{
                        layer.alert("弹出失败"+res.body.message, {icon: 5});
                    }
                    console.log(res.body);
                }, function (res) {
                    console.log(res.status);
                });
            }

        },

    })

</script>


</html>