<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>设备状态</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <link rel="stylesheet" href="/statics/css/font.css">
    <link rel="stylesheet" href="/statics/css/xadmin.css">
    <script type="text/javascript" src="/statics/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/statics/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/statics/js/xadmin.js"></script>
    <script type="text/javascript" src="/statics/js/cookie.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->
</head>
<style>
    .device_detail {
        display: flex;
        flex-direction: row;
        font-size: 14px;
        line-height:30px;

    }

    .device_detail label {
        color: #999;
    }
</style>

<body>


    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">全部设备</a>
            <a>
                <cite>设备详情</cite></a>
        </span>
        <!--<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:12px;float:right"-->
            <!--href="javascript:location.replace(location.href);" title="刷新">-->
            <!--<i class="layui-icon" style="line-height:25px"><img src="/statics/images/refresh2.png" alt=""-->
                    <!--style="width:16px;"></i></a>-->
    </div>

    <xblock style="margin:10px 20px 0px 20px;">
        <div class="layui-row">
            <div class="layui-col-md4 device_detail">
                <label for="">场所：</label>
                <div th:if="${deviceInfo.placeName == null}">暂无</div>
                <div th:else="${deviceInfo.placeName}" th:text="${deviceInfo.placeName}"></div>
            </div>
            <div class="layui-col-md4 device_detail">
                <label for="">代理商：</label>
                <div th:if="${deviceInfo.agentName == null}">暂无</div>
                <div th:else="${deviceInfo.agentName}" th:text="${deviceInfo.agentName}"></div>
            </div>

            <div class="layui-col-md4 device_detail">
                <label for="">设备类型：</label>
                <div th:text="${deviceInfo.deviceModel}+'口机'"></div>
            </div>

        </div>

        <div class="layui-row">
                <div class="layui-col-md4 device_detail">
                    <label for="">设备SN：</label>
                    <div th:text="${deviceInfo.sn}"></div>
                </div>
                <div class="layui-col-md4 device_detail">
                    <label for="">激活时间：</label>
                    <div th:text="${deviceInfo.createdTime}"></div>
                </div>
    
    
            </div>
    


    </xblock>





    <div class="x-body" id="app">
        <table class="layui-table x-admin" id="app">
            <thead>
                <tr>
                    <th>仓位</th>
                    <th>状态</th>
                    <th>充电宝编号</th>
                    <th>最近工作时间</th>
            </thead>
            <tbody>
                <tr th:each="list:${deviceVOList}">
                    <td th:text="${list.positionUuid}"></td>
                    <!--<td th:text="${list.state}"></td>-->

                    <td th:if="${list.state==1}">出借</td>
                    <td th:if="${list.state==0}">空闲</td>

                    <td th:text="${list.powerNo}"></td>
                    <td th:text="${#dates.format(list.updateTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>

        </table>
    </div>
</body>

<script src="/statics/js/vue.min.js"></script>
<script src="/statics/js/vue-resource.js"></script>

<script>

</script>

</html>