<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>编辑设备</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
  <link rel="stylesheet" href="/statics/css/font.css">
  <link rel="stylesheet" href="/statics/css/xadmin.css">
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/statics/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="/statics/js/xadmin.js"></script>
  <script type="text/javascript" src="/statics/js/cookie.js"></script>
  <script src="/statics/js/pinyin.js/initials.js"></script>
  <script src="/statics/js/pinyin.js/pinyin.js"></script>
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="x-body" id="app">
    <form class="layui-form">
      <!--<div class="layui-form-item">-->
        <!--<label for="username" class="layui-form-label">-->
          <!--<span class="x-red">*</span>所属销售代表-->
        <!--</label>-->
        <!--<div class="layui-input-inline">-->
          <!--<select name="city" lay-verify=""  lay-search>-->
            <!--<option value="021">请选择销售代表-代理商</option>-->
            <!--<option value="022">塘朗城</option>-->
            <!--<option value="023">塘朗沃尔玛</option>-->
            <!--<option value="024">深圳北站</option>-->
            <!--<option value="025">福田</option>-->
          <!--</select>-->
        <!--</div>-->
      <!--</div>-->

      <div class="layui-form-item">
        <label for="price" class="layui-form-label">
          <span class="x-red">*</span>设备型号
        </label>
        <div class="layui-input-inline">
          <select th:field="${deviceInfo.deviceModel}" th:switch="${deviceInfo.deviceModel}" name="deviceModel" lay-verify=""  lay-search>
            <option value="无">请选择型号</option>
            <option th:case="6" th:selected="selected" value="6">6口机</option>
            <option th:case="12" th:selected="selected" value="12">12口机</option>
          </select>
        </div>
      </div>

      <div class="layui-form-item">
        <label for="price" class="layui-form-label">
          <span class="x-red">*</span>设备UUID
        </label>
        <div class="layui-input-inline">
          <input type="text" id="deviceUuid" name="deviceUuid" required="" lay-verify="required" autocomplete="off" th:value="${deviceInfo.deviceUuid}" disabled
                 class="layui-input" placeholder="长度不能超过15">
        </div>
      </div>

      <div class="layui-form-item">
        <label for="price" class="layui-form-label">
          <span class="x-red">*</span>设备IMEI
        </label>
        <div class="layui-input-inline">
          <input type="text" id="sn" name="sn" required="" lay-verify="required" autocomplete="off" th:value="${deviceInfo.sn}"
            class="layui-input" placeholder="长度不能超过15">
        </div>
      </div>

      <div class="layui-form-item">
        <label for="price" class="layui-form-label">
          <span class="x-red">*</span>设备名称
        </label>
        <div class="layui-input-inline">
          <input type="text" id="deviceName" name="deviceName" required="" lay-verify="required" autocomplete="off" th:value="${deviceInfo.deviceName}"
                 class="layui-input" placeholder="长度不能超过15">
        </div>
      </div>

      <div class="layui-form-item">
        <label for="price" class="layui-form-label">
          <span class="x-red">*</span>设备iccId
        </label>
        <div class="layui-input-inline">
          <input type="text" id="iccId" name="iccId" required="" lay-verify="required" autocomplete="off" th:value="${deviceInfo.iccId}"
                 class="layui-input" placeholder="长度不能超过15">
        </div>
      </div>

      <!--<div class="layui-form-item">-->
        <!--<label for="price" class="layui-form-label">-->
          <!--<span class="x-red">*</span>所属场所-->
        <!--</label>-->
        <!--<div class="layui-input-inline">-->
          <!--<select name="sailer" lay-verify=""  lay-search>-->
            <!--<option>请选择场所</option>-->
            <!--<option>特点总部</option>-->
          <!--</select>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="layui-form-item">-->
        <!--<label for="price" class="layui-form-label">-->
          <!--<span class="x-red">*</span>模块编号-->
        <!--</label>-->
        <!--<div class="layui-input-inline">-->
          <!--<select name="sailer" lay-verify=""  lay-search>-->
            <!--<option>请选择模块</option>-->
           <!---->
          <!--</select>-->
        <!--</div>-->
      <!--</div>-->




      <!--<div class="layui-form-item">-->
        <!--<label for="price" class="layui-form-label">-->
          <!--备注-->
        <!--</label>-->
        <!--<div class="layui-input-inline">-->
          <!--<input type="text" id="username" name="username" required="" lay-verify="required" autocomplete="off"-->
            <!--class="layui-input" placeholder="">-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="layui-form-item">-->
        <!--<label for="price" class="layui-form-label">-->
          <!--场所名称-->
        <!--</label>-->
        <!--<div class="layui-input-inline">-->
          <!--<input type="text" id="username" name="username" required="" lay-verify="required" autocomplete="off"-->
            <!--class="layui-input" placeholder="">-->
        <!--</div>-->
      <!--</div>-->
      


      <div class="layui-form-item">
        <label for="L_repass" class="layui-form-label">
        </label>
        <button class="layui-btn" lay-filter="edit" lay-submit="">
          修改
        </button>
      </div>
    </form>


  </div>
  <script>



  </script>

  <script>
    layui.use(['form', 'layer'], function () {
      $ = layui.jquery;
      var form = layui.form
        , layer = layui.layer;

      //自定义验证规则
      form.verify({
        nikename: function (value) {
          if (value.length < 5) {
            return '昵称至少得5个字符啊';
          }
        }
        , pass: [/(.+){6,12}$/, '密码必须6到12位']
      });

      // 监听提交
      form.on('submit(edit)', function(data){
        console.log(data);

          //发异步，把数据提交给php
          $.ajax({ type:'post',url: "/device/editDeviceInfo", data: JSON.stringify(data.field),contentType: "application/json",
              success: function(d){
                  if(d.code == 200){
                      //发异步
                      layer.alert("修改成功", {icon: 6},function () {
                          // 获得frame索引
                          var index = parent.layer.getFrameIndex(window.name);
                          //关闭当前frame
                          parent.layer.close(index);
                          // 可以对父窗口进行刷新
                          x_admin_father_reload();
                      });
                  }else{
                      //发异步
                      layer.alert("修改失败", {icon: 6},function () {
                          // 获得frame索引
                          var index = parent.layer.getFrameIndex(window.name);
                          //关闭当前frame
                          parent.layer.close(index);
                          // 可以对父窗口进行刷新
                          x_admin_father_reload();
                      });
                  }


              }
          });

        return false;
      });


      // 判断选择分成模式
      $("#shareModel").hide()
      $("#rentModel").hide()
      form.on('select(accountModel)', function (data) {
        category = data.value;
        accountModel = data.elem[data.elem.selectedIndex].text;
        if (accountModel == "分成模式") {
          $("#shareModel").show(300)
          $("#rentModel").hide()
        } else {
          $("#shareModel").hide()
          $("#rentModel").show(300)
        }
      })




    });
  </script>
  <script>


  </script>


  <script src="/statics/js/vue.min.js"></script>
  <script src="/statics/js/vue-resource.js"></script>
  <script src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js "></script>
  <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=PAFBZ-SRYWQ-YCR5K-GJVIC-3774E-THBZ7"></script>

  <script>
    new Vue({
      el: "#app",
      data: {

      },
      methods: {


      }


    })



  </script>


</body>

</html>