<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-user-edit" th:object="${countryCodeModel}">
			<input name="id" type="hidden" th:field="*{id}"/>
			<div class="form-group">
				<label class="col-sm-3 control-label ">国家英文名：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="countryEnName" id="countryEnName"
						   th:field="*{countryEnName}" required/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">国家中文名：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="countryCnName" id="countryCnName"  th:field="*{countryCnName}" required/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">国家区域码：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="countryCode" id="countryCode" th:field="*{countryCode}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">国家地区：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="countryArea" id="countryArea" th:field="*{countryArea}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">预存一档单价(5000元)：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="forPriceFirst" id="forPriceFirst" th:field="*{forPriceFirst}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">预存二档单价(10000元)：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="forPriceSecond" id="forPriceSecond" th:field="*{forPriceSecond}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">预存三档单价(20000元)：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="forPriceThird" id="forPriceThird" th:field="*{forPriceThird}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">是否启用：</label>
				<div class="col-sm-8">
					<div class="onoffswitch">
						<input type="checkbox" th:checked="*{useType == 1 ? true : false }"
							   class="onoffswitch-checkbox" id="useType" name="useType">
						<label class="onoffswitch-label" for="useType">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script>
        $("#form-user-edit").validate({
        	submitHandler:function(form){
        		edit();
        	}
        });
        
        function submitHandler() {
	        if ($.validate.form()) {
	        	edit();
	        }
	    }

        function edit() {
        	var id = $("input[name='id']").val();
			var countryEnName = $("input[name='countryEnName']").val();
			var countryCnName = $("input[name='countryCnName']").val();
			var countryCode = $("input[name='countryCode']").val();
        	var countryArea = $("input[name='countryArea']").val();
        	var forPriceFirst = $("input[name='forPriceFirst']").val();
        	var forPriceSecond = $("input[name='forPriceSecond']").val();
        	var forPriceThird = $("input[name='forPriceThird']").val();
        	var useType = $("input[name='useType']").is(':checked') == true ? 1 : 2;
        	$.ajax({
        		cache : true,
        		type : "POST",
        		url : ctx + "config/countryCode/saveOrUpdate",
        		data : {
        			"id": id,
        			"countryEnName": countryEnName,
        			"countryCnName": countryCnName,
        			"countryCode": countryCode,
        			"countryArea": countryArea,
        			"forPriceFirst": forPriceFirst,
        			"forPriceSecond": forPriceSecond,
        			"forPriceThird": forPriceThird,
					"useType": useType
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(data) {
        			$.operate.saveSuccess(data);
        		}
        	});
        }
    </script>
</body>
</html>
