<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<style>
    .banner-box {
        width: 350px;
        height: 150px;
        border: 1px solid #e5e6e7;
        /*	background:url(../../img/banner-add.png) no-repeat center;*/
        background-size: 45px 45px;
        position: relative;
        box-sizing: content-box;
    }

    .downloadPic {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .banner-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .add-img {
        position: absolute;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        margin: auto;
        font-size: 32px;
        z-index: 0;
    }

    .banner-size {
        float: right !important;
        margin-top: -15px;
    }
</style>
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-houseProduct-edit" th:object="${dto}">
        <input name="id" type="hidden" th:field="*{id}"/>


        <div class="form-group">
            <label class="col-sm-3 control-label">商品名称：</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="name" id="name" th:field="*{name}" required disabled="disabled">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">适用对象：</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="beSuitable" id="beSuitable" placeholder="小狗"
                       disabled="disabled">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">商品类别：</label>
            <div class="col-sm-3">
                <select class="form-control" id="type" name="type" th:field="*{type}" th:with="type=${@dict.getType('house_puppyProduct_status')}"
                        style="width: auto;" disabled="disabled">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">出售状态：</label>
            <div class="col-sm-3">
                <select class="form-control" id="status" name="status" th:field="*{status}"
                        th:with="type=${@dict.getType('beta_HouseProduct_status')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label">展示位置：</label>
            <div class="col-sm-3">
                <select class="form-control"  id="showPosition" name="showPosition" th:field="*{showPosition}" th:with="type=${@dict.getType('house_product_showPosition')}"
                        style="width: auto;">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">商品价格：</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="price" id="price" th:field="*{price}" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">商品数量：</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="stockCount" id="stockCount" th:field="*{stockCount}"
                       placeholder="商品库存数量" disabled="disabled">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">商品总量：</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="totalCount" id="totalCount" th:field="*{totalCount}"
                       placeholder="商品总数量" disabled="disabled">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">购买总量限制：</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="buyLimit" id="buyLimit" th:field="*{buyLimit}" required
                       placeholder="默认为1" disabled="disabled">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">使用有效期：</label>
            <div class="col-sm-3">
                <input id="validityPeriod" name="validityPeriod" class="form-control" th:field="*{validityPeriod}"
                       placeholder="天"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">加速时间：</label>
            <div class="col-sm-3">
                <input id="accelerationTime" name="accelerationTime" class="form-control" th:field="*{speedUpTime}"
                       placeholder="小时"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">叠加使用限制：</label>
            <div class="col-sm-9">
                <input id="overlayLimit" name="overlayLimit" th:field="*{overlayLimit}" class="form-control" required
                       placeholder="数量"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">商品描述：</label>
            <div class="col-sm-9">
                <textarea class="form-control" type="text" name="describe" id="describe" th:field="*{describe}"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">商品简介：</label>
            <div class="col-sm-9">
                <textarea class="form-control" type="text" name="remark" id="remark" th:field="*{remark}"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">是否送币：</label>
            <div class="col-sm-3">
                <select class="form-control" id="giveCurrencyStatus" name="giveCurrencyStatus"
                        th:with="type=${@dict.getType('give_currency_status')}" th:field="*{giveCurrencyStatus}" >
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>

        <div class="form-group give">
            <label class="col-sm-3 control-label">币种：</label>
            <div class="col-sm-3">
                <select class="form-control" id="accountConfigId" name="accountConfigId"
                        th:with="accountConfigList=${accountConfigList}" th:field="*{accountConfigId}"
                        style="width: auto;" >
                    <option th:each="ac : ${accountConfigList}" th:text="${ac.name}"
                            th:value="${ac.id}"></option>
                </select>
            </div>
        </div>
        <div class="form-group give">
            <label class="col-sm-3 control-label ">数量 ：</label>
            <div class="col-sm-9">
                <input class="form-control" type="number" name="accountNum" id="accountNum" maxlength="8" th:field="*{accountNum}" min="1">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">商品图片：</label>
            <div class="col-sm-3">
                <div class="banner-box">
                    <input class="downloadPic" type="file" name="file" id="downloadPic" accept="image/*">
                    <img class="banner-img" src="" alt="" id="image" th:src="*{image}">
                    <p class="add-img">+</p>
                </div>
            </div>
            <p class="col-sm-3 banner-size">700*300px</p>
        </div>


    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script>
    function textchanged(value) {
        if (value == 6) {
            document.getElementById("stockCount").disabled = true;
            document.getElementById("totalCount").disabled = true;
            document.getElementById("buyLimit").disabled = true;
            document.getElementById("accelerationTime").disabled = true;
            document.getElementById("validityPeriod").disabled = true;
            document.getElementById("speedUpTime").disabled = true;
        }
        else {
            document.getElementById("stockCount").disabled = false;
            document.getElementById("totalCount").disabled = false;
            document.getElementById("buyLimit").disabled = false;
            document.getElementById("accelerationTime").disabled = false;
            document.getElementById("validityPeriod").disabled = false;
            document.getElementById("speedUpTime").disabled = false;
        }
    }

    var isFirst = true;
    /* 首次执行提交 */
    $("#form-houseProduct-edit").validate({
        rules: {
            title: {
                required: true
            },
            sort: {
                required: true
            },
            bannerImgUrl: {
                required: true
            }
        }
    });

    var prefix = ctx + "betaHouse/houseProduct";
    /* 图片在前端预览 */
    var pictureSuffix = "";
    var pictureBase64 = "";
    $("#downloadPic").change(function (e, type) {
        var files = e.target.files;
        var file = files[0];
        var fileSize = file.size;
        if (!/\/(?:jpeg|jpg|png)/i.test(file.type)) {
            $.modal.alertError("上传图片格式只能为jpeg,jpg,png");
            return;
        }
        var reader = new FileReader();
        reader.onload = function () {
            if (fileSize - 0 > 1048576) {
                $.modal.alertError("上传图片不能超过1M");
                return false;
            }
            var result = this.result;
            $("#image").attr("src", result);
            pictureSuffix = file.type.split("/")[1];
            pictureBase64 = result.split(",")[1];
        };
        reader.readAsDataURL(file);
    });

    function submitHandler() {
        if ($.validate.form()) {
            if (isFirst) {
                edit();
            }
        }
    }
    function edit() {
        var image = $("#image").attr("src");
        if (image == null || image == "" || image == undefined) {
            $.modal.alertError("请上传图片");
            return;
        }
        var id = $("input[name='id']").val();
        var name = $("input[name='name']").val();
        var type = document.getElementById("type").value
        var status = document.getElementById("status").value
        var stockCount = document.getElementById("stockCount").value
        var remark = document.getElementById("remark").value
        var totalCount = $("input[name='totalCount']").val();
        var price = $("input[name='price']").val();
        var buyLimit = $("input[name='buyLimit']").val();
        var overlayLimit = $("input[name='overlayLimit']").val();
        var validityPeriod = $("input[name='validityPeriod']").val();
        // var dateType = document.getElementById("dateType").value
        var speedUpTime = $("input[name='speedUpTime']").val();
        var showPosition = document.getElementById("showPosition").value
        var describe = document.getElementById("describe").value
        var accelerationTime = document.getElementById("accelerationTime").value
        var giveCurrencyStatus = $("#giveCurrencyStatus").val();
        var accountConfigId = $("#accountConfigId").val();
        var accountNum = $("input[name='accountNum']").val();
        $.ajax({
            cache: true,
            type: "POST",
            url: prefix + "/updatePuppy",
            data: {
                "id": id,
                "name": name,
                "type": type,
                "beSuitable": 2,
                "remark": remark,
                "price": price,
                "totalCount": totalCount,
                "stockCount": stockCount,
                "buyLimit": buyLimit,
                "status": status,
                "pictureSuffix": pictureSuffix,
                "pictureBase64": pictureBase64,
                "overlayLimit": overlayLimit,
                "validityPeriod": validityPeriod,
                 "accelerationTime": accelerationTime,
                "describe": describe,
                "speedUpTime": speedUpTime,
                "showPosition":showPosition,
                "giveCurrencyStatus": giveCurrencyStatus,
                "accountConfigId": accountConfigId,
                "accountNum": accountNum
            },
            async: false,
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                if (data.code == web_status.SUCCESS) {
                    isFirst = false;
                    $.operate.saveSuccess(data);
                } else {
                    $.modal.alertError(data.message);
                }
            }
        });
    };
    $(function () {
        giveHide();
        $('#giveCurrencyStatus').on('change',function () {
            giveHide();
        })
    });
    //是否送币显示与隐藏
    function giveHide() {
        var val=$('#giveCurrencyStatus').val();
        if(val==0){
            $('.give').attr("style","display:none;");//隐藏div
        }else{
            $('.give').attr("style","display:block;");//显示div
        }
    }
</script>
</body>
</html>
