<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-amountSetting-edit" th:object="${amountSetting}">
			<div class="form-group">
				<label class="col-sm-5 control-label ">入金最小额（CNY）</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" required="true" id="minRechargeLimit" name="minRechargeLimit" th:field="*{minRechargeLimit}" onkeyup="$.common.clearNoNum(this)"/>
				</div>
				<label class="control-label ">不能低于100元</label>
			</div>
			<div class="form-group">
				<label class="col-sm-5 control-label ">入金最大额（CNY）</label>
				<div class="col-sm-3">
					<input class="form-control" required="true" type="text" id="maxRechargeLimit" name="maxRechargeLimit" th:field="*{maxRechargeLimit}" onkeyup="$.common.clearNoNum(this)"/>
				</div>
				<label class="control-label ">不能高于100000元</label>
			</div>
			<div class="form-group">
				<label class="col-sm-5 control-label ">出金最小额（USDT）</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" required="true" id="minWithdrawLimit" name="minWithdrawLimit" th:field="*{minWithdrawLimit}" onkeyup="$.common.clearNoNum(this)"/>
				</div>
				<label class="control-label ">不能低于100USDT</label>
			</div>
			<div class="form-group">
				<label class="col-sm-5 control-label ">出金最大额（USDT）</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" required="true" id="maxWithdrawLimit" name="maxWithdrawLimit" th:field="*{maxWithdrawLimit}" onkeyup="$.common.clearNoNum(this)"/>
				</div>
				<label class="control-label ">不能高于14000USDT</label>
			</div>
            <div class="form-group">
                <label class="col-sm-5 control-label"></label>
				<div class="col-sm-3">
					<a class="btn btn-primary btn-edit col-sm-4" onclick="save()" shiro:hasPermission="finance:rateSetting:edit">
						<i class="fa fa-edit"></i> 保存
					</a>
				</div>
            </div>
        </form>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script>
        $(function () {
        });

        function save() {
            if ($.validate.form()) {
                var minWithdrawLimit = $("#minWithdrawLimit").val();
                var maxWithdrawLimit = $("#maxWithdrawLimit").val();
                var minRechargeLimit = $("#minRechargeLimit").val();
                var maxRechargeLimit = $("#maxRechargeLimit").val();
                if (Number(minRechargeLimit) < 100) {
                    $.modal.alertError("入金最小额不能小于100");
                    return;
                }
                if (Number(maxRechargeLimit) > 100000) {
                    $.modal.alertError("入金最大额不能大于100000");
                    return;
                }
                if (Number(maxRechargeLimit) < Number(minRechargeLimit)) {
                    $.modal.alertError("入金最大额不能小于入金最小额");
                    return;
                }

                if (Number(minWithdrawLimit) < 100) {
                    $.modal.alertError("出金最小额不能小于100");
                    return;
                }
                if (Number(maxWithdrawLimit) > 14000) {
                    $.modal.alertError("出金最大额不能大于14000");
                    return;
                }
                if (Number(maxWithdrawLimit) < Number(minWithdrawLimit)) {
                    $.modal.alertError("出金最大额不能小于出金最小额");
                    return;
                }

                $.ajax({
                    cache : true,
                    type : "POST",
                    url : ctx + "finance/setting/amountSetting/edit",
                    data : {
                        "minWithdrawLimit": minWithdrawLimit,
                        "maxWithdrawLimit": maxWithdrawLimit,
                        "minRechargeLimit": minRechargeLimit,
                        "maxRechargeLimit": maxRechargeLimit
                    },
                    async : false,
                    error : function(data) {
                        $.modal.alertError("系统错误");
                    },
                    success : function(data) {
                        if (data.code == web_status.SUCCESS) {
                            $.modal.msgSuccess("保存成功");
                        } else {
                            $.modal.alertError(data.message);
                        }
                    }
                });
            }
        }
    </script>
</body>
</html>
