<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-rateSetting-edit" th:object="${rateSetting}">
			<input name="code" id="code" type="hidden"  th:field="*{code}" />
			<div class="form-group">
				<label class="col-sm-5 control-label ">充值汇率（USDT/CNY）</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" readonly="true" id="rate" name="rate" th:field="*{rate}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-5 control-label ">提现汇率调价</label>
				<div class="col-sm-3">
					<input class="form-control" required="true" type="text" oninput="change()" id="exchangeRateAdjust" name="exchangeRateAdjust" th:field="*{exchangeRateAdjust}" onkeyup="num(this)"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-5 control-label ">提现汇率（USDT/CNY）</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" readonly="true" id="withdrawRate" name="withdrawRate"/>
				</div>
			</div>
            <div class="form-group">
                <label class="col-sm-5 control-label"></label>
				<div class="col-sm-3">
					<a class="btn btn-primary btn-edit col-sm-4" onclick="save()" shiro:hasPermission="finance:rateSetting:edit">
						<i class="fa fa-edit"></i> 保存
					</a>
				</div>
            </div>
        </form>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script>
        $(function () {

            if ($("#code").val() == "0") {
                $.modal.alertWarning("获取蓝鲸汇率失败");
            }
            var withdrawRate = $.calc.accSubtr($("#rate").val(), $("#exchangeRateAdjust").val());
            $("#withdrawRate").val(withdrawRate);
            $("input[name='exchangeRateAdjust']").blur(function(){
                $("#withdrawRate").val($.calc.accSubtr($("#rate").val(), $("#exchangeRateAdjust").val()));
            });
        });

        function change() {
            $("#withdrawRate").val($.calc.accSubtr($("#rate").val(), $("#exchangeRateAdjust").val()));
        }

        function save() {
            if ($.validate.form()) {
                var exchangeRateAdjust = $("input[name='exchangeRateAdjust']").val();
                $.ajax({
                    cache : true,
                    type : "POST",
                    url : ctx + "finance/setting/rateSetting/edit",
                    data : {
                        "exchangeRateAdjust": exchangeRateAdjust
                    },
                    async : false,
                    error : function(data) {
                        $.modal.alertError("系统错误");
                    },
                    success : function(data) {
                        if (data.code == web_status.SUCCESS) {
                            $.modal.msgSuccess("保存成功");
                        } else {
                            $.modal.alertError(data.message);
                        }
                    }
                });
            }
        }

        function num(obj){
            $.common.clearNoNum(obj);
            $("#withdrawRate").val($.calc.accSubtr($("#rate").val(), $("#exchangeRateAdjust").val()));
        }
    </script>
</body>
</html>
