<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coin.wallet.dao.UserWalletDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coin.wallet.entity.UserWallet">
        <id column="id" property="id" />
        <result column="platform" property="platform" />
        <result column="user_id" property="userId" />
        <result column="coin_type" property="coinType" />
        <result column="address" property="address" />
        <result column="private_key" property="privateKey" />
        <result column="flag" property="flag" />
        <result column="valid" property="valid" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, platform, user_id, coin_type, address, private_key, flag, valid, create_time, update_time
    </sql>

</mapper>
