<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">

				<form id="operlog-form">
					<div class="select-list">
						<ul>
							<li>
								<label>搜索： </label><input type="text" placeholder="用户名称 号码" name="name"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="col-sm-12 select-table table-striped" style="overflow: overlay;height: 78%;">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		var prefix = ctx + "beta/betaOrder";
		$(function() {
		    var options = {
                url: prefix + "/countOrder/list",
                sortName: "count(0)",
                sortOrder: "desc",
		        modalName: "持仓数据监控列表",
		        search: false,
		        showExport: false,
		        columns: [
                    {
                        field: 'referrer',
                        title: '推荐人'
                    },
                    {
                        field: 'name',
                        title: '姓名'
                    },
                    {
                        field: 'phone',
                        title: '电话'
                    },
                    {
                        field: 'maxcount',
                        title: '持有条数'
                    },
                    {
                        field: 'countCost',
                        title: '总价值'
                    },
                    {
                        field: 'countProfit',
                        title: '预期收益价值'
                    },
                    {
                        field: 'betaBalance',
                        title: 'beta通证余额'
                    }]
		    };
		    $.table.init(options);
		});

	</script>
</form>
</body>
</html>