<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<style>
.banner-box{
	width:350px;
	height:150px;
	border:1px solid #e5e6e7;
/*	background:url(../../img/banner-add.png) no-repeat center;*/
	background-size:45px 45px;
    position: relative;
    box-sizing: content-box;
}
.downloadPic{
	width:100%;
	height:100%;
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    z-index:2;
}
.banner-img{
	position: absolute;
	width:100%;
	height:100%;
	top:0;
    left:0;
    z-index:1;
}
.add-img{
	position: absolute;
	width:24px;
	height:24px;
	line-height:24px;
	text-align:center;
	left:0;
	bottom:0;
	top:0;
	right:0;
	margin:auto;
	font-size:32px;
	z-index:0;
}
.banner-size{
	float: right !important;
	margin-top: -15px;
}
    .form-horizontal{padding-right: 40%;position: relative;}
    .form-groupsp{position: absolute;width: 38%;left: 60%;top: 0}
</style>
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-banner-edit" th:object="${vo}">
        <input type="hidden" th:value="${id}" id="id" name="id">
        <div class="btn-group-sm" id="toolbar" role="group" >
            <div class="form-control-static" th:if="${vo.orderStauts==5}">
                <i class="btn btn-primary btn-success" onclick="audit(1)" shiro:hasPermission="orderList:audit">放狗</i>
                <!--<i class="btn btn-primary btn-success" onclick="audits()" shiro:hasPermission="orderList:auditRefuseDogo">拒绝放狗</i>-->
            </div>
        </div>

        <div class="form-group">
            <div class="form-control-static" th:if="${vo.orderStauts==5}">
                <label class="col-sm-3 control-label ">备注：</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="remarks" name="remarks" placeholder="示例：xx领养人上传的凭证有误，进行某些操作." maxlength="300"/>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label ">订单状态：</label>
            <div class="col-sm-5">
                <div class="form-control-static" th:if="${vo.orderStauts==-1}">隐藏 </div>
                <div class="form-control-static" th:if="${vo.orderStauts==0}">取消 </div>
                <div class="form-control-static" th:if="${vo.orderStauts==1}">完成</div>
                <div class="form-control-static" th:if="${vo.orderStauts==2}">待转让 </div>
                <div class="form-control-static" th:if="${vo.orderStauts==3}">待支付 </div>
                <div class="form-control-static" th:if="${vo.orderStauts==4}">待放狗 </div>
                <div class="form-control-static" th:if="${vo.orderStauts==5}">客诉 </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">订单状态类型：</label>
            <div class="col-sm-5">
                <div class="form-control-static" th:if="${vo.orderStautsType==1}">买方超时取消 </div>
                <div class="form-control-static" th:if="${vo.orderStautsType==2}">客服取消</div>
                <div class="form-control-static" th:if="${vo.orderStautsType==0}">进行中</div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label ">价格：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="price" name="price" th:field="*{price}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">收益价：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="earningsPrice" name="earningsPrice" th:field="*{earningsPrice}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">收益率：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="earningsRatio" name="earningsRatio" th:field="*{earningsRatio}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">区块狗名称：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="dogName" name="dogName" th:field="*{dogName}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">编号：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="orderNumber" name="orderNumber" th:field="*{orderNumber}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">级别：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="level" name="level" th:field="*{level}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">周期（天）：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="days" name="days" th:field="*{days}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">领养时间：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="registerTime" name="params[registerTime]" th:field="*{registerTime}" disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">领养人名称：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="name" name="name" th:field="*{name}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">领养人：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="phone" name="phone" th:field="*{phone}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">转让方名：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="sellUserName" name="sellUserName" th:field="*{sellUserName}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">转让方电话：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="sellUserPhone" name="sellUserPhone" th:field="*{sellUserPhone}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">创建时间：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="createTime" name="params[createTime]" th:field="*{createTime}" disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">支付时间：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="payTime" name="params[payTime]" th:field="*{payTime}" disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">完成时间：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="succeedTime" name="params[succeedTime]" th:field="*{succeedTime}" disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">抢狗开始时间：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="startTime" name="startTime" th:field="*{startTimeStr}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">结束时间：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="endTime" name="endTime" th:field="*{endTimeStr}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
        <label class="col-sm-3 control-label ">微分</label>
        <div class="col-sm-5">
            <input class="form-control" type="text" id="differential" name="differential" th:field="*{differential}" disabled="disabled"  />
        </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">银行名称：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="bankName" name="bankName" th:field="*{bankName}" disabled="disabled"  />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">支付宝账号：</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="alipayNumber" name="alipayNumber" th:field="*{alipayNumber}" disabled="disabled" height="400" width="250" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">支付宝二维码：</label>
            <div class="col-sm-5">
                <img class="information-img" alt="" id="" th:src="*{alipay}" height="450" width="350"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label ">微信收款二维码：</label>
            <div class="col-sm-5">
                <img class="information-img" alt="" id="" th:src="*{wechat}" height="450" width="350" />
            </div>
        </div>

        <div class="form-group form-groupsp">
            <div class="form-control-static" th:if="${vo.orderStauts==5}">
                <i class="btn btn-danger btn-success" onclick="audits()" shiro:hasPermission="orderList:auditRefuseDogo">拒绝放狗</i>
            </div>
            <label class="col-sm-3 control-label ">支付凭证：</label>
            <div class="col-sm-5">
                <img class="information-img" alt="" id="" th:src="*{payImg}"height="450" width="350" />
            </div>
        </div>

        <img alt="" style="display:none" id="displayImg" src=""/>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script>

    $(function ()  {
        function amplificationImg(name, url) {
            // $("#displayImg").attr("src", url);
            // var height = $("#displayImg").height();//拿的图片原来宽高，建议自定义宽高
            // var width = $("#displayImg").width();
            layer.open({
                type: 1,
                title: false,
                closeBtn: 1,
                shadeClose: true,
                area: ['450px', '700px'], //宽高
                content: "<img alt=" + name + " title=" + name + " src=" + url + " + width='450' + height='700'/>"
            });
        };
        $(".information-img").click(function(){
            var url = $(this).attr("src");
            amplificationImg('', url)
        })
        var status = $("#fhasRealValidate").val();
    });


    $("#form-withdraw-edit").validate({
        submitHandler:function(form){
            audit();
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            audit();
        }
    }
    function audit(status) {
        var str = "通过";
        if (status == 3) {
            str = "拒绝"
        }
        $.modal.confirm("是否" + str + "放行狗", function () {
            if ($.validate.form()) {
                var id = document.getElementById("id").value;
                var remarks = document.getElementById("remarks").value;
                $.ajax({
                    cache : true,
                    type : "POST",
                    url : ctx + "beta/betaOrder/audit",
                    data : {
                        "id":id,
                        "remarks":remarks
                    },
                    async : false,
                    error : function(request) {
                        $.modal.alertError("系统错误");
                    },
                    success : function(data) {
                        $.operate.saveSuccess(data);
                    }
                });
            }
        });
    }

    $("#form-withdraw-edit").validate({
        submitHandler:function(form){
            audits();
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            audits();
        }
    }
    function audits() {
        var str = "进行";
        $.modal.confirm("是否" + str + "拒绝放狗", function () {
            if ($.validate.form()) {
                var id = document.getElementById("id").value;
                var remarks = document.getElementById("remarks").value;
                $.ajax({
                    cache : true,
                    type : "POST",
                    url : ctx + "beta/betaOrder/auditRefuseDogo",
                    data : {
                        "id":id,
                        "remarks":remarks
                    },
                    async : false,
                    error : function(request) {
                        $.modal.alertError("系统错误");
                    },
                    success : function(data) {
                        $.operate.saveSuccess(data);
                    }
                });
            }
        });
    }


</script>
</body>
</html>
