<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">

				<form id="operlog-form">
					<div class="select-list">
						<ul>
							<div style="overflow: auto;">
								<li>
									<select name="params[status]">
										<option value="1">创建</option>
										<option value="2">支付</option>
										<option value="3">完成</option>
										<option value="4">领养</option>
									</select>
								</li>
								<li class="select-time">
									<label>时间： </label>
									<input type="text" class="time-input" id="startTime" placeholder="开始时间"
										   name="params[beginTime]"/>
									<span>-</span>
									<input type="text" class="time-input" id="endTime" placeholder="结束时间"
										   name="params[endTime]"/>
								</li>
								<li>
									<label>状态： </label>
									<select name="orderStauts" th:with="type=${@dict.getType('beta_order_stauts')}">
										<option value="">所有</option>
										<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
												th:value="${dict.dictValue}"></option>
									</select>
								</li>
								<li>
									<label>套餐： </label><select name="comboId" th:with="type=${list}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dogName+'&nbsp;&nbsp;&nbsp;周期'+dict.days+
								'&nbsp;&nbsp;天'+'&nbsp;&nbsp;&nbsp; 价格'+dict.minPrice+'~'+dict.maxPrice+'&nbsp;&nbsp;&nbsp;&nbsp;收益率：'+dict.earningsRatio+'%'}"
											th:value="${dict.id}"></option>
								</select>
								</li>
								<li>
									<label>搜索： </label><input type="text" placeholder="价格" name="price"/>
								</li>
							</div>
							<li>
								<label>搜索： </label><input type="text" placeholder="订单编号" name="orderNumber"/>
							</li>
							<li>
								<label>搜索： </label><input type="text" placeholder="领养人&&手机号码" name="name"/>
							</li>
							<li>
								<label>搜索： </label><input type="text" placeholder="转让人&&手机号码" name="sellUserName"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="betaOrder:export">
					<i class="fa fa-download"></i> 导出
				</a>
				<!--<a class="btn btn-success" onclick="customerComplaint()" shiro:hasPermission="orderList:auditRefuseDogo" title="一键修改成客诉">
					<i class="fa fa-check-square-o"></i> 一键客诉
				</a>-->
				<!--<a class="btn btn-danger" onclick="auditRefuseDogoAll()" shiro:hasPermission="orderList:auditRefuseDogo" title="一键拒绝放狗">
					<i class="fa fa-remove"></i> 一键拒绝
				</a>-->
			</div>

			<div class="col-sm-12 select-table table-striped" style="overflow: overlay;height: 78%;">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
        var orderStautss = [[${@dict.getType('beta_order_stauts')}]];//订单状态
        var orderDetails = [[${@dict.getType('orderListDetails:edit')}]];//订单详情
        var betaOrderListInfos = [[${@dict.getType('betaOrderListInfo:list')}]];//追踪链

		var prefix = ctx + "beta/betaOrder";
		$(function() {
		    var options = {
                url: prefix + "/list",
                updateUrl: prefix + "/edit/{id}",
                exportUrl: prefix + "/export",
                sortName: "bo.pay_time",
                sortOrder: "desc",
		        modalName: "详情",
		        search: false,
		        showExport: false,
		        columns: [
                    {
                        field: 'orderNumber',
                        title: '编号'
                    },
                    {
                        field: 'dogName',
                        title: '名称'
                    },
                    {
                        field: 'name',
                        title: '领养人',
                        formatter: function(value, row, index) {
                            var actions = [];
                            var nameVar = row.name == null?"-":row.name;
                            var phoneVar = row.phone == null?"":row.phone;
                            var nameVarAndphoneVar = nameVar+"/"+phoneVar;
                            actions.push('<span class="depreciate">' + nameVarAndphoneVar + '</span>');
                            return actions.join('');
                        }
                    },
                    {
                        field: 'sellUserName',
                        title: '转让人',
                        formatter: function(value, row, index) {
                            var actions = [];
                            var sellUserName = value+"/"+row.sellUserPhone;
                            actions.push('<span class="depreciate">' + sellUserName + '</span>');
                            return actions.join('');
                        }
                    },
					{
                        field: 'price',
                        title: '价格',
						sortable: true
                    },
                    {
                        field: 'earningsPrice',
                        title: '收益价'
                    },
                    {
                        field: 'orderStauts',
                        title: '状态',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(orderStautss, value);
                        }
                    },
                    {
                        field: 'feminaId',
                        title: '狗Id'
                    },
                    {
                        field: 'payTime',
                        title: '支付时间',
                        sortable: true
                    },
                    {
                        field: 'registerTime',
                        title: '领养时间',
                        sortable: true
                    },
                    {
                        field: 'succeedTime',
                        title: '成交时间',
                        sortable: true
                    },
				 {
					title: '操作',
					align: 'center',
					formatter: function(value, row, index) {
						var actions = [];
                        actions.push('<a class="btn btn-info btn-xs'+orderDetails+'" href="#" onclick="edits(\'' + row.id + '\')"><i class="fa fa-key"></i>订单详情</a>');
                        actions.push('<a class="btn btn-info btn-xs'+betaOrderListInfos+'" href="#" onclick="betaOrderListInfo(\'' + row.feminaId + '\')"><i class="fa fa-remove"></i>追踪链</a>');
						return actions.join('');
					}
				}]
		    };
		    $.table.init(options);
		});

       //订单详情
        function edits(id) {
            var url = prefix + '/orderListDetails/' + id;
            $.modal.openFull("订单详情",url,888,450)
        }
        /*追踪链*/
        function betaOrderListInfo(feminaId) {
            var url = prefix + '/betaOrderListInfo/' + feminaId;
            createMenuItem(url, "公狗订单追踪链");
        }

		//一键客诉
		function customerComplaint() {
			$.modal.confirm("确定执行该操作吗？", function () {
				var url = prefix + '/customerComplaint';
				$.modal.loading("正在处理中，请稍后...");
				var config = {
					url: url,
					type: "post",
					dataType: "json",
					success: function (result) {
						if (result.code == web_status.SUCCESS) {
							$.modal.alertSuccess(result.result);
							$.table.refresh();
						} else {
							$.modal.alertError(result.message);
						}
						$.modal.closeLoading();
					}
				};
				$.ajax(config)
			});
		}

		//一键拒绝放狗
		function auditRefuseDogoAll() {
			$.modal.confirm("确定执行该操作吗？", function () {
				var url = prefix + '/auditRefuseDogoAll';
				$.modal.loading("正在处理中，请稍后...");
				var config = {
					url: url,
					type: "post",
					dataType: "json",
					success: function (result) {
						if (result.code == web_status.SUCCESS) {
							$.modal.alertSuccess(result.result);
							$.table.refresh();
						} else {
							$.modal.alertError(result.message);
						}
						$.modal.closeLoading();
					}
				};
				$.ajax(config)
			});
		}
	</script>
</form>
</body>
</html>