<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.AccountUpRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.AccountUpRecord">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="account_id" property="accountId" />
        <result column="before_amount" property="beforeAmount" />
        <result column="amount" property="amount" />
        <result column="after_amount" property="afterAmount" />
        <result column="sys_user_id" property="sysUserId" />
        <result column="product_type" property="productType" />
        <result column="ip" property="ip" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapVo" type="com.jdcloud.provider.pojo.vo.AccountUpRecordVo">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="account_id" property="accountId" />
        <result column="before_amount" property="beforeAmount" />
        <result column="amount" property="amount" />
        <result column="after_amount" property="afterAmount" />
        <result column="sys_user_id" property="sysUserId" />
        <result column="ip" property="ip" />
        <result column="remark" property="remark" />
        <result column="product_type" property="productType" />

        <result column="userName" property="userName" />
        <result column="userPhone" property="userPhone" />
        <result column="sysUserName" property="sysUserName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, user_id AS userId, account_id AS accountId, before_amount AS beforeAmount, amount, after_amount AS afterAmount, sys_user_id AS sysUserId, ip, remark
    </sql>
    <sql id="Base_Column_List_vo">
        id, create_time AS createTime, user_id AS userId, account_id AS accountId, before_amount AS beforeAmount, amount, after_amount AS afterAmount, sys_user_id AS sysUserId, ip, remark
    </sql>

    <select id = "selectAccountUpRecordList" resultMap="BaseResultMapVo">
        SELECT auc.*,
        ca.`name` userName, ca.phone userPhone,
        su.user_name sysUserName FROM t_account_up_record auc
        INNER JOIN c_personal_card ca ON auc.user_id = ca.user_id
        INNER JOIN sys_user su ON su.user_id = auc.sys_user_id
        <where>
            <if test="dto.keyword != null and dto.keyword !=''">
                AND (ca.`name` like concat('%',#{dto.keyword}, '%')
                OR ca.phone like concat(#{dto.keyword}, '%')
                OR auc.ip like concat('%',#{dto.keyword}, '%')
                OR su.user_name like concat('%',#{dto.keyword}, '%'))
            </if>
            <if test="dto.params.beginTime != null and dto.params.beginTime != ''">
                AND DATE_FORMAT(auc.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{dto.params.beginTime}, '%Y-%m-%d')
            </if>
            <if test="dto.params.endTime != null and dto.params.endTime != ''">
                AND DATE_FORMAT(auc.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{dto.params.endTime}, '%Y-%m-%d')
            </if>
        </where>
    </select>

</mapper>
