<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.AppVersionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.AppVersion">
        <id column="id" property="id" />
        <result column="bundle_id" property="bundleId" />
        <result column="name" property="name" />
        <result column="version" property="version" />
        <result column="changelog" property="changelog" />
        <result column="build" property="build" />
        <result column="install_url" property="installUrl" />
        <result column="picture_url" property="pictureUrl" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
        <result column="creater" property="creater" />
        <result column="updator" property="updator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bundle_id AS bundleId, name, version, changelog, build, install_url AS installUrl, picture_url AS pictureUrl, type, create_time AS createTime, update_time AS updateTime, status, creater, updator
    </sql>

    <select id="selectAppVersionListById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM t_app_version
        <where>
            <if test="av.keyWord != null and av.keyWord != ''">
                AND name LIKE CONCAT('%',#{av.keyWord},'%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>
