<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.AuditRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.AuditRecord">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="real_name" property="realName" />
        <result column="identity_no" property="identityNo" />
        <result column="identity_type" property="identityType" />
        <result column="identity_front_url" property="identityFrontUrl" />
        <result column="identity_front_key" property="identityFrontKey" />
        <result column="identity_front_hash" property="identityFrontHash" />
        <result column="identity_back_url" property="identityBackUrl" />
        <result column="identity_back_key" property="identityBackKey" />
        <result column="identity_back_hash" property="identityBackHash" />
        <result column="bank_card_no" property="bankCardNo" />
        <result column="bank_address" property="bankAddress" />
        <result column="bank_card_url" property="bankCardUrl" />
        <result column="bank_card_key" property="bankCardKey" />
        <result column="bank_card_hash" property="bankCardHash" />
        <result column="alipay_no" property="alipayNo" />
        <result column="audit_status" property="auditStatus" />
        <result column="auditor" property="auditor" />
        <result column="audit_time" property="auditTime" />
        <result column="audit_remark" property="auditRemark" />
        <result column="audit_level" property="auditLevel" />
        <result column="audit_type" property="auditType" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, real_name AS realName, identity_no AS identityNo, identity_type AS identityType, identity_front_url AS identityFrontUrl, identity_front_key AS identityFrontKey, identity_front_hash AS identityFrontHash, identity_back_url AS identityBackUrl, identity_back_key AS identityBackKey, identity_back_hash AS identityBackHash, bank_card_no AS bankCardNo, bank_address AS bankAddress, bank_card_url AS bankCardUrl, bank_card_key AS bankCardKey, bank_card_hash AS bankCardHash, alipay_no AS alipayNo, audit_status AS auditStatus, auditor, audit_time AS auditTime, audit_remark AS auditRemark, audit_level AS auditLevel, audit_type AS auditType, creater, create_time AS createTime, updater, update_time AS updateTime
    </sql>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM t_audit_record
        WHERE user_id = #{userId} AND audit_type = #{auditType}
        ORDER BY create_time DESC
        LIMIT 1
    </select>
</mapper>
