<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.BetaReservationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.BetaReservation">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="reserv_number" property="reservNumber" />
        <result column="user_id" property="userId" />
        <result column="combo_id" property="comboId" />
        <result column="amount" property="amount" />
        <result column="reserv_stauts" property="reservStauts" />
    </resultMap>


    <!-- Vo通用查询映射结果 -->
    <resultMap id="BaseResultMap_vo" type="com.jdcloud.provider.pojo.vo.BetaReservationVo">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="reserv_number" property="reservNumber" />
        <result column="user_id" property="userId" />
        <result column="combo_id" property="comboId" />
        <result column="amount" property="amount" />
        <result column="reserv_stauts" property="reservStauts" />


        <result column="days" property="days" />
        <result column="min_price" property="minPrice" />
        <result column="max_price" property="maxPrice" />
        <result column="earnings_ratio" property="earningsRatio" />
        <result column="differential" property="differential" />
        <result column="dog_name" property="dogName" />
        <result column="level" property="level" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="dog_img" property="dogImg" />

        <result column="name" property="name" />
        <result column="phone" property="phone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, update_time AS updateTime, reserv_number AS reservNumber, user_id AS userId, combo_id AS comboId, amount, reserv_stauts AS reservStauts
    </sql>

    <sql id="Base_Column_List_vo">
         ri.id,
         ri.create_time AS createTime,
         ri.update_time AS updateTime,
         ri.reserv_number AS reservNumber,
         ri.user_id AS userId,
         ri.combo_id AS comboId,
         ri.amount,
         ri.reserv_stauts AS reservStauts,

         ca.name,
         ca.phone,

         cg.days,
         cg.min_price AS minPrice,
         cg.max_price AS maxPrice,
         cg.earnings_ratio AS earningsRatio,
         cg.differential,
         cg.dog_name AS dogName,
         cg.LEVEL,
         cg.start_time AS startTime,
         cg.end_time AS endTime,
         cg.dog_img AS dogImg
    </sql>


    <select id="selectBetaReservationListPage" resultMap="BaseResultMap_vo">
        SELECT
        <include refid="Base_Column_List_vo"/>
        FROM
        g_beta_reservation ri left join c_personal_card ca on ri.user_id = ca.user_id
        left join g_combo_group cg on ri.combo_id = cg.id
        where 1=1
        <if test="dto.reservStauts !=null and dto.reservStauts!='' or dto.reservStauts == 0">
            AND ri.reserv_stauts = #{dto.reservStauts}
        </if>
        <if test="dto.name !=null and dto.name!=''">
            AND concat(IFNULL(ca.name,''), IFNULL(ca.phone,'')) like concat('%', #{dto.name}, '%')
        </if>
        <if test="dto.params.beginTime != null and dto.params.beginTime !=''">
            and DATE_FORMAT(ri.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{dto.params.beginTime}, '%Y-%m-%d')
        </if>
        <if test="dto.params.endTime != null and dto.params.endTime !=''">
            and DATE_FORMAT(ri.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{dto.params.endTime}, '%Y-%m-%d')
        </if>
        <if test="dto.startTime !=null and dto.startTime!=''">
            AND cg.start_time = #{dto.startTime}
        </if>
        <if test="dto.comboId !=null and dto.comboId!=''">
            AND cg.id = #{dto.comboId}
        </if>
    </select>


    <select id="selectBetaReservation" resultMap="BaseResultMap_vo">
      select
      <include refid="Base_Column_List_vo"/>
        FROM
        g_beta_reservation ri left join  c_personal_card ca  on ri.user_id = ca.user_id
        left join  g_combo_group cg on ri.combo_id = cg.id
        where
        ri.id = #{id}
    </select>

    <select id="selectTodayList" resultMap="BaseResultMap">
        SELECT br.user_id, br.combo_id FROM `g_beta_reservation` br WHERE br.create_time &gt; #{days}
    </select>

    <delete id="deleteByIds" parameterType="Integer">
        delete from g_beta_reservation where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


</mapper>
