<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.BetaFreezeAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.BetaFreezeAccount">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="freeze_banlence" property="freezeBanlence" />
        <result column="sell_banlence" property="sellBanlence" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询映射结果 vo -->
    <resultMap id="BaseResultMap_vo" type="com.jdcloud.provider.pojo.vo.BetaFreezeAccountVo">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="freeze_banlence" property="freezeBanlence" />
        <result column="sell_banlence" property="sellBanlence" />
        <result column="version" property="version" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, update_time AS updateTime, user_id AS userId, freeze_banlence AS freezeBanlence, sell_banlence AS sellBanlence, version
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List_vo">
     fac.id,
     fac.create_time AS createTime,
     fac.update_time AS updateTime,
     fac.user_id AS userId,
     fac.freeze_banlence AS freezeBanlence,
     fac.sell_banlence AS sellBanlence,
     fac.version,
     ca.name,
     ca.phone
    </sql>

    <select id = "betaFreezeAccountList" resultMap="BaseResultMap_vo">
        select
        <include refid="Base_Column_List_vo"/>
        from
        g_beta_freeze_account fac inner join c_personal_card ca on fac.user_id = ca.user_id
        where 1=1
        <if test="dto.name !=null and dto.name !=''">
            AND concat(IFNULL(ca.name,''), IFNULL(ca.phone,'')) like concat('%',#{dto.name}, '%')
        </if>
        <if test="dto.params.beginTime != null and dto.params.beginTime != ''">
            AND DATE_FORMAT(fac.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{dto.params.beginTime}, '%Y-%m-%d')
        </if>
        <if test="dto.params.endTime != null and dto.params.endTime != ''">
            AND DATE_FORMAT(fac.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{dto.params.endTime}, '%Y-%m-%d')
        </if>
        <if test="dto.startSellBanlence != null">
            AND fac.sell_banlence &gt;=#{dto.startSellBanlence}
        </if>
        <if test="dto.endSellBanlence != null">
            AND fac.sell_banlence &lt;=#{dto.endSellBanlence}
        </if>
        <if test="dto.startFreezeBanlence != null">
            AND fac.freeze_banlence &gt;=#{dto.startFreezeBanlence}
        </if>
        <if test="dto.endFreezeBanlence != null">
            AND fac.freeze_banlence &lt;=#{dto.endFreezeBanlence}
        </if>
    </select>

    <select id = "getBetaFreezeAccountSum" resultType="com.jdcloud.provider.pojo.vo.BetaFreezeAccountSumVo">
        SELECT
          SUM(sell_banlence) AS sellBanlenceSum,
          SUM(freeze_banlence) AS freezeBanlenceSum,
          fa.unfreezeSum
        FROM
          `g_beta_freeze_account`,
          (SELECT
            IFNULL(SUM(amount), 0) AS unfreezeSum
          FROM
            `g_beta_freeze_account_record`
          WHERE amount &lt; 0
            AND create_time &gt;=#{startTime}) fa ;
    </select>

    <select id = "betaFreezeAccountExcelList" resultMap="BaseResultMap_vo">
        select
        <include refid="Base_Column_List_vo"/>
        from
        g_beta_freeze_account fac inner join c_personal_card ca on fac.user_id = ca.user_id
        where 1=1
        <if test="dto.name !=null and dto.name !=''">
            AND concat(IFNULL(ca.name,''), IFNULL(ca.phone,'')) like concat('%',#{dto.name}, '%')
        </if>
        <if test="dto.params.beginTime != null and dto.params.beginTime != ''">
            AND DATE_FORMAT(fac.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{dto.params.beginTime}, '%Y-%m-%d')
        </if>
        <if test="dto.params.endTime != null and dto.params.endTime != ''">
            AND DATE_FORMAT(fac.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{dto.params.endTime}, '%Y-%m-%d')
        </if>
        <if test="dto.startSellBanlence != null">
            AND fac.sell_banlence &gt;=#{dto.startSellBanlence}
        </if>
        <if test="dto.endSellBanlence != null">
            AND fac.sell_banlence &lt;=#{dto.endSellBanlence}
        </if>
        <if test="dto.startFreezeBanlence != null">
            AND fac.freeze_banlence &gt;=#{dto.startFreezeBanlence}
        </if>
        <if test="dto.endFreezeBanlence != null">
            AND fac.freeze_banlence &lt;=#{dto.endFreezeBanlence}
        </if>
        order by fac.create_time,fac.id desc
    </select>

</mapper>
