<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.BetaAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.BetaAccount">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="balance" property="balance" />
        <result column="used_margin" property="usedMargin" />
        <result column="dynamic_balance" property="dynamicBalance" />
        <result column="total_enter" property="totalEnter" />
        <result column="total_exit" property="totalExit" />
        <result column="product_type" property="productType" />
        <result column="version" property="version" />
    </resultMap>


    <!-- 通用查询映射结果 vo -->
    <resultMap id="BaseResultMap_vo" type="com.jdcloud.provider.pojo.vo.BetaAccountVo">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="balance" property="balance" />
        <result column="used_margin" property="usedMargin" />
        <result column="dynamic_balance" property="dynamicBalance" />
        <result column="total_enter" property="totalEnter" />
        <result column="total_exit" property="totalExit" />
        <result column="product_type" property="productType" />
        <result column="version" property="version" />

        <result column="name" property="name" />
        <result column="phone" property="phone" />
    </resultMap>




    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, update_time AS updateTime, user_id AS userId, balance, used_margin AS usedMargin, dynamic_balance AS dynamicBalance, total_enter AS totalEnter, total_exit AS totalExit, product_type AS productType, version
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List_vo">
     ac.id,
     ac.create_time AS createTime,
     ac.update_time AS updateTime,
     ac.user_id AS userId,
     ac.balance,
     ac.used_margin AS usedMargin,
     ac.dynamic_balance AS dynamicBalance,
     ac.total_enter AS totalEnter,
     ac.total_exit AS totalExit,
     ac.product_type AS productType,
     ac.version,
     ca.name,
     ca.phone
    </sql>

   <select id = "betaAccountList" resultMap="BaseResultMap_vo">
       select
       <include refid="Base_Column_List_vo"/>
       from
       g_beta_account ac inner join c_personal_card ca on ac.user_id = ca.user_id
       where 1=1
       <if test="dto.name !=null and dto.name !=''">
           AND concat(IFNULL(ca.name,''), IFNULL(ca.phone,'')) like concat('%',#{dto.name}, '%')
       </if>
       <if test="dto.productType !=null">
           AND ac.product_type = #{dto.productType}
       </if>
       <if test="dto.params.beginTime != null and dto.params.beginTime != ''">
           AND DATE_FORMAT(ac.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{dto.params.beginTime}, '%Y-%m-%d')
       </if>
       <if test="dto.params.endTime != null and dto.params.endTime != ''">
           AND DATE_FORMAT(ac.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{dto.params.endTime}, '%Y-%m-%d')
       </if>
       <if test="dto.startBalance != null">
           AND ac.balance &gt;=#{dto.startBalance}
       </if>
       <if test="dto.endBalance != null">
           AND ac.balance &lt;=#{dto.endBalance}
       </if>

       <if test="dto.startTotalEnter != null">
           AND ac.total_enter &gt;=#{dto.startTotalEnter}
       </if>
       <if test="dto.endTotalEnter != null">
           AND ac.total_enter &lt;=#{dto.endTotalEnter}
       </if>

       <if test="dto.startTotalExit != null">
           AND ABS(ac.total_exit) &gt;=#{dto.startTotalExit}
       </if>
       <if test="dto.endTotalExit != null">
           AND ABS(ac.total_exit) &lt;=#{dto.endTotalExit}
       </if>
   </select>

    <select id = "selectAllUserId" resultMap="BaseResultMap">
        select user_id AS userId, balance, product_type AS productType
        from g_beta_account  where product_type = 3  or product_type = 5
    </select>

    <update id="updateBetaAccountById">
        UPDATE g_beta_account
        <set>
            <if test="usedMargin != null and usedMargin != 0">used_margin = #{usedMargin},</if>
            <if test="dynamicBalance != null and dynamicBalance != 0">dynamic_balance = #{dynamicBalance},</if>
            <if test="balance != null and balance != 0">balance = #{balance}, </if>
            <if test="updateTime != null">update_time = #{updateTime}, </if>
            <if test="totalEnter != null and totalEnter != 0">total_enter = #{totalEnter}, </if>
            <if test="totalExit != null and totalExit != 0">total_exit = #{totalExit}, </if>
            version = version + 1
        </set>
        WHERE id = #{id} AND version = #{version}
    </update>

    <select id = "betaAccountExcelList" resultMap="BaseResultMap_vo">
        select
        ac.id,
        ac.create_time AS createTime,
        ac.update_time AS updateTime,
        ac.user_id AS userId,
        round(ac.balance,2) AS balance,
        round(ac.used_margin,2) AS usedMargin,
        round(ac.dynamic_balance,2) AS dynamicBalance,
        round(ac.total_enter,2) AS totalEnter,
        round(ac.total_exit,2) AS totalExit,
        ac.product_type AS productType,
        ac.version,
        ca.name,
        ca.phone
        from
        g_beta_account ac inner join c_personal_card ca on ac.user_id = ca.user_id
        where 1=1
        <if test="dto.name !=null and dto.name !=''">
            AND concat(IFNULL(ca.name,''), IFNULL(ca.phone,'')) like concat('%',#{dto.name}, '%')
        </if>
        <if test="dto.productType !=null">
            AND ac.product_type = #{dto.productType}
        </if>
        <if test="dto.params.beginTime != null and dto.params.beginTime != ''">
            AND DATE_FORMAT(ac.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{dto.params.beginTime}, '%Y-%m-%d')
        </if>
        <if test="dto.params.endTime != null and dto.params.endTime != ''">
            AND DATE_FORMAT(ac.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{dto.params.endTime}, '%Y-%m-%d')
        </if>
        <if test="dto.startBalance != null">
            AND ac.balance &gt;=#{dto.startBalance}
        </if>
        <if test="dto.endBalance != null">
            AND ac.balance &lt;=#{dto.endBalance}
        </if>

        <if test="dto.startTotalEnter != null">
            AND ac.total_enter &gt;=#{dto.startTotalEnter}
        </if>
        <if test="dto.endTotalEnter != null">
            AND ac.total_enter &lt;=#{dto.endTotalEnter}
        </if>

        <if test="dto.startTotalExit != null">
            AND ABS(ac.total_exit) &gt;=#{dto.startTotalExit}
        </if>
        <if test="dto.endTotalExit != null">
            AND ABS(ac.total_exit) &lt;=#{dto.endTotalExit}
        </if>
        order by ca.name,ac.create_time DESC
    </select>

    <select id="selectPhoneType" resultMap="BaseResultMap">
        SELECT id AS id,create_time AS createTime,update_time AS updateTime,user_id AS userId,balance,
        used_margin AS usedMargin,dynamic_balance AS dynamicBalance,total_enter AS totalEnter,total_exit AS totalExit,
        product_type AS productType,version FROM g_beta_account
        WHERE (user_id = (SELECT user_id FROM c_personal_card WHERE phone = #{phone} ) AND product_type = #{type})
    </select>

</mapper>
