<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.BetaMaleImportRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.BetaMaleImportRecord">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="combo_id" property="comboId" />
        <result column="price" property="price" />
        <result column="phone" property="phone" />
        <result column="presell_time" property="presellTime" />
        <result column="import_stauts" property="importStauts" />
    </resultMap>

    <!-- vo通用查询映射结果 -->
    <resultMap id="BaseResultMap_vo" type="com.jdcloud.provider.pojo.vo.BetaMaleImportRecordVo">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="combo_id" property="comboId" />
        <result column="price" property="price" />
        <result column="phone" property="phone" />
        <result column="presell_time" property="presellTime" />
        <result column="import_stauts" property="importStauts" />
        <result column="dog_name" property="dogName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, update_time AS updateTime, combo_id AS comboId, price, phone, presell_time AS presellTime, import_stauts AS importStauts
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List_vo">
         b.id,
         b.create_time AS createTime,
         b.update_time AS updateTime,
         b.combo_id AS comboId,
         b.price,
         b.phone AS phone,
         b.presell_time AS presellTime,
         b.import_stauts AS importStauts,
         co.dog_name AS dogName
   </sql>

    <select id="selectBetaMaleImportRecordListPage" resultMap="BaseResultMap_vo">
        SELECT
        <include refid="Base_Column_List_vo"/>
        FROM g_beta_male_import_record b
        LEFT JOIN g_combo_group co on b.combo_id =co.id
        where 1=1
        <if test="betaMaleImportRecordDto.importStauts!=null and betaMaleImportRecordDto.importStauts!=''">
            and b.import_stauts =#{betaMaleImportRecordDto.importStauts}
        </if>
        <if test="betaMaleImportRecordDto.params.beginTime != null and betaMaleImportRecordDto.params.beginTime !=''">
            and DATE_FORMAT(b.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{betaMaleImportRecordDto.params.beginTime}, '%Y-%m-%d')
        </if>
        <if test="betaMaleImportRecordDto.params.endTime != null and betaMaleImportRecordDto.params.endTime !=''">
            and DATE_FORMAT(b.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{betaMaleImportRecordDto.params.endTime}, '%Y-%m-%d')
        </if>
        <if test="betaMaleImportRecordDto.comboId !=null and betaMaleImportRecordDto.comboId!=''">
            AND co.id = #{betaMaleImportRecordDto.comboId}
        </if>
        <if test="betaMaleImportRecordDto.phone !=null and betaMaleImportRecordDto.phone!=''">
            AND IFNULL(b.phone,'') like concat('%',#{betaMaleImportRecordDto.phone}, '%')
        </if>
    </select>
</mapper>
