<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.BetaFeminaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.BetaFemina">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="head_url" property="headUrl" />
        <result column="quality" property="quality" />
        <result column="power" property="power" />
        <result column="agility" property="agility" />
        <result column="stamina" property="stamina" />
        <result column="intelligence" property="intelligence" />
        <result column="charm" property="charm" />
        <result column="status" property="status" />
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap_vo" type="com.jdcloud.provider.pojo.vo.BetaFeminaVo">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="head_url" property="headUrl" />
        <result column="quality" property="quality" />
        <result column="power" property="power" />
        <result column="agility" property="agility" />
        <result column="stamina" property="stamina" />
        <result column="intelligence" property="intelligence" />
        <result column="charm" property="charm" />
        <result column="status" property="status"/>

        <result column="name" property="name" />
        <result column="phone" property="phone" />
    </resultMap>



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, update_time AS updateTime, user_id AS userId, head_url AS headUrl, quality, power, agility, stamina, intelligence, charm,status
    </sql>

    <sql id="Base_Column_List_vo">
        fe.id, fe.create_time AS createTime, fe.update_time AS updateTime, fe.user_id AS userId, fe.head_url AS headUrl, fe.quality, fe.power, fe.agility, fe.stamina, fe.intelligence, fe.charm, fe.status,
        ca.name,ca.phone
   </sql>

    <select id="selectBetaFeminaPage" resultMap="BaseResultMap_vo">
        select
        <include refid="Base_Column_List_vo"/>
        from
        g_beta_femina fe LEFT join c_personal_card ca ON fe.user_id = ca.user_id
        where 1=1
        <if test="betaFeminaDto.name !=null and betaFeminaDto.name!=''">
            AND CONCAT(
            ca.name,
            ca.phone
            ) like concat('%',#{betaFeminaDto.name}, '%')
        </if>
        <if test="betaFeminaDto.quality!=null and betaFeminaDto.quality!=''">
            AND fe.quality like concat('%', #{betaFeminaDto.quality}, '%')
        </if>
        <if test="betaFeminaDto.params.beginTime != null and betaFeminaDto.params.beginTime != ''"><!-- 开始时间检索 -->
            AND DATE_FORMAT(fe.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{betaFeminaDto.params.beginTime}, '%Y-%m-%d')
        </if>
        <if test="betaFeminaDto.params.endTime != null and betaFeminaDto.params.endTime != ''"><!-- 开始时间检索 -->
            AND DATE_FORMAT(fe.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{betaFeminaDto.params.endTime}, '%Y-%m-%d')
        </if>
        <if test="betaFeminaDto.status != null and betaFeminaDto.status != ''"><!-- 开始时间检索 -->
            AND fe.status =#{betaFeminaDto.status}
        </if>

        <if test="betaFeminaDto.userId != null and betaFeminaDto.userId != ''">
            AND fe.user_id =#{betaFeminaDto.userId}
        </if>
    </select>

    <select id="selectbetaFeminaById" resultMap="BaseResultMap_vo">
        SELECT
        <include refid="Base_Column_List_vo"/>
        FROM
        g_beta_femina fe
        LEFT JOIN g_house ho ON fe.id = ho.femina_id
        LEFT JOIN c_personal_card ca ON ca.user_id = fe.user_id
        where
        fe.id =#{id}
    </select>


    <select id="selectBetaFeminaPageNew" resultMap="BaseResultMap_vo">
        SELECT
        ho.id as houseId,
        <include refid="Base_Column_List_vo"/>
        FROM
		g_beta_femina fe
        LEFT JOIN g_house ho ON fe.id = ho.femina_id
        LEFT JOIN c_personal_card ca ON ca.user_id = fe.user_id
        where 1=1
        <if test="betaFeminaDto.name !=null and betaFeminaDto.name!=''">
            AND CONCAT(
            ca.name,
            ca.phone
            ) like concat('%',#{betaFeminaDto.name}, '%')
        </if>
        <if test="betaFeminaDto.quality!=null and betaFeminaDto.quality!=''">
            AND fe.quality like concat('%', #{betaFeminaDto.quality}, '%')
        </if>
        <if test="betaFeminaDto.params.beginTime != null and betaFeminaDto.params.beginTime != ''"><!-- 开始时间检索 -->
            AND DATE_FORMAT(fe.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{betaFeminaDto.params.beginTime}, '%Y-%m-%d')
        </if>
        <if test="betaFeminaDto.params.endTime != null and betaFeminaDto.params.endTime != ''"><!-- 开始时间检索 -->
            AND DATE_FORMAT(fe.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{betaFeminaDto.params.endTime}, '%Y-%m-%d')
        </if>
        <if test="betaFeminaDto.status != null and betaFeminaDto.status != ''"><!-- 开始时间检索 -->
            AND fe.status =#{betaFeminaDto.status}
        </if>
        <if test="betaFeminaDto.userId != null and betaFeminaDto.userId != ''">
            AND fe.user_id =#{betaFeminaDto.userId}
        </if>
    </select>


</mapper>
