<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.BetaOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.BetaOrder">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="order_number" property="orderNumber"/>
        <result column="user_id" property="userId"/>
        <result column="femina_id" property="feminaId"/>
        <result column="price" property="price"/>
        <result column="earnings_price" property="earningsPrice"/>
        <result column="order_stauts" property="orderStauts"/>
        <result column="order_stauts_type" property="orderStautsType"/>
        <result column="pay_img" property="payImg"/>
        <result column="pay_time" property="payTime"/>
        <result column="lawsuit_content" property="lawsuitContent"/>
        <result column="succeed_time" property="succeedTime"/>
        <result column="sell_user_id" property="sellUserId"/>
        <result column="buy_user_id" property="buyUserId"/>
        <result column="version" property="version"/>
        <result column="generalize_time" property="generalizeTime"/>
    </resultMap>

    <!-- 通用查询映射结果_vo -->
    <resultMap id="BaseResultMap_vo" type="com.jdcloud.provider.pojo.vo.BetaMaleOrderVo">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="order_number" property="orderNumber"/>
        <result column="user_id" property="userId"/>
        <result column="femina_id" property="feminaId"/>
        <result column="price" property="price"/>
        <result column="earnings_price" property="earningsPrice"/>
        <result column="order_stauts" property="orderStauts"/>
        <result column="order_stauts_type" property="orderStautsType"/>
        <result column="pay_img" property="payImg"/>
        <result column="pay_time" property="payTime"/>
        <result column="lawsuit_content" property="lawsuitContent"/>
        <result column="succeed_time" property="succeedTime"/>
        <result column="sell_user_id" property="sellUserId"/>
        <result column="buy_user_id" property="buyUserId"/>
        <result column="version" property="version"/>
        <result column="generalize_time" property="generalizeTime"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_number" property="bankNumber"/>
        <result column="alipay_number" property="alipayNumber"/>
        <result column="wechat_number" property="wechatNumber"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="dog_name" property="dogName"/>
        <result column="level" property="level"/>
        <result column="days" property="days"/>
        <result column="earnings_ratio" property="earningsRatio"/>
        <result column="differential" property="differential"/>

        <result column="register_time" property="registerTime"/>
    </resultMap>

    <!-- 统计订单 -->
    <resultMap id="BetaResultMap_vo" type="com.jdcloud.provider.pojo.vo.BetaOrderVo">
        <id column="id" property="id"/>
        <result column="referrer" property="referrer"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="maxcount" property="maxcount"/>
        <result column="countCost" property="countCost"/>
        <result column="countProfit" property="countProfit"/>
        <result column="betaBalance" property="betaBalance"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, update_time AS updateTime, order_number AS orderNumber, user_id AS userId, femina_id AS feminaId, price, earnings_price AS earningsPrice, order_stauts AS orderStauts, order_stauts_type AS orderStautsType, pay_img AS payImg, pay_time AS payTime, lawsuit_content AS lawsuitContent, succeed_time AS succeedTime, sell_user_id AS sellUserId, buy_user_id AS buyUserId, version
    </sql>


    <!-- 通用查询结果列_Vo-->
    <sql id="Base_Column_List_vo">
     bo.id,
     bo.create_time AS createTime,
     bo.update_time AS updateTime,
     bo.order_number AS orderNumber,
     bo.user_id AS userId,
     bo.femina_id AS feminaId,
     bo.price,
     bo.earnings_price AS earningsPrice,
     bo.order_stauts AS orderStauts,
     bo.order_stauts_type AS orderStautsType,
     bo.pay_img AS payImg,
     bo.pay_time AS payTime,
     bo.lawsuit_content AS lawsuitContent,
     bo.succeed_time AS succeedTime,
     bo.sell_user_id AS sellUserId,
     bo.buy_user_id AS buyUserId,
     bo.register_time AS registerTime,
     ca.name,
     ca.phone,
	 car.name AS sellUserName,
     car.phone AS sellUserPhone
   </sql>

    <select id="selectPageList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        g_beta_order
        where
        femina_id = #{dto.feminaId}
        order by id desc
    </select>


    <select id="betaOrderListPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        g_beta_order
        where
        femina_id = #{id}
        order by id desc
    </select>

    <select id="betaOrderListPageAppeal" resultMap="BaseResultMap_vo">
        select
        gr.start_time AS startTime,
        gr.end_time AS endTime,
        gr.dog_name AS dogName,
        car.bank_name AS bankName,
        car.bank_number AS bankNumber,
        car.alipay_number AS alipayNumber,
        car.wechat_number AS wechatNumber,
        <include refid="Base_Column_List_vo"/>
        from
        g_beta_order bo left join c_personal_card ca on bo.user_id =ca.user_id
        LEFT JOIN c_personal_card car on bo.sell_user_id =car.user_id
        LEFT JOIN g_combo_group gr on bo.combo_id = gr.id
        <where>
            <if test="betaMaleOrderDto.oldFlag !=null">
                AND car.old_flag = #{betaMaleOrderDto.oldFlag}
            </if>

            <if test="betaMaleOrderDto.importantFlag !=null">
                AND car.important_flag = #{betaMaleOrderDto.importantFlag}
            </if>

            <if test="betaMaleOrderDto.orderNumber !=null and betaMaleOrderDto.orderNumber!=''">
                AND bo.order_number like concat('%', #{betaMaleOrderDto.orderNumber}, '%')
            </if>
            <if test="betaMaleOrderDto.name !=null and betaMaleOrderDto.name !=''">
                AND CONCAT(
                ca.NAME,
                ca.phone
                ) like concat('%',#{betaMaleOrderDto.name}, '%')
            </if>
            <if test="betaMaleOrderDto.orderStautsType !=null and betaMaleOrderDto.orderStautsType!=''">
                AND bo.order_stauts_type =#{betaMaleOrderDto.orderStautsType}
            </if>
            <if test="betaMaleOrderDto.params.beginTime != null and betaMaleOrderDto.params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(bo.${fieldName},'%y%m%d') &gt;= date_format(#{betaMaleOrderDto.params.beginTime},'%y%m%d')
            </if>
            <if test="betaMaleOrderDto.params.endTime != null and betaMaleOrderDto.params.endTime != ''"><!-- 开始时间检索 -->
                and date_format(bo.${fieldName},'%y%m%d') &lt;= date_format(#{betaMaleOrderDto.params.endTime},'%y%m%d')
            </if>
            <if test="betaMaleOrderDto.orderStauts !=null and betaMaleOrderDto.orderStauts!='' or betaMaleOrderDto.orderStauts == 0">
                and bo.order_stauts =#{betaMaleOrderDto.orderStauts}
            </if>
            <if test="betaMaleOrderDto.feminaId !=null and betaMaleOrderDto.feminaId!='' ">
                and bo.femina_id =#{betaMaleOrderDto.feminaId}
            </if>
            <if test="betaMaleOrderDto.sellUserName !=null and betaMaleOrderDto.sellUserName!='' ">
                AND CONCAT(
                car.NAME,
                car.phone
                ) like concat('%',#{betaMaleOrderDto.sellUserName}, '%')
            </if>
            <if test="betaMaleOrderDto.comboId !=null and betaMaleOrderDto.comboId!='' ">
                and bo.combo_id =#{betaMaleOrderDto.comboId}
            </if>
            <if test="betaMaleOrderDto.price !=null and betaMaleOrderDto.price!='' ">
                and bo.price =#{betaMaleOrderDto.price}
            </if>
        </where>
    </select>


    <select id="exportBetaOrderList" resultMap="BaseResultMap_vo">
        select
        gr.start_time AS startTime,
        gr.end_time AS endTime,
        gr.dog_name AS dogName,
        car.bank_name AS bankName,
        car.bank_number AS bankNumber,
        car.alipay_number AS alipayNumber,
        car.wechat_number AS wechatNumber,
        gr.days, gr.level, gr.differential,
        gr.earnings_ratio,
        <include refid="Base_Column_List_vo"/>
        from g_beta_order bo left join c_personal_card ca on bo.user_id =ca.user_id
        LEFT JOIN c_personal_card car on bo.sell_user_id =car.user_id
        LEFT JOIN g_combo_group gr on bo.combo_id = gr.id
        <where>
            <if test="betaMaleOrderDto.oldFlag !=null">
                AND car.old_flag = #{betaMaleOrderDto.oldFlag}
            </if>
            <if test="betaMaleOrderDto.importantFlag !=null">
                AND car.important_flag = #{betaMaleOrderDto.importantFlag}
            </if>
            <if test="betaMaleOrderDto.orderNumber !=null and betaMaleOrderDto.orderNumber!=''">
                AND bo.order_number like concat('%', #{betaMaleOrderDto.orderNumber}, '%')
            </if>
            <if test="betaMaleOrderDto.name !=null and betaMaleOrderDto.name !=''">
                AND CONCAT(
                ca.NAME,
                ca.phone
                ) like concat('%',#{betaMaleOrderDto.name}, '%')
            </if>
            <if test="betaMaleOrderDto.orderStautsType !=null and betaMaleOrderDto.orderStautsType!=''">
                AND bo.order_stauts_type =#{betaMaleOrderDto.orderStautsType}
            </if>
            <if test="betaMaleOrderDto.params.beginTime != null and betaMaleOrderDto.params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(bo.${fieldName},'%y%m%d') &gt;= date_format(#{betaMaleOrderDto.params.beginTime},'%y%m%d')
            </if>
            <if test="betaMaleOrderDto.params.endTime != null and betaMaleOrderDto.params.endTime != ''"><!-- 开始时间检索 -->
                and date_format(bo.${fieldName},'%y%m%d') &lt;= date_format(#{betaMaleOrderDto.params.endTime},'%y%m%d')
            </if>
            <if test="betaMaleOrderDto.orderStauts !=null and betaMaleOrderDto.orderStauts!='' or betaMaleOrderDto.orderStauts == 0">
                and bo.order_stauts =#{betaMaleOrderDto.orderStauts}
            </if>
            <if test="betaMaleOrderDto.feminaId !=null and betaMaleOrderDto.feminaId!='' ">
                and bo.femina_id =#{betaMaleOrderDto.feminaId}
            </if>
            <if test="betaMaleOrderDto.sellUserName !=null and betaMaleOrderDto.sellUserName!='' ">
                AND CONCAT(
                car.NAME,
                car.phone
                ) like concat('%',#{betaMaleOrderDto.sellUserName}, '%')
            </if>
            <if test="betaMaleOrderDto.comboId !=null and betaMaleOrderDto.comboId!='' ">
                and bo.combo_id =#{betaMaleOrderDto.comboId}
            </if>
            <if test="betaMaleOrderDto.price !=null and betaMaleOrderDto.price!='' ">
                and bo.price =#{betaMaleOrderDto.price}
            </if>
        </where>
    </select>

    <!--<select id="List" resultMap="BaseResultMap_vo">-->
    <!--select-->
    <!--gr.differential AS differential,-->
    <!--gr.earnings_ratio AS earningsRatio,-->
    <!--gr.days,-->
    <!--gr.level,-->
    <!--gr.start_time AS startTime,-->
    <!--gr.end_time AS endTime,-->
    <!--gr.dog_name AS dogName,-->
    <!--<include refid="Base_Column_List_vo"/>-->
    <!--from-->
    <!--g_beta_order bo left join c_personal_card ca on bo.user_id =ca.user_id-->
    <!--LEFT JOIN c_personal_card car on bo.sell_user_id =car.user_id-->
    <!--LEFT JOIN g_combo_group gr on bo.combo_id = gr.id-->
    <!--where 1=1-->
    <!--<if test="betaMaleOrderDto.orderNumber !=null and betaMaleOrderDto.orderNumber!=''">-->
    <!--AND bo.order_number like concat('%', #{betaMaleOrderDto.orderNumber}, '%')-->
    <!--</if>-->
    <!--<if test="betaMaleOrderDto.name !=null and betaMaleOrderDto.name !=''">-->
    <!--AND ca.name like concat('%', #{betaMaleOrderDto.name}, '%') or ca.phone  like concat('%',#{betaMaleOrderDto.name}, '%')-->
    <!--</if>-->
    <!--<if test="betaMaleOrderDto.orderStauts !=null and betaMaleOrderDto.orderStauts!=''">-->
    <!--AND bo.order_stauts =#{betaMaleOrderDto.orderStauts}-->
    <!--</if>-->
    <!--<if test="betaMaleOrderDto.orderStautsType !=null and betaMaleOrderDto.orderStautsType!=''">-->
    <!--AND bo.order_stauts_type =#{betaMaleOrderDto.orderStautsType}-->
    <!--</if>-->

    <!--<if test="betaMaleOrderDto.params.beginTime != null and betaMaleOrderDto.params.beginTime != ''">&lt;!&ndash; 开始时间检索 &ndash;&gt;-->
    <!--<![CDATA[-->
    <!--and	DATE_FORMAT(bo.pay_time, '%Y-%m-%d')>= DATE_FORMAT(#{betaMaleOrderDto.params.beginTime}, '%Y-%m-%d')-->
    <!--]]>-->
    <!--</if>-->
    <!--<if test="betaMaleOrderDto.params.endTime != null and betaMaleOrderDto.params.endTime != ''">&lt;!&ndash; 开始时间检索 &ndash;&gt;-->
    <!--<![CDATA[-->
    <!--and	DATE_FORMAT(bo.pay_time, '%Y-%m-%d')<= DATE_FORMAT(#{betaMaleOrderDto.params.endTime}, '%Y-%m-%d')-->
    <!--]]>-->
    <!--</if>-->
    <!--<if test="betaMaleOrderDto.orderStauts !=null and betaMaleOrderDto.orderStauts!='' or betaMaleOrderDto.orderStauts == 0">-->
    <!--and bo.order_stauts =#{betaMaleOrderDto.orderStauts}-->
    <!--</if>-->
    <!--<if test="betaMaleOrderDto.feminaId !=null and betaMaleOrderDto.feminaId!='' ">-->
    <!--and bo.femina_id =#{betaMaleOrderDto.feminaId}-->
    <!--</if>-->
    <!--<if test="betaMaleOrderDto.sellUserName !=null and betaMaleOrderDto.sellUserName!='' ">-->
    <!--AND car.name like concat('%', #{betaMaleOrderDto.sellUserName}, '%') or car.phone  like concat('%',#{betaMaleOrderDto.sellUserName}, '%')-->
    <!--</if>-->
    <!--<if test="betaMaleOrderDto.comboId !=null and betaMaleOrderDto.comboId!='' ">-->
    <!--and bo.combo_id =#{betaMaleOrderDto.comboId}-->
    <!--</if>-->
    <!--</select>-->

    <select id="selectCountUserBeta" resultMap="BetaResultMap_vo">
        SELECT
        pc1.`name` AS referrer,
        pc.`name` AS name,
        pc.`phone` AS phone,
        count(0) AS maxcount,
        SUM( bo.price ) AS countCost,
        SUM( bo.earnings_price ) AS countProfit,
        ba.balance AS betaBalance
        FROM
        g_beta_order bo
        LEFT JOIN (SELECT `name`,user_id, phone from c_personal_card) pc ON bo.user_id = pc.user_id
        LEFT JOIN g_beta_account ba ON bo.user_id = ba.user_id
        AND ba.product_type = '3'
        LEFT JOIN (SELECT parent_id,user_id from t_user_labour) ul ON bo.user_id = ul.user_id
        LEFT JOIN (SELECT `name`,user_id from c_personal_card) pc1 ON ul.parent_id = pc1.user_id
        WHERE
        bo.order_stauts = 1
        <if test="betaOrderDto.name !=null and betaOrderDto.name!=''">
            AND CONCAT(
            pc.name,
            pc.phone
            ) like concat('%',#{betaOrderDto.name}, '%')
        </if>

        GROUP BY
        bo.user_id
    </select>

    <select id="selectCountUserBetaOne" resultType="com.jdcloud.provider.dto.IndexDataDto">
        SELECT * from
        (SELECT count(0) AS buyUserSum FROM (
        SELECT count(0) FROM g_beta_order WHERE
        create_time &gt;= #{beginTime}
        AND create_time &lt;= #{endTime} AND order_stauts = 1 GROUP BY user_id) t ) a,

        (SELECT count(0) AS sellUserSum from (
        SELECT count(0) FROM g_beta_order WHERE create_time &gt;= #{beginTime}
        AND create_time &lt;= #{endTime} AND order_stauts = 1 GROUP BY sell_user_id) t ) b,

        (SELECT IFNULL(sum( price ), 0) AS buyPeiceSum FROM g_beta_order WHERE create_time &gt;= #{beginTime}
        AND create_time &lt;= #{endTime} AND order_stauts = 1) c,

        (SELECT count(0) AS dayAuthSum, (SELECT count(0) AS authSum FROM c_personal_card WHERE auth_stauts = 1) AS authSum FROM c_personal_card WHERE
        create_time &gt;= #{beginTime} AND create_time &lt;= #{endTime} AND auth_stauts = 1) d,

        (SELECT count(0) dayFirstBuy from (
        SELECT MIN(register_time) AS minTime,id,user_id FROM g_beta_order where order_stauts = 1 GROUP BY user_id
        ) t WHERE minTime &gt;= #{beginTime} AND minTime &lt;= #{endTime} ORDER BY minTime DESC) e

    </select>

    <select id="betaMonitor" resultType="com.jdcloud.provider.dto.IndexDataDto">
        SELECT * from
        (SELECT count(0) AS buyUserSum FROM (

        SELECT count(0) FROM g_beta_order WHERE
        create_time &gt;= #{beginTime}
        AND create_time &lt;= #{endTime} AND order_stauts = 1 GROUP BY user_id  ) t ) a,

        (SELECT count(0) AS sellUserSum from (
        SELECT count(0) FROM g_beta_order WHERE create_time &gt;= #{beginTime}
        AND create_time &lt;= #{endTime} AND order_stauts = 1 GROUP BY sell_user_id) t ) b,

        (SELECT IFNULL(sum( price ), 0) AS buyPeiceSum FROM g_beta_order WHERE create_time &gt;= #{beginTime}
        AND create_time &lt;= #{endTime} AND order_stauts = 1) c,

        (SELECT count(0) dayFirstBuy from (
        SELECT MIN(register_time) AS minTime,id,user_id FROM g_beta_order where order_stauts = 1 GROUP BY user_id
        ) t WHERE minTime &gt;= #{beginTime} AND minTime &lt;= #{endTime} ORDER BY minTime DESC) e
    </select>


    <select id="betaMonitorNew" resultType="com.jdcloud.provider.dto.IndexDataDto">
        SELECT * from
        (
        SELECT COUNT(DISTINCT user_id) as buyUserSum FROM g_beta_order WHERE register_time &gt;=#{beginTime}
        )a,
        (
        SELECT COUNT(DISTINCT sell_user_id) sellUserSum FROM g_beta_order WHERE register_time &gt;= #{beginTime}
        )b,
        (
        SELECT SUM(price) as buyPeiceSum FROM g_beta_order WHERE	order_stauts = 1 	AND register_time &gt;= #{beginTime}
        )c,
        (SELECT count(0) dayFirstBuy from (
        SELECT MIN(register_time) AS minTime,id,user_id FROM g_beta_order where order_stauts = 1 GROUP BY user_id
        ) t WHERE minTime &gt;=#{beginTime} AND minTime &lt;= #{endTime} ORDER BY minTime DESC) e
    </select>


    <select id="selectCountUserBetaCount" resultType="com.jdcloud.provider.dto.IndexDataDto">
        SELECT count( * ) AS maxcount,
        SUM( bo.price ) AS countCost,
        SUM( bo.earnings_price ) AS countProfit
        FROM g_beta_order bo LEFT JOIN g_beta_account ba ON bo.user_id = ba.user_id AND ba.product_type = '3'
        WHERE bo.order_stauts = 1
    </select>

    <select id="selectAllUserId" resultMap="BaseResultMap">
        SELECT id,price,earnings_price AS earningsPrice,combo_id AS comboId,
        succeed_time AS succeedTime,user_id AS userId from g_beta_order where order_stauts = 1
    </select>


    <update id="updateBetaOrder">
        UPDATE g_beta_order
        <set>
            <if test="buyUserId != null">buy_user_id = #{buyUserId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="payTime !=null ">pay_time =#{payTime},</if>
            <if test="payImg !=null and payImg !=''">pay_img =#{payImg},</if>
            <if test="lawsuitContent !=null and lawsuitContent !=''">lawsuit_content =#{lawsuitContent},</if>
            <if test="orderStauts !=null and orderStauts !=''">order_stauts =#{orderStauts},</if>
            <if test="settlingTime !=null ">settling_time =#{settlingTime},</if>
            <if test="registerTime !=null ">register_time =#{registerTime},</if>
            <if test="succeedTime !=null ">succeed_time =#{succeedTime},</if>
            <if test="generalizeTime !=null ">generalize_time =#{generalizeTime},</if>
            version = version + 1
        </set>
        WHERE id = #{id} AND version = #{version}
    </update>

    <select id="getSumDifferential" resultType="java.math.BigDecimal">
        select IFNULL(sum(differential),0) from g_beta_order where register_time &gt;= #{te}
    </select>

    <update id="customerComplaint">
        UPDATE g_beta_order SET order_stauts = 5 WHERE id IN (SELECT b.id FROM (
        SELECT id FROM g_beta_male WHERE sell_status = 0 AND beta_activate = 1 AND premium_stauts = 1 AND presell_time &lt;= #{presellTime}
        ORDER BY presell_time ASC,price DESC ) a INNER JOIN (
        SELECT id,femina_id FROM g_beta_order WHERE order_stauts = 2 )  b ON a.id = b.femina_id)
    </update>

    <select id="betaOrderListByStatus" resultMap="BaseResultMap_vo">
        SELECT
            bo.id
            FROM
            g_beta_order bo
            LEFT JOIN c_personal_card ca
            ON bo.user_id = ca.user_id
            LEFT JOIN c_personal_card car
            ON bo.sell_user_id = car.user_id
            LEFT JOIN g_combo_group gr
            ON bo.combo_id = gr.id
            WHERE 1 = 1
            AND bo.order_stauts =#{orderStauts}
            ORDER BY bo.pay_time DESC
    </select>

    <select id="getSumFreezeBanlence" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(price), 0) FROM g_beta_order WHERE (user_id = #{userId} AND order_stauts = 11) OR (sell_user_id = #{userId} AND order_stauts = 12);
    </select>


    <select id="betaOrderAuditListPage" resultType="com.jdcloud.provider.pojo.vo.BetaMaleOrderVo">
        select
        gr.dog_name AS dogName,
        bo.id,
        bo.create_time AS createTime,
        bo.update_time AS updateTime,
        bo.order_number AS orderNumber,
        bo.user_id AS userId,
        bo.femina_id AS feminaId,
        bo.price,
        bo.earnings_price AS earningsPrice,
        bo.order_stauts AS orderStauts,
        bo.sell_user_id AS sellUserId,
        car.name AS sellUserName,
        car.phone AS sellUserPhone
        from
        g_beta_order bo
        LEFT JOIN c_personal_card car on bo.sell_user_id =car.user_id
        LEFT JOIN g_combo_group gr on bo.combo_id = gr.id
        where
        (bo.order_stauts =21)
        <if test="betaMaleOrderDto.orderNumber !=null and betaMaleOrderDto.orderNumber!=''">
            AND bo.order_number like concat('%', #{betaMaleOrderDto.orderNumber}, '%')
        </if>
        <if test="betaMaleOrderDto.orderStauts !=null and betaMaleOrderDto.orderStauts!=''">
            AND bo.order_stauts =#{betaMaleOrderDto.orderStauts}
        </if>
        <if test="betaMaleOrderDto.params.beginTime != null and betaMaleOrderDto.params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(bo.create_time,'%y%m%d') &gt;= date_format(#{betaMaleOrderDto.params.beginTime},'%y%m%d')
        </if>
        <if test="betaMaleOrderDto.params.endTime != null and betaMaleOrderDto.params.endTime != ''"><!-- 开始时间检索 -->
            and date_format(bo.create_time,'%y%m%d') &lt;= date_format(#{betaMaleOrderDto.params.endTime},'%y%m%d')
        </if>
        <if test="betaMaleOrderDto.sellUserName !=null and betaMaleOrderDto.sellUserName!='' ">
            AND CONCAT(
            car.NAME,
            car.phone
            ) like concat('%',#{betaMaleOrderDto.sellUserName}, '%')
        </if>
        <if test="betaMaleOrderDto.comboId !=null and betaMaleOrderDto.comboId!='' ">
            and bo.combo_id =#{betaMaleOrderDto.comboId}
        </if>
        <if test="betaMaleOrderDto.price !=null and betaMaleOrderDto.price!='' ">
            and bo.price =#{betaMaleOrderDto.price}
        </if>
    </select>

</mapper>
