<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.BetaProcessedaOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.BetaProcessedaOrder">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="remarks" property="remarks" />
        <result column="processeda_order_stauts" property="processedaOrderStauts" />
        <result column="order_id" property="orderId" />
        <result column="hide_order_id" property="hideOrderId" />
        <result column="new_order_id" property="newOrderId" />
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap_Vo" type="com.jdcloud.provider.pojo.vo.BetaProcessedaOrderVo">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="remarks" property="remarks" />
        <result column="processeda_order_stauts" property="processedaOrderStauts" />
        <result column="order_id" property="orderId" />

        <result column="order_number" property="orderNumber" />
        <result column="user_id" property="userId" />
        <result column="femina_id" property="feminaId" />
        <result column="price" property="price" />
        <result column="earnings_price" property="earningsPrice" />
        <result column="order_stauts" property="orderStauts" />
        <result column="order_stauts_type" property="orderStautsType" />
        <result column="pay_img" property="payImg" />
        <result column="pay_time" property="payTime" />
        <result column="lawsuit_content" property="lawsuitContent" />
        <result column="succeed_time" property="succeedTime" />
        <result column="sell_user_id" property="sellUserId" />
        <result column="buy_user_id" property="buyUserId" />
        <result column="version" property="version" />

        <result column="name" property="name" />
        <result column="phone" property="phone" />

        <result column="hide_order_id" property="hideOrderId" />
        <result column="new_order_id" property="newOrderId" />
        <result column="new_numbering" property="newNumbering" />
        <result column="original_numbering" property="originalNumbering" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, update_time AS updateTime, remarks, processeda_order_stauts AS processedaOrderStauts, order_id AS orderId, hide_order_id AS hideOrderId, new_order_id AS newOrderId
    </sql>

    <sql id="Base_Column_List_vo">
         pr.id,
         pr.create_time AS createTime,
         pr.update_time AS updateTime,
         pr.remarks,
         pr.processeda_order_stauts AS processedaOrderStauts,
         pr.order_id AS orderId,
         bo.order_number AS orderNumber,
         bo.user_id AS userId,
         bo.femina_id AS feminaId,
         bo.price,
         bo.earnings_price AS earningsPrice,
         bo.order_stauts AS orderStauts,
         bo.order_stauts_type AS orderStautsType,
         bo.pay_img AS payImg,
         bo.pay_time AS payTime,
         bo.lawsuit_content AS lawsuitContent,
         bo.succeed_time AS succeedTime,
         bo.sell_user_id AS sellUserId,
         bo.buy_user_id AS buyUserId,

          ca.name,
          ca.phone,

          cg.dog_name AS dogName,
          cg.level,
          cg.days,
          cg.earnings_ratio AS  earningsRatio,
          cg.start_time AS startTime,
          cg.end_time AS endTime
    </sql>


    <select id="betaProcessedaOrderListPage" resultMap="BaseResultMap_Vo">
        SELECT
        ca.name,
        ca.phone,

        pr.id,
        pr.create_time AS createTime,
        pr.update_time AS updateTime,
        pr.remarks,
        pr.processeda_order_stauts AS processedaOrderStauts,
        pr.order_id AS orderId,
        pr.hide_order_id as hideOrderId,
        pr.new_order_id as newOrderId,
        pr.new_numbering as newNumbering,
        pr.original_numbering as originalNumbering,

        bo.order_number AS orderNumber,
        bo.user_id AS userId,
        bo.femina_id AS feminaId,
        bo.price,
        bo.earnings_price AS earningsPrice,
        bo.order_stauts AS orderStauts,
        bo.order_stauts_type AS orderStautsType,
        bo.pay_img AS payImg,
        bo.pay_time AS payTime,
        bo.lawsuit_content AS lawsuitContent,
        bo.succeed_time AS succeedTime,
        bo.sell_user_id AS sellUserId,
        bo.buy_user_id AS buyUserId,

        cg.dog_name AS dogName,
        cg.level,
        cg.days,
        cg.earnings_ratio AS earningsRatio,
        cg.start_time AS startTime,
        cg.end_time AS endTime
        FROM
        g_beta_processeda_order pr INNER JOIN g_beta_order bo on pr.order_id = bo.id
        left JOIN c_personal_card ca on ca.user_id = bo.user_id
        left join g_combo_group cg ON cg.id = bo.combo_id
        where 1=1
        <if test="betaProcessedaOrderDto.name !=null and betaProcessedaOrderDto.name !=''">
            AND concat(IFNULL(ca.name,''), IFNULL(ca.phone,'')) like concat('%', #{betaProcessedaOrderDto.name}, '%')
        </if>
        <if test="betaProcessedaOrderDto.params.beginTime != null and betaProcessedaOrderDto.params.beginTime != ''"><!-- 开始时间检索 -->
            and DATE_FORMAT(pr.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{betaProcessedaOrderDto.params.beginTime},
            '%Y-%m-%d')
        </if>
        <if test="betaProcessedaOrderDto.params.endTime != null and betaProcessedaOrderDto.params.endTime != ''"><!-- 开始时间检索 -->
            and DATE_FORMAT(pr.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{betaProcessedaOrderDto.params.endTime},
            '%Y-%m-%d')
        </if>
        <if test="betaProcessedaOrderDto.orderNumber !=null and betaProcessedaOrderDto.orderNumber!=''">
            AND bo.order_number like concat('%', #{betaProcessedaOrderDto.orderNumber}, '%')
        </if>
        <if test="betaProcessedaOrderDto.processedaOrderStauts !=null and betaProcessedaOrderDto.processedaOrderStauts!=''">
            AND pr.processeda_order_stauts =#{betaProcessedaOrderDto.processedaOrderStauts}
        </if>
    </select>

    <delete id="betaProcessedaOrderdeletes" parameterType="Integer">
        delete from g_beta_processeda_order where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
