<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.BetaFreezeAccountRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.BetaFreezeAccountRecord">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="record_number" property="recordNumber" />
        <result column="freeze_account_id" property="freezeAccountId" />
        <result column="record_type" property="recordType" />
        <result column="before_amount" property="beforeAmount" />
        <result column="amount" property="amount" />
        <result column="after_amount" property="afterAmount" />
        <result column="remark" property="remark" />
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapVo" type="com.jdcloud.provider.pojo.vo.BetaFreezeAccountRecordVo">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="record_number" property="recordNumber" />
        <result column="freeze_account_id" property="freezeAccountId" />
        <result column="record_type" property="recordType" />
        <result column="before_amount" property="beforeAmount" />
        <result column="amount" property="amount" />
        <result column="after_amount" property="afterAmount" />
        <result column="remark" property="remark" />

        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         re.id,
         re.create_time AS createTime,
         re.user_id AS userId,
         re.record_number AS recordNumber ,
         re.freeze_account_id AS freezeAccountId,
         re.record_type AS recordType,
         re.before_amount AS beforeAmount,
         re.amount,
         re. after_amount AS afterAmount,
         re.remark
    </sql>

    <select id="getBetaAccountRecord" resultMap="BaseResultMapVo">
        select
        ca.name,
        ca.phone,
        <include refid="Base_Column_List"/>
        from
        g_beta_freeze_account_record  re left join
        c_personal_card ca on  re.user_id = ca.user_id
        where 1=1
        <if test="dto.params.beginTime != null and dto.params.beginTime != ''">
            AND DATE_FORMAT(re.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{dto.params.beginTime},'%Y-%m-%d')
        </if>

        <if test="dto.params.endTime != null and dto.params.endTime != ''">
            AND DATE_FORMAT(re.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{dto.params.endTime}, '%Y-%m-%d')
        </if>
        <if test="dto.name!=null and dto.name!=''">
            AND CONCAT(
            ca.name,
            ca.phone
            ) like concat('%',#{dto.name}, '%')
        </if>
        <if test="dto.recordNumber != null and dto.recordNumber != ''">
            AND re.record_number = #{dto.recordNumber}
        </if>
        <if test="dto.userId!= null and dto.userId != ''">
            AND re.user_id = #{dto.userId}
        </if>


    </select>



</mapper>
