<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.BetaAdoptionLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.BetaAdoptionLog">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="combo_group_id" property="comboGroupId"/>
        <result column="user_id" property="userId"/>
        <result column="count" property="count"/>
        <result column="day" property="day"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultVoMap" type="com.jdcloud.provider.pojo.vo.BetaAdoptionLogVo">
        <id column="id" property="id"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="comboGroupName" property="comboGroupName"/>
        <result column="userId" property="userId"/>
        <result column="userName" property="userName"/>
        <result column="userPhone" property="userPhone"/>
        <result column="count" property="count"/>
        <result column="day" property="day"/>
        <result column="days" property="days"/>
        <result column="comboId" property="comboId"/>
        <result column="earnings_ratio" property="earningsRatio"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, update_time AS updateTime, combo_group_id AS comboGroupId, user_id AS userId, count, day
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List_vo">
        bal.id,
        bal.create_time AS createTime,
        bal.update_time AS updateTime,
        bal.combo_group_id AS comboGroupId,
        bal.user_id AS userId,
        bal.count,
        bal.DAY,
        pc.`name` AS userName,
        pc.phone AS userPhone,
        cg.dog_name AS comboGroupName,
        cg.days,
        cg.earnings_ratio AS earningsRatio
    </sql>

    <select id="selectPageList" resultMap="BaseResultVoMap">
        select
        <include refid="Base_Column_List_vo"/>
        from g_beta_adoption_log bal LEFT JOIN c_personal_card pc ON bal.user_id = pc.user_id
        LEFT JOIN g_combo_group cg on bal.combo_group_id = cg.id
        <where>
            <if test="dto.comboGroupId !=null and dto.comboGroupId != ''">
                AND bal.combo_group_id = #{dto.comboGroupId}
            </if>
            <if test="dto.params.beginTime != null and dto.params.beginTime != ''">
                and DATE_FORMAT(bal.day, '%Y-%m-%d') = DATE_FORMAT(#{dto.params.beginTime}, '%Y-%m-%d')
            </if>
            <if test="dto.keyword !=null and dto.keyword != ''">
                AND (cg.dog_name like concat('%',#{dto.keyword}, '%') OR pc.`name` like concat('%',#{dto.keyword}, '%')
                OR pc.phone like concat(#{dto.keyword}, '%'))
            </if>
        </where>
    </select>

</mapper>
