<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.ComboGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.ComboGroup">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="days" property="days" />
        <result column="min_price" property="minPrice" />
        <result column="max_price" property="maxPrice" />
        <result column="earnings_ratio" property="earningsRatio" />
        <result column="differential" property="differential" />
        <result column="dog_name" property="dogName" />
        <result column="level" property="level" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="dog_img" property="dogImg" />
        <result column="meet" property="meet" />
        <result column="split_sum" property="splitSum" />

        <result column="probability_base" property="probabilityBase" />
        <result column="probability_min" property="probabilityMin" />
        <result column="probability_max" property="probabilityMax" />
    </resultMap>

    <resultMap id="BaseResultMapVo" type="com.jdcloud.provider.model.pojo.vo.ComboCountVo" extends="BaseResultMap">
        <result column="userSum" property="userSum" />
        <result column="betaSum" property="betaSum" />
        <result column="min_price2" property="minPrice2" />
        <result column="max_price2" property="maxPrice2" />
    </resultMap>
    <resultMap id="BaseResultMeetVo" type="com.jdcloud.provider.pojo.vo.StatisticMeetVo">
        <id column="comboId" property="comboId"/>
        <result column="countSum" property="countSum" />
        <result column="dateDay" property="dateDay" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <!--<sql id="Base_Column_List">-->
        <!--id, create_time AS createTime, update_time AS updateTime, days, min_price AS minPrice, max_price AS maxPrice, earnings_ratio AS earningsRatio, differential, dog_name AS dogName, level, dog_img AS dogImg, start_time AS startTime, end_time AS endTime, meet, split_sum AS splitSum-->
    <!--</sql>-->
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, update_time AS updateTime, days, min_price AS minPrice, max_price AS maxPrice, earnings_ratio AS earningsRatio, differential, dog_name AS dogName, level, dog_img AS dogImg, start_time AS startTime, end_time AS endTime, meet, split_sum AS splitSum, probability_base AS probabilityBase, probability_min AS probabilityMin, probability_max AS probabilityMax
    </sql>

    <select id="selectComboGroupListPage" resultMap="BaseResultMap">
      SELECT
      *
      FROM
      g_combo_group
      WHERE 1 = 1
  </select>


    <delete id="deleteComboGroupdeleteByIds" parameterType="Integer">
        delete from g_combo_group where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="selectListSection" resultMap="BaseResultMap">
      SELECT
      id,
      dog_name as dogName,
      earnings_ratio as earningsRatio,
      min_price as minPrice,
      max_price as maxPrice,
      days
      FROM
      g_combo_group
    </select>

    <select id="selectListComboVo" resultMap="BaseResultMapVo">
      SELECT
      id,
      dog_name as dogName,
      earnings_ratio as earningsRatio,
      min_price as minPrice,
      max_price as maxPrice,
      days
      FROM
      g_combo_group
    </select>

    <select id="selectTomorrowMaxMin" resultMap="BaseResultMapVo">
        SELECT
        minPrice,maxPrice,minPrice2,maxPrice2
        FROM (
        SELECT
        IFNULL( MIN( bo.earnings_price ), 0 ) minPrice,
        IFNULL( MAX( bo.earnings_price ), 0 ) maxPrice
        FROM
        ( SELECT id FROM g_beta_male WHERE presell_time &lt;= #{days} AND sell_status = 1 AND earnings_price &gt; #{betaSplitLimit} ) bm
        INNER JOIN ( SELECT * FROM g_beta_order WHERE order_stauts = 1 ) bo ON bm.id = bo.femina_id) a,
        (SELECT
        IFNULL(MIN(price),0) minPrice2,
        IFNULL(MAX(price),0) maxPrice2
        FROM g_beta_order bo INNER JOIN g_beta_processeda_order bpo on bo.id = bpo.new_order_id WHERE bo.price &gt; #{betaSplitLimit} AND bo.order_stauts = 2) b
    </select>

    <select id="selectComboCountNow" resultMap="BaseResultMapVo">
        SELECT
            gcg.id AS id,
            IFNULL( t.userSum, 0 ) AS userSum,
            IFNULL( t.betaSum, 0 ) AS betaSum,
            gcg.min_price,
            gcg.max_price,
            gcg.earnings_ratio,
            gcg.split_sum,
            gcg.meet
        FROM
            g_combo_group gcg
        LEFT JOIN (
        SELECT
            combo_group_id,
            count( 0 ) AS userSum,
            bo.countMale AS betaSum
        FROM
            g_combo_group cg
        LEFT JOIN `g_beta_adoption_log` bal ON bal.combo_group_id = cg.id
        INNER JOIN ( SELECT count( 0 ) countMale, combo_id FROM g_beta_order WHERE order_stauts = 2 GROUP BY combo_id ) bo ON bo.combo_id = cg.id
        WHERE
            bal.create_time &gt; #{startDate}
        AND bal.create_time &lt; #{endDate}
        GROUP BY
            bal.combo_group_id
            ) t ON gcg.id = t.combo_group_id
        ORDER BY
            t.userSum DESC
    </select>


    <select id="selectStatisticReserve" resultMap="BaseResultMeetVo">
        SELECT
        combo_id AS comboId,
        COUNT( 0 ) countSum,
        DATE_FORMAT( create_time, '%Y-%m-%d' ) dateDay
        FROM
        g_beta_reservation
        WHERE
        create_time &gt; #{startDate} AND
        create_time &lt; #{endDate}
        GROUP BY
        combo_id
    </select>

    <select id="selectStatisticClick" resultMap="BaseResultMeetVo">
        SELECT
        combo_group_id AS comboId,
        COUNT( 0 ) countSum,
        DATE_FORMAT( create_time, '%Y-%m-%d' ) dateDay
        FROM
        g_beta_adoption_log
        WHERE
        create_time &gt; #{startDate} AND
        create_time &lt; #{endDate}
        GROUP BY
        combo_group_id
    </select>
</mapper>
