<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.ContractPerpetualMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.ContractPerpetual">
        <id column="order_id" property="orderId" />
        <result column="client_type" property="clientType" />
        <result column="user_id" property="userId" />
        <result column="symbol" property="symbol" />
        <result column="login_name" property="loginName" />
        <result column="real_name" property="realName" />
        <result column="internal_account" property="internalAccount" />
        <result column="product_id" property="productId" />
        <result column="direction" property="direction" />
        <result column="token_order" property="tokenOrder" />
        <result column="open_price" property="openPrice" />
        <result column="market_price" property="marketPrice" />
        <result column="close_price" property="closePrice" />
        <result column="multiple" property="multiple" />
        <result column="lots" property="lots" />
        <result column="slippage" property="slippage" />
        <result column="used_margin" property="usedMargin" />
        <result column="take_profit" property="takeProfit" />
        <result column="stop_loss" property="stopLoss" />
        <result column="profit_loss" property="profitLoss" />
        <result column="service_fee" property="serviceFee" />
        <result column="close_fee" property="closeFee" />
        <result column="status" property="status" />
        <result column="isShow" property="isShow" />
        <result column="remark" property="remark" />
        <result column="open_time" property="openTime" />
        <result column="close_time" property="closeTime" />
        <result column="update_time" property="updateTime" />
        <result column="client_order_id" property="clientOrderId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id AS orderId, user_id AS userId, product_id AS productId, direction, token_order AS tokenOrder, open_price AS openPrice, market_price AS marketPrice, close_price AS closePrice, multiple, lots, slippage, used_margin AS usedMargin, take_profit AS takeProfit, stop_loss AS stopLoss, profit_loss AS profitLoss, service_fee AS serviceFee, close_fee AS closeFee, status, isShow, remark, open_time AS openTime, close_time AS closeTime, update_time AS updateTime
    </sql>
    <sql id="selectPerpetualListVo">
        select p.order_id ,p.client_type ,concat(p.client_type , p.order_id) AS client_order_id,p.user_id ,pp.symbol symbol,ua.login_name login_name ,ua.real_name real_name, p.product_id , p.direction, p.open_price , p.market_price , p.close_price , p.multiple,
         p.token_order,p.lots, p.slippage, p.used_margin , p.take_profit , p.stop_loss ,p.profit_loss , p.service_fee , p.close_fee , p.status, p.open_time , p.close_time,ua.internal_account
        from t_contract_perpetual p left join t_product_perpetual pp on p.product_id=pp.id left join t_user_account ua on ua.user_id=p.user_id
    </sql>
    <sql id="selectPerpetualVo">
        select order_id ,user_id , product_id , direction, open_price ,market_price ,close_price ,multiple,
         lots, slippage, used_margin , take_profit , stop_loss ,profit_loss , service_fee , close_fee , status, open_time , close_time
        from t_contract_perpetual
    </sql>

    <select id="selectContractPerpetualList" parameterType="com.jdcloud.provider.pojo.ContractPerpetual" resultMap="BaseResultMap">
        <include refid="selectPerpetualListVo"/>
        <where>
            <if test="perpetual.status != null and perpetual.status != ''">
                <if test="perpetual.status == -1">
                    AND (p.status = 2 or p.status = 3)
                </if>
                <if test="perpetual.status != -1">
                    AND p.status = #{perpetual.status}
                </if>
            </if>
            <if test="perpetual.internalAccount != null and perpetual.internalAccount != ''">
                AND ua.internal_account = #{perpetual.internalAccount}
            </if>
            <if test="perpetual.tokenOrder != null and perpetual.tokenOrder != ''">
                AND p.token_order = #{perpetual.tokenOrder}
            </if>
            <if test="perpetual.clientType != null and perpetual.clientType != ''">
                AND p.client_type = #{perpetual.clientType}
            </if>
            <if test="perpetual.direction != null and perpetual.direction != ''">
                AND p.direction like concat('%', #{perpetual.direction}, '%')
            </if>
            <if test="perpetual.params.status != null and perpetual.params.status != '' and perpetual.params.status == 1">
                <if test="perpetual.params.beginTime != null and perpetual.params.beginTime != ''"><!-- 开始时间检索 -->
                    and date_format(p.open_time,'%y%m%d') &gt;= date_format(#{perpetual.params.beginTime},'%y%m%d')
                </if>
                <if test="perpetual.params.endTime != null and perpetual.params.endTime != ''"><!-- 结束时间检索 -->
                    and date_format(p.open_time,'%y%m%d') &lt;= date_format(#{perpetual.params.endTime},'%y%m%d')
                </if>
            </if>
            <if test="perpetual.params.status != null and perpetual.params.status != '' and perpetual.params.status == 2">
                <if test="perpetual.params.beginTime != null and perpetual.params.beginTime != ''"><!-- 开始时间检索 -->
                    and date_format(p.close_time,'%y%m%d') &gt;= date_format(#{perpetual.params.beginTime},'%y%m%d')
                </if>
                <if test="perpetual.params.endTime != null and perpetual.params.endTime != ''"><!-- 结束时间检索 -->
                    and date_format(p.close_time,'%y%m%d') &lt;= date_format(#{perpetual.params.endTime},'%y%m%d')
                </if>
            </if>
            <if test="perpetual.profitAndLoss != null and perpetual.profitAndLoss != ''">
                <if test="perpetual.profitAndLoss == 1"><!-- 盈 -->
                    and profit_loss > 0
                </if>
                <if test="perpetual.profitAndLoss == 2"><!-- 亏 -->
                    and profit_loss &lt; 0
                </if>
            </if>
            <if test="perpetual.params.condition != null and perpetual.params.condition != ''">
                <if test="perpetual.params.type == 1">
                    AND (p.order_id like concat('%', #{perpetual.params.condition}, '%') OR ua.login_name like concat('%', #{perpetual.params.condition}, '%'))
                </if>
                <if test="perpetual.params.type == 2">
                    AND (concat(p.client_type , p.order_id) like concat('%', #{perpetual.params.condition}, '%') OR ua.real_name like concat('%', #{perpetual.params.condition}, '%'))
                </if>
            </if>
        </where>
        order by p.open_time desc
    </select>

    <select id="selectContractPerpetualById" parameterType="com.jdcloud.provider.pojo.ContractPerpetual" resultMap="BaseResultMap">
        <include refid="selectPerpetualVo"/>
        where order_id = #{orderId}
    </select>
</mapper>
