<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.CountryCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.CountryCode">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="country_en_name" property="countryEnName" />
        <result column="country_cn_name" property="countryCnName" />
        <result column="country_code" property="countryCode" />
        <result column="country_area" property="countryArea" />
        <result column="for_price_first" property="forPriceFirst" />
        <result column="for_price_second" property="forPriceSecond" />
        <result column="for_price_third" property="forPriceThird" />
        <result column="use_type" property="useType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, update_time AS updateTime, country_en_name AS countryEnName, country_cn_name AS countryCnName, country_code AS countryCode, country_area AS countryArea, for_price_first AS forPriceFirst, for_price_second AS forPriceSecond, for_price_third AS forPriceThird, use_type AS useType
    </sql>

    <delete id="deleteByIds" parameterType="Integer">
        delete from t_country_code where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateUseTypeAll">
        UPDATE t_country_code set use_type = #{useType} where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
