<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.EnrichmentCountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.EnrichmentCount">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="token_id" property="tokenId" />
        <result column="token" property="token" />
        <result column="currencySum" property="currencySum" />
        <result column="sort" property="sort" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        co.id, co.create_time AS createTime, co.update_time AS updateTime, co.token_id AS tokenId, co.token, co.currencySum, co.sort,co.type
    </sql>


    <select id="getEnrichmentCount" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        w_enrichment_count co
        where 1=1
        <if test="dto.params.beginTime != null and dto.params.beginTime != ''">
            AND DATE_FORMAT(co.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{dto.params.beginTime},'%Y-%m-%d')
        </if>
        <if test="dto.params.endTime != null and dto.params.endTime != ''">
            AND DATE_FORMAT(co.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{dto.params.endTime}, '%Y-%m-%d')
        </if>
        <if test="dto.token != null and dto.token != ''">
            AND co.token =#{dto.token}
        </if>
        <if test="dto.type != null and dto.type != ''">
            AND co.type =#{dto.type}
        </if>
        <if test="dto.currencySum != null and dto.currencySum != ''">
            AND co.currencySum =#{dto.currencySum}
        </if>
    </select>



</mapper>
