<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.HouseAccountSetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.HouseAccountSet">
        <id column="id" property="id"/>
        <result column="fixed_ratio" property="fixedRatio" />
        <result column="float_ratio_down" property="floatRatioDown" />
        <result column="float_ratio_up" property="floatRatioUp" />

        <result column="probability" property="probability"/>
        <result column="is_charm" property="isCharm"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="account_config_id" property="accountConfigId"/>

        <result column="food_coefficient" property="foodCoefficient"/>
        <result column="power_coefficient" property="powerCoefficient"/>
        <result column="agility_coefficient" property="agilityCoefficient"/>
        <result column="stamina_coefficient" property="staminaCoefficient"/>
        <result column="correct_coefficient" property="correctCoefficient"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,  fixed_output_ratio AS fixedOutputRatio, output_float_ratio AS outputFloatRatio, bigital_currency_proportion AS bigitalCurrencyProportion, float_mining_volume AS floatMiningVolume, probability, is_charm AS isCharm, status,name, create_time AS createTime, update_time AS updateTime, account_config_id AS accountConfigId
    </sql>

    <select id="selectHouseAccountSetPage" resultType="com.jdcloud.provider.pojo.vo.HouseAccountSetVo">
        SELECT
            hs.id,
            hs.fixed_ratio AS fixedRatio,
            hs.float_ratio_down AS floatRatioDown,
            hs.float_ratio_up AS floatRatioUp,

            hs.probability,
            hs.is_charm AS isCharm,
            hs. STATUS,
            hs.create_time AS createTime,
            hs.update_time AS updateTime,
            hs.account_config_id AS accountConfigId,
            hs.food_coefficient AS foodCoefficient,
            hs.power_coefficient AS powerCoefficient,
            hs.agility_coefficient AS agilityCoefficient,
            hs.stamina_coefficient AS staminaCoefficient,
            hs.correct_coefficient AS correctCoefficient,
            ac.name AS accountName
          FROM
          g_house_account_set hs
          INNER JOIN t_account_config ac ON ac.id = hs.account_config_id
    </select>
</mapper>
