<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.HouseComboSetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.HouseComboSet">
        <id column="id" property="id" />
        <result column="combo_id" property="comboId" />
        <result column="min_price" property="minPrice" />
        <result column="max_price" property="maxPrice" />
        <result column="fetation_probability" property="fetationProbability" />
        <result column="fetation_max" property="fetationMax" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap_Vo" type="com.jdcloud.provider.pojo.vo.HouseComboSetVo">
        <id column="id" property="id" />
        <result column="combo_id" property="comboId" />
        <result column="min_price" property="minPrice" />
        <result column="max_price" property="maxPrice" />
        <result column="fetation_probability" property="fetationProbability" />
        <result column="fetation_max" property="fetationMax" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />

        <result column="days" property="days" />
        <result column="min_price" property="comboMinPrice" />
        <result column="max_price" property="comboMaxPrice" />
        <result column="dog_name" property="dogName" />
        <result column="dog_img" property="dogImg" />
        <result column="earnings_ratio" property="earningsRatio" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, combo_id AS comboId, min_price AS minPrice, max_price AS maxPrice, fetation_probability AS fetationProbability, fetation_max AS fetationMax, create_time AS createTime, update_time AS updateTime
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List_vo">
         se.id,
         se.combo_id AS comboId,
         se.min_price AS minPrice,
         se.max_price AS maxPrice,
         se.fetation_probability AS fetationProbability,
         se.fetation_max AS fetationMax,
         se.create_time AS createTime,
         se.update_time AS updateTime,
         gr.days,
         gr.min_price AS comboMinPrice,
         gr.max_price AS comboMaxPrice,
         gr.dog_name AS dogName,
         gr.dog_img AS dogImg,
         gr.earnings_ratio AS earningsRatio
    </sql>


    <select id="getComboSet" resultMap="BaseResultMap_Vo">
        SELECT
        <include refid="Base_Column_List_vo"/>
        FROM
        g_combo_set se LEFT JOIN g_combo_group gr ON se.combo_id = gr.id
    </select>

</mapper>
