<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.HouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.House">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="femina_id" property="feminaId"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <!-- VO查询映射结果 -->
    <resultMap id="BaseResultMap_Vo" type="com.jdcloud.provider.pojo.vo.HouseVo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="femina_id" property="feminaId"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>

        <result column="userName" property="userName"/>
        <result column="phone" property="phone"/>

        <result column="puppyCount" property="puppyCount"/>
        <result column="maleCount" property="maleCount"/>
        <result column="power" property="power"/>
        <result column="agility" property="agility"/>
        <result column="stamina" property="stamina"/>
        <result column="intelligence" property="intelligence"/>
        <result column="charm" property="charm"/>
        <result column="feminaStatus" property="feminaStatus"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, femina_id AS feminaId, name, status, create_time AS createTime, update_time AS updateTime
    </sql>


    <!-- 通用vo查询结果列 -->
    <sql id="Base_Column_List_Vo">
         ho.id,
         ho.user_id AS userId,
         ho.femina_id AS feminaId,
         ho.NAME,
         ho.STATUS,
         ho.create_time AS createTime,
         ho.update_time AS updateTime,
         fe.power,
         fe.agility,
         fe.stamina,
         fe.intelligence,
         fe.charm,
         fe.status AS feminaStatus,
         ca.name AS userName,
         ca.phone,
    </sql>


    <select id="getHouse" resultMap="BaseResultMap_Vo">
        SELECT
        <include refid="Base_Column_List_Vo"/>
        (
          SELECT	COUNT(1)	FROM	g_house_puppy puppy	where	(puppy.femina_id = fe.id ) and puppy.status =0
        ) AS puppyCount,
        (
            select
            COUNT(1)
            from
            g_beta_order bo  left join  g_beta_male bm on  bo.femina_id  =  bm.id
            WHERE
            (bo.user_id = ho.user_id)
            AND bo.order_stauts = 1
        ) AS maleCount
        FROM
        g_house ho
        LEFT JOIN g_beta_femina fe ON fe.id = ho.femina_id
        LEFT JOIN c_personal_card ca ON ca.user_id = ho.user_id
        where 1=1
        <if test="houseDto.params.beginTime != null and houseDto.params.beginTime != ''">
            AND DATE_FORMAT(ho.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{houseDto.params.beginTime},'%Y-%m-%d')
        </if>
        <if test="houseDto.params.endTime != null and houseDto.params.endTime != ''">
            AND DATE_FORMAT(ho.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{houseDto.params.endTime}, '%Y-%m-%d')
        </if>
        <if test="houseDto.userName !=null and houseDto.userName!=''">
            AND CONCAT(
            ca.name,
            ca.phone
            ) like concat('%',#{houseDto.userName}, '%')
        </if>

        <if test="houseDto.name !=null and houseDto.name!=''">
            AND ho.name =#{houseDto.name}
        </if>

        <if test="houseDto.feminaStatus !=null and houseDto.feminaStatus!=''">
            AND fe.status =#{houseDto.feminaStatus}
        </if>
    </select>


    <select id="getDetail" resultMap="BaseResultMap_Vo">
        SELECT
        <include refid="Base_Column_List_Vo"/>
        (
        SELECT
        COUNT(1)
        FROM
        g_house_puppy puppy
        WHERE
        puppy.femina_id = fe.id
        ) AS puppyCount,
        (
        SELECT
        COUNT(1)
        FROM
        g_beta_male ma
        WHERE
        ma.user_id = ho.user_id
        ) AS maleCount
        FROM
        g_house ho
        LEFT JOIN g_beta_femina fe ON fe.id = ho.femina_id
        LEFT JOIN c_personal_card ca ON ca.user_id = ho.user_id
        where ho.id = #{id}
    </select>


</mapper>
