<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.HousePuppyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.HousePuppy">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="femina_id" property="feminaId" />
        <result column="male_id" property="maleId" />
        <result column="combo_id" property="comboId" />
        <result column="name" property="name" />
        <result column="puppy_no" property="puppyNo" />
        <result column="price" property="price" />
        <result column="gender" property="gender" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="birthday" property="birthday" />
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap_Vo" type="com.jdcloud.provider.pojo.vo.HousePuppyVo">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="femina_id" property="feminaId" />
        <result column="male_id" property="maleId" />
        <result column="combo_id" property="comboId" />
        <result column="name" property="name" />
        <result column="puppy_no" property="puppyNo" />
        <result column="price" property="price" />
        <result column="gender" property="gender" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="birthday" property="birthday" />

        <result column="userName" property="userName" />
        <result column="phone" property="phone" />

        <result column="days" property="days" />
        <result column="min_price" property="minPrice" />
        <result column="max_price" property="maxPrice" />
        <result column="dog_name" property="dogName" />
        <result column="dog_img" property="dogImg" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, femina_id AS feminaId, male_id AS maleId, combo_id AS comboId, name, puppy_no AS puppyNo, price, gender, status, create_time AS createTime, update_time AS updateTime,birthday
    </sql>

    <!-- 通用VO查询结果列 -->
    <sql id="Base_Column_List_vo">
         pu.id,
         pu.user_id AS userId,
         pu.femina_id AS feminaId,
         pu.male_id AS maleId,
         pu.combo_id AS comboId,
         pu.NAME,
         pu.puppy_no AS puppyNo,
         pu.price,
         pu.gender,
         pu.STATUS,
         pu.create_time AS createTime,
         pu.update_time AS updateTime,
         pu.birthday,

         ca.name as userName,
         ca.phone ,

         gr.days,
         gr.min_price AS minPrice,
         gr.max_price AS maxPrice,
         gr.dog_name AS dogName,
         gr.dog_img AS dogImg
    </sql>


    <select id="getHousePuppy" resultMap="BaseResultMap_Vo">
       SELECT
        <include refid="Base_Column_List_vo"/>
        FROM
            g_house_puppy pu
        LEFT JOIN c_personal_card ca ON pu.user_id = ca.user_id
        LEFT JOIN g_combo_group gr ON pu.combo_id = gr.id
        where 1=1
        <if test="housePuppyDto.params.beginTime != null and housePuppyDto.params.beginTime != ''"><!-- 开始时间检索 -->
            and DATE_FORMAT(pu.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{housePuppyDto.params.beginTime},'%Y-%m-%d')
        </if>
        <if test="housePuppyDto.params.endTime != null and housePuppyDto.params.endTime != ''"><!-- 开始时间检索 -->
            and DATE_FORMAT(pu.create_time, '%Y-%m-%d') &lt;=  DATE_FORMAT(#{housePuppyDto.params.endTime}, '%Y-%m-%d')
        </if>

        <if test="housePuppyDto.name !=null and housePuppyDto.name!=''">
            AND CONCAT(
            pu.name,
            pu.puppy_no
            ) like concat('%',#{housePuppyDto.name}, '%')
        </if>

        <if test="housePuppyDto.price !=null and housePuppyDto.price !=''">
            AND pu.price =#{housePuppyDto.price}
        </if>
        <if test="housePuppyDto.maleId !=null and housePuppyDto.maleId !=''">
            AND  pu.male_id =#{housePuppyDto.maleId}
        </if>
        <if test="housePuppyDto.gender !=null and housePuppyDto.gender !=''">
            AND  pu.gender =#{housePuppyDto.gender}
        </if>
        <if test="housePuppyDto.status !=null and housePuppyDto.status !='' or housePuppyDto.status ==0">
            AND  pu.status =#{housePuppyDto.status}
        </if>
        <if test="housePuppyDto.userName !=null and housePuppyDto.userName !=''">
            AND CONCAT(
            ca.NAME,
            ca.phone
            ) like concat('%',#{housePuppyDto.userName}, '%')
        </if>
        <if test="housePuppyDto.comboId !=null and housePuppyDto.comboId !=''">
            AND  gr.id =#{housePuppyDto.comboId}
        </if>

        <if test="housePuppyDto.userId !=null and housePuppyDto.userId !=''">
            AND  pu.user_id =#{housePuppyDto.userId}
        </if>
    </select>


</mapper>
