<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.HouseProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.HouseProduct">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="price" property="price" />
        <result column="image" property="image" />
        <result column="quality" property="quality" />
        <result column="power" property="power" />
        <result column="agility" property="agility" />
        <result column="stamina" property="stamina" />
        <result column="intelligence" property="intelligence" />
        <result column="charm" property="charm" />
        <result column="total_count" property="totalCount" />
        <result column="stock_count" property="stockCount" />
        <result column="buy_limit" property="buyLimit" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="be_suitable" property="beSuitable" />
        <result column="overlay_limit" property="overlayLimit" />
        <result column="validity_period" property="validityPeriod" />
        <result column="speed_up_time" property="speedUpTime" />
        <result column="show_position" property="showPosition" />
        <result column="expend_type" property="expendType" />
        <result column="scenery_img" property="sceneryImg" />
        <result column="give_currency_status" property="giveCurrencyStatus" />
        <result column="account_config_id" property="accountConfigId" />
        <result column="account_num" property="accountNum" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, price, image, quality, power, agility, stamina, intelligence, charm, total_count AS totalCount, stock_count AS stockCount, buy_limit AS buyLimit, status, remark, create_time AS createTime, update_time AS updateTime
        ,be_suitable AS beSuitable, overlay_limit AS  overlayLimit,validity_period AS validityPeriod,speed_up_time AS speedUpTime,  show_position AS showPosition,  expend_type as  expendType,scenery_img as sceneryImg,give_currency_status AS giveCurrencyStatus,
        account_config_id AS accountConfigId,account_num AS accountNum
    </sql>


    <select id="getHouseProduct" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        g_house_product pr
        where  1=1
        <if test="houseProductDto.params.beginTime != null and houseProductDto.params.beginTime != ''"><!-- 开始时间检索 -->
            and DATE_FORMAT(pr.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{houseProductDto.params.beginTime},'%Y-%m-%d')
        </if>
        <if test="houseProductDto.params.endTime != null and houseProductDto.params.endTime != ''"><!-- 开始时间检索 -->
            and DATE_FORMAT(pr.create_time, '%Y-%m-%d') &lt;=  DATE_FORMAT(#{houseProductDto.params.endTime}, '%Y-%m-%d')
        </if>
        <if test="houseProductDto.name != null and houseProductDto.name != ''">
            and  pr.name =#{houseProductDto.name}
        </if>
        <if test="houseProductDto.type != null and houseProductDto.type != ''">
            and  pr.type =#{houseProductDto.type}
        </if>
        <if test="houseProductDto.status != null and houseProductDto.status != '' or houseProductDto.status ==0 ">
            and  pr.status =#{houseProductDto.status}
        </if>
        <if test="houseProductDto.beSuitable != null and houseProductDto.beSuitable != ''">
            and  pr.be_suitable =#{houseProductDto.beSuitable}
        </if>
        <if test="houseProductDto.showPosition != null and houseProductDto.showPosition != '' or houseProductDto.showPosition ==0">
            and  pr.show_position =#{houseProductDto.showPosition}
        </if>
        <if test="houseProductDto.expendType != null and houseProductDto.expendType != ''">
            and  pr.expend_type =#{houseProductDto.expendType}
        </if>

    </select>

</mapper>
