<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.InviteRewardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.InviteReward">
        <id column="id" property="id" />
        <result column="level" property="level" />
        <result column="min_trade_amount" property="minTradeAmount" />
        <result column="max_trade_amount" property="maxTradeAmount" />
        <result column="second_reward_percent" property="secondRewardPercent" />
        <result column="third_reward_percent" property="thirdRewardPercent" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="updater" property="updater" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, level, min_trade_amount AS minTradeAmount, max_trade_amount AS maxTradeAmount, second_reward_percent AS secondRewardPercent, third_reward_percent AS thirdRewardPercent, create_time AS createTime, update_time AS updateTime, updater
    </sql>

</mapper>
