<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.OrderEntrustMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.OrderEntrust">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="entrust_number" property="entrustNumber" />
        <result column="user_id" property="userId" />
        <result column="price" property="price" />
        <result column="restrict_min" property="restrictMin" />
        <result column="restrict_max" property="restrictMax" />
        <result column="quantity" property="quantity" />
        <result column="type" property="type" />
        <result column="is_attestation" property="isAttestation" />
        <result column="turnover" property="turnover" />
        <result column="turnover_ratio" property="turnoverRatio" />
        <result column="product_type" property="productType" />
        <result column="version" property="version" />
    </resultMap>

    <!-- Vo查询映射结果 -->
    <resultMap id="BaseResultMapVo" type="com.jdcloud.provider.pojo.vo.OrderEntrustVo">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="entrust_number" property="entrustNumber" />
        <result column="user_id" property="userId" />
        <result column="price" property="price" />
        <result column="restrict_min" property="restrictMin" />
        <result column="restrict_max" property="restrictMax" />
        <result column="quantity" property="quantity" />
        <result column="type" property="type" />
        <result column="is_attestation" property="isAttestation" />
        <result column="turnover" property="turnover" />
        <result column="turnover_ratio" property="turnoverRatio" />
        <result column="product_type" property="productType" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, update_time AS updateTime, entrust_number AS entrustNumber, user_id AS userId, price, restrict_min AS restrictMin, restrict_max AS restrictMax, quantity, type, is_attestation AS isAttestation, turnover, turnover_ratio AS turnoverRatio, product_type AS productType, version
    </sql>

    <sql id="Base_Column_ListVo">
        oe.id, oe.create_time , oe.update_time ,oe.entrust_number , oe.user_id , oe.price, oe.restrict_min , oe.restrict_max ,
         oe.quantity, oe.type, oe.is_attestation , oe.turnover,oe.turnover_ratio , oe.product_type , oe.version,ua.phone as realName,ua.name as loginName
    </sql>

    <select id="selectOrderEntrustList" resultMap="BaseResultMapVo">
        SELECT
        <include refid="Base_Column_ListVo"/>
        FROM
        c_order_entrust AS oe
        LEFT JOIN c_personal_card AS ua ON oe.user_id = ua.user_id
        <where>
            <if test="orderEntrustPageDto.entrustNumber != null and orderEntrustPageDto.entrustNumber != ''">
                AND oe.entrust_number like concat(#{orderEntrustPageDto.entrustNumber}, '%')
            </if>
            <if test="orderEntrustPageDto.type != null and orderEntrustPageDto.type != ''">
                AND oe.type = #{orderEntrustPageDto.type}
            </if>
            <if test="orderEntrustPageDto.productType != null and orderEntrustPageDto.productType != ''">
                AND oe.product_type = #{orderEntrustPageDto.productType}
            </if>
            <if test="orderEntrustPageDto.isAttestation != null and orderEntrustPageDto.isAttestation != ''">
                AND oe.is_attestation = #{orderEntrustPageDto.isAttestation}
            </if>
            <if test="orderEntrustPageDto.realName!=null and orderEntrustPageDto.realName!=''">
                AND CONCAT(
                ua.name,
                ua.phone
                ) like concat('%',#{orderEntrustPageDto.realName}, '%')
            </if>
            <if test="orderEntrustPageDto.params.beginTime != null and orderEntrustPageDto.params.beginTime != ''">
                AND DATE_FORMAT(oe.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{orderEntrustPageDto.params.beginTime},'%Y-%m-%d')
            </if>

            <if test="orderEntrustPageDto.params.endTime != null and orderEntrustPageDto.params.endTime != ''">
                AND DATE_FORMAT(oe.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{orderEntrustPageDto.params.endTime}, '%Y-%m-%d')
            </if>
        </where>
    </select>

    <select id="selectExportList" resultMap="BaseResultMapVo">
        SELECT
        <include refid="Base_Column_ListVo"/>
        FROM
        c_order_entrust oe
        LEFT JOIN c_personal_card ua ON oe.user_id = ua.user_id
        where 1 = 1
        <if test="orderEntrustPageDto.entrustNumber != null and orderEntrustPageDto.entrustNumber != ''">
            AND oe.entrust_number like concat('%', #{orderEntrustPageDto.entrustNumber}, '%')
        </if>
        <if test="orderEntrustPageDto.type != null and orderEntrustPageDto.type != ''">
            AND oe.type = #{orderEntrustPageDto.type}
        </if>
        <if test="orderEntrustPageDto.productType != null and orderEntrustPageDto.productType != ''">
            AND oe.product_type = #{orderEntrustPageDto.productType}
        </if>
        <if test="orderEntrustPageDto.isAttestation != null and orderEntrustPageDto.isAttestation != ''">
            AND oe.is_attestation = #{orderEntrustPageDto.isAttestation}
        </if>
        <if test="orderEntrustPageDto.loginName != null and orderEntrustPageDto.loginName != ''">
            AND ua.name like concat('%', #{orderEntrustPageDto.loginName}, '%')
        </if>
        <if test="orderEntrustPageDto.realName != null and orderEntrustPageDto.realName != ''">
            AND ua.phone   like concat('%', #{orderEntrustPageDto.realName}, '%')
        </if>
    </select>



</mapper>
