<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.PersonalAccountMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.PersonalAccount">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="balance" property="balance" />
        <result column="used_margin" property="usedMargin" />
        <result column="total_enter" property="totalEnter" />
        <result column="total_exit" property="totalExit" />
        <result column="product_type" property="productType" />
        <result column="version" property="version" />
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap_vo" type="com.jdcloud.provider.pojo.vo.PersonalAccountListVo">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="balance" property="balance" />
        <result column="used_margin" property="usedMargin" />
        <result column="total_enter" property="totalEnter" />
        <result column="total_exit" property="totalExit" />
        <result column="product_type" property="productType" />
        <result column="version" property="version" />

        <result column="name" property="name" />
        <result column="phone" property="phone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, update_time AS updateTime, user_id AS userId, balance, used_margin AS usedMargin, total_enter AS totalEnter, total_exit AS totalExit, product_type AS productType, version
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List_vo">
         ac.id,
         ac.create_time AS createTime,
         ac.update_time AS updateTime,
         ac.user_id AS userId,
         ac.balance,
         ac.used_margin AS usedMargin,
         ac.total_enter AS totalEnter,
         ac.total_exit AS totalExit,
         ac.product_type AS productType,
         ac.version,

         ca.name,
         ca.phone
  </sql>

    <update id="updatePersonalAccount">
        UPDATE c_personal_account
        <set>
            <if test="usedMargin != null">used_margin = #{usedMargin},</if>
            <if test="balance != null">balance = #{balance}, </if>
            <if test="updateTime != null">update_time = #{updateTime}, </if>
            <if test="totalEnter != null">total_enter = #{totalEnter}, </if>
            <if test="totalExit != null">total_exit = #{totalExit}, </if>
            version = version + 1
        </set>
        WHERE id = #{id} AND version = #{version}
    </update>

    <select id ="selectPersonalAccountListPage" resultMap="BaseResultMap_vo">
        select
        <include refid="Base_Column_List_vo"/>
        from
        c_personal_account ac inner join c_personal_card ca on ac.user_id =ca.user_id
        where 1=1
        <if test="dto.name !=null and dto.name!=''">
            AND ca.name like concat('%', #{dto.name}, '%') or ca.phone like concat('%', #{dto.name}, '%')
        </if>
        <if test="dto.productType!=null and dto.productType!=''">
            AND ac.product_type =#{dto.productType}
        </if>
        <if test="dto.params.beginTime != null and dto.params.beginTime != ''">
            AND DATE_FORMAT(ac.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{dto.params.beginTime},'%Y-%m-%d')
        </if>
        <if test="dto.params.endTime != null and dto.params.endTime != ''">
            AND DATE_FORMAT(ac.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{dto.params.endTime}, '%Y-%m-%d')
        </if>

    </select>

    <update id="updatePersonalAccountNew">
        UPDATE c_personal_account
        <set>
            <if test="usedMargin != null">used_margin = #{usedMargin},</if>
            <if test="balance != null">balance = #{balance}, </if>
            <if test="updateTime != null">update_time = #{updateTime}, </if>
            <if test="totalEnter != null">total_enter = #{totalEnter}, </if>
            <if test="totalExit != null">total_exit = #{totalExit}, </if>
            version = version + 1
        </set>
        WHERE id = #{id} AND version = #{version}
    </update>

    <update id="updatePersonalAccountNew">
        UPDATE c_personal_account
        <set>
            <if test="usedMargin != null">used_margin = #{usedMargin},</if>
            <if test="balance != null">balance = #{balance}, </if>
            <if test="updateTime != null">update_time = #{updateTime}, </if>
            <if test="totalEnter != null">total_enter = #{totalEnter}, </if>
            <if test="totalExit != null">total_exit = #{totalExit}, </if>
            version = version + 1
        </set>
        WHERE id = #{id} AND version = #{version}
    </update>
</mapper>
