<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.ProductMicroMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.ProductMicro">
        <id column="id" property="id" />
        <result column="symbol" property="symbol" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="quantity_unit" property="quantityUnit" />
        <result column="margin_money" property="marginMoney" />
        <result column="value_unit" property="valueUnit" />
        <result column="time_unit" property="timeUnit" />
        <result column="service_fee" property="serviceFee" />
        <result column="real_slippage" property="realSlippage" />
        <result column="slippage_range" property="slippageRange" />
        <result column="slippage" property="slippage" />
        <result column="spread_up" property="spreadUp" />
        <result column="spread_down" property="spreadDown" />
        <result column="token_spread_up" property="tokenSpreadUp" />
        <result column="token_spread_down" property="tokenSpreadDown" />
        <result column="is_sort" property="isSort" />
        <result column="profit_percent" property="profitPercent" />
        <result column="contract_value" property="contractValue" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, symbol, code, name, quantity_unit AS quantityUnit, margin_money AS marginMoney, value_unit AS valueUnit, time_unit AS timeUnit, service_fee AS serviceFee, real_slippage AS realSlippage, slippage_range AS slippageRange, slippage, spread_up AS spreadUp, spread_down AS spreadDown, token_spread_up AS tokenSpreadUp, token_spread_down AS tokenSpreadDown, is_sort AS isSort, profit_percent AS profitPercent, contract_value AS contractValue, status, remark, create_time AS createTime, update_time AS updateTime
    </sql>
    <sql id="selectMicroVo">
        select id, symbol, code, name, quantity_unit , margin_money , value_unit , time_unit , service_fee ,
         slippage, spread_up , spread_down ,real_slippage,slippage_range, token_spread_up ,
         token_spread_down, is_sort , profit_percent , contract_value , status, remark, create_time , update_time
        from t_product_micro
    </sql>

    <select id="selectProductMicroById" parameterType="Integer" resultMap="BaseResultMap">
        <include refid="selectMicroVo"/>
        where id = #{productId}
    </select>

    <update id="updateProductMicro" parameterType="com.jdcloud.provider.pojo.ProductMicro">
        update t_product_micro
        <set>
            <if test="valueUnit != null and valueUnit != ''">value_unit = #{valueUnit},</if>
            <if test="serviceFee != null and serviceFee != '' or serviceFee == 0">service_fee = #{serviceFee},</if>
            <if test="realSlippage != null and realSlippage != '' or realSlippage == 0">real_slippage = #{realSlippage},</if>
            <if test="slippageRange != null and slippageRange != '' or slippageRange == 0">slippage_range = #{slippageRange},</if>
            <if test="slippage != null and slippage != '' or slippage == 0">slippage = #{slippage},</if>
            <if test="spreadUp != null and spreadUp != '' or spreadUp == 0">spread_up = #{spreadUp},</if>
            <if test="spreadDown != null and spreadDown != '' or spreadDown == 0">spread_down = #{spreadDown},</if>
            <if test="tokenSpreadUp != null and tokenSpreadUp != '' or tokenSpreadUp == 0">token_spread_up = #{tokenSpreadUp},</if>
            <if test="tokenSpreadDown != null and tokenSpreadDown != '' or tokenSpreadDown == 0">token_spread_down = #{tokenSpreadDown},</if>
            <if test="timeUnit != null and timeUnit != ''">time_unit = #{timeUnit},</if>
            <if test="profitPercent != null and profitPercent != '' or profitPercent == 0">profit_percent = #{profitPercent},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>
</mapper>
