<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.ProductPerpetualMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.ProductPerpetual">
        <id column="id" property="id" />
        <result column="symbol" property="symbol" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="trading_unit_min" property="tradingUnitMin" />
        <result column="trading_unit_max" property="tradingUnitMax" />
        <result column="margin_ratio" property="marginRatio" />
        <result column="margin_money" property="marginMoney" />
        <result column="quotation_unit" property="quotationUnit" />
        <result column="service_fee" property="serviceFee" />
        <result column="close_fee" property="closeFee" />
        <result column="slippage" property="slippage" />
        <result column="spread_up" property="spreadUp" />
        <result column="spread_down" property="spreadDown" />
        <result column="token_spread_up" property="tokenSpreadUp" />
        <result column="token_spread_down" property="tokenSpreadDown" />
        <result column="stop_profit_loss_range" property="stopProfitLossRange" />
        <result column="forced_flat_ratio" property="forcedFlatRatio" />
        <result column="is_sort" property="isSort" />
        <result column="contract_value" property="contractValue" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, symbol, code, name, trading_unit_min AS tradingUnitMin, trading_unit_max AS tradingUnitMax, margin_ratio AS marginRatio, margin_money AS marginMoney, quotation_unit AS quotationUnit, service_fee AS serviceFee, close_fee AS closeFee, slippage, spread_up AS spreadUp, spread_down AS spreadDown,token_spread_up AS tokenSpreadUp, token_spread_down AS tokenSpreadDown,  stop_profit_loss_range AS stopProfitLossRange, forced_flat_ratio AS forcedFlatRatio, is_sort AS isSort, contract_value AS contractValue, status, remark, create_time AS createTime, update_time AS updateTime
    </sql>

    <sql id="selectPerpetualVo">
        select id, symbol, code, name, trading_unit_min , trading_unit_max , margin_ratio , margin_money , quotation_unit , service_fee , close_fee , slippage,
         spread_up , spread_down ,token_spread_up , token_spread_down, stop_profit_loss_range , forced_flat_ratio , is_sort , contract_value , status, remark, create_time , update_time
        from t_product_perpetual
    </sql>

    <select id="selectProductPerpetualById" parameterType="Integer" resultMap="BaseResultMap">
        <include refid="selectPerpetualVo"/>
        where id = #{productId}
    </select>

    <update id="updateProductPerpetual" parameterType="com.jdcloud.provider.pojo.ProductPerpetual">
        update t_product_perpetual
        <set>
            <if test="tradingUnitMin != null and tradingUnitMin != '' or tradingUnitMin == 0">trading_unit_min = #{tradingUnitMin},</if>
            <if test="tradingUnitMax != null and tradingUnitMax != '' or tradingUnitMax == 0">trading_unit_max = #{tradingUnitMax},</if>
            <if test="marginRatio != null and marginRatio != ''">margin_ratio = #{marginRatio},</if>
            <if test="serviceFee != null and serviceFee != '' or serviceFee == 0">service_fee = #{serviceFee},</if>
            <if test="closeFee != null and closeFee != '' or closeFee == 0">close_fee = #{closeFee},</if>
            <if test="slippage != null and slippage != '' or slippage == 0">slippage = #{slippage},</if>
            <if test="spreadUp != null and spreadUp != '' or spreadUp == 0">spread_up = #{spreadUp},</if>
            <if test="spreadDown != null and spreadDown != '' or spreadDown == 0">spread_down = #{spreadDown},</if>
            <if test="tokenSpreadUp != null and tokenSpreadUp != '' or tokenSpreadUp == 0">token_spread_up = #{tokenSpreadUp},</if>
            <if test="tokenSpreadDown != null and tokenSpreadDown != '' or tokenSpreadDown == 0">token_spread_down = #{tokenSpreadDown},</if>
            <if test="contractValue != null and contractValue != '' or contractValue == 0">contract_value = #{contractValue},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

</mapper>
