<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.PushMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.Push">
        <id column="id" property="id" />
        <result column="tel" property="tel" />
        <result column="symbol" property="symbol" />
        <result column="direction" property="direction" />
        <result column="type" property="type" />
        <result column="product_type" property="productType" />
        <result column="amount" property="amount" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tel, symbol, direction, type, product_type AS productType, amount, status, remark, create_time AS createTime
    </sql>

</mapper>
