<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.RechargeOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.RechargeOrder">
        <id column="order_no" property="orderNo" />
        <result column="user_id" property="userId" />
        <result column="accept_dealer_id" property="acceptDealerId" />
        <result column="order_currency" property="orderCurrency" />
        <result column="order_amount" property="orderAmount" />
        <result column="exchange_rate" property="exchangeRate" />
        <result column="exchange_amount" property="exchangeAmount" />
        <result column="receive_url" property="receiveUrl" />
        <result column="pickup_url" property="pickupUrl" />
        <result column="sign_type" property="signType" />
        <result column="sign" property="sign" />
        <result column="transaction_id" property="transactionId" />
        <result column="status" property="status" />
        <result column="type" property="type" />
        <result column="transfer_time" property="transferTime" />
        <result column="remark" property="remark" />
        <result column="auditor" property="auditor" />
        <result column="audit_time" property="auditTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_no AS orderNo, user_id AS userId, accept_dealer_id AS acceptDealerId, order_currency AS orderCurrency, order_amount AS orderAmount, exchange_rate AS exchangeRate, exchange_amount AS exchangeAmount, receive_url AS receiveUrl, pickup_url AS pickupUrl, sign_type AS signType, sign, transaction_id AS transactionId, status, type, transfer_time AS transferTime, remark, auditor, audit_time AS auditTime, create_time AS createTime, update_time AS updateTime
    </sql>

    <select id="selectRechargeOrderList" resultType="com.jdcloud.provider.dto.Recharge">
        SELECT
          t1.order_no orderNo,
          t1.user_id userId,
          t1.type orderType,
          t1.order_amount orderAmount,
          t1.exchange_rate exchangeRate,
          t1.exchange_amount exchangeAmount,
          t1.create_time createTime,
          t1.audit_time auditTime,
          t1.transfer_time transferTime,
          t1.status orderStatus,
          t1.remark,
          t1.auditor,
          t2.login_name loginname,
          t2.real_name realName,
          t2.internal_account internalAccount
        FROM t_recharge_order t1
        LEFT JOIN t_user_account t2 ON t1.user_id = t2.user_id
        <where>
            <if test="type != null">AND t1.type = #{type}</if>
            <if test="internalAccount != null and internalAccount != ''">AND t2.internal_account = #{internalAccount}</if>
            <if test="status != null">AND t1.status = #{status}</if>
            <if test="keyWord != null">AND (t2.real_name LIKE CONCAT('%',#{keyWord},'%')
                                            OR t2.login_name LIKE CONCAT('%',#{keyWord},'%')
                                            OR t1.order_no LIKE CONCAT('%',#{keyWord},'%'))</if>
            <if test="beginTime != null">AND t1.create_time >= #{beginTime}</if>
            <if test="closeTime != null">AND t1.create_time &lt;= #{closeTime}</if>
        </where>
        ORDER BY t1.status, t1.create_time DESC
        LIMIT #{begin}, #{size}
    </select>

    <select id="selectRechargeOrderCount" resultType="java.lang.Integer">
        SELECT count(t1.order_no)
        FROM t_recharge_order t1
        LEFT JOIN t_user_account t2 ON t1.user_id = t2.user_id
        <where>
            <if test="type != null">AND t1.type = #{type}</if>
            <if test="internalAccount != null and internalAccount != ''">AND t2.internal_account = #{internalAccount}</if>
            <if test="status != null">AND t1.status = #{status}</if>
            <if test="keyWord != null">AND (t2.real_name LIKE CONCAT('%',#{keyWord},'%')
                                            OR t2.login_name LIKE CONCAT('%',#{keyWord},'%')
                                            OR t1.order_no LIKE CONCAT('%',#{keyWord},'%'))</if>
            <if test="beginTime != null">AND t1.create_time >= #{beginTime}</if>
            <if test="closeTime != null">AND t1.create_time &lt;= #{closeTime}</if>
        </where>
    </select>

    <select id="selectRechargeStatistics" resultType="com.jdcloud.provider.dto.RechargeStatistics">
        SELECT
          SUM(order_amount) totalUserRechargeCNY,
          SUM(exchange_amount) totalUserRechargeUSDT,
          COUNT(order_no) rechargeCount,
          type
        FROM t_recharge_order WHERE `status` = #{status} GROUP BY type
    </select>

    <select id="statisticsByUserId" resultType="com.jdcloud.provider.dto.StatisticsDto">
      SELECT SUM(exchange_amount) rechargeAmount, SUM(order_amount) totalUserRechargeCNY, type
      FROM t_recharge_order
      WHERE user_id = #{userId}
      AND type in (1, 2) AND `status` = 3 GROUP BY type
    </select>

    <select id="queryAuditingCount" resultType="java.lang.Integer">
        SELECT COUNT(order_no) FROM t_recharge_order WHERE `status` = #{status}
    </select>
</mapper>
