<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.TransferDirectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.TransferDirection">
        <id column="id" property="id"/>
        <result column="main_account_id" property="mainAccountId"/>
        <result column="target_account_id" property="targetAccountId"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapVo" type="com.jdcloud.provider.pojo.vo.TransferDirectionVo">
        <id column="id" property="id"/>
        <result column="main_account_id" property="mainAccountId"/>
        <result column="target_account_id" property="targetAccountId"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="mainAccountName" property="mainAccountName"/>
        <result column="targetAccountName" property="targetAccountName"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, main_account_id AS mainAccountId, target_account_id AS targetAccountId, status
    </sql>


    <select id="getTransferDirection" resultMap="BaseResultMapVo">
        select
            am.name as mainAccountName,
            man.name as targetAccountName,
            td.create_time AS createTime,
            td.update_time AS updateTime,
            td.status,
            td.id
        from
         t_transfer_direction td
        left join  t_account_manage am  on td.main_account_id = am.id
        left join t_account_manage man  on td.target_account_id = man.id
        where
         1=1
        <if test="dto.accountId != null and dto.accountId != '' ">
            AND td.main_account_id = #{dto.accountId}
        </if>
    </select>


</mapper>
