<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.WalletFundAccountRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.WalletFundAccountRecord">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="currency" property="currency"/>
        <result column="before_amount" property="beforeAmount"/>
        <result column="after_amount" property="afterAmount"/>
        <result column="change_amount" property="changeAmount"/>
        <result column="type" property="type"/>
        <result column="create_time" property="createTime"/>
        <result column="order_id" property="orderId" />
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapVo" type="com.jdcloud.provider.pojo.vo.WalletFundAccountRecordVo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="currency" property="currency"/>
        <result column="before_amount" property="beforeAmount"/>
        <result column="after_amount" property="afterAmount"/>
        <result column="change_amount" property="changeAmount"/>
        <result column="type" property="type"/>
        <result column="create_time" property="createTime"/>

        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         ac.id,
         ac.user_id AS userId,
         ac.currency,
         ac.before_amount AS beforeAmount,
         ac.after_amount AS afterAmount,
         ac.change_amount AS changeAmount,
          ac.type,
         ac.create_time AS createTime
    </sql>


    <select id="getWalletFundAccountRecord" resultMap="BaseResultMapVo">
        select
        ca.name,
        ca.phone,
        ca.auth_stauts as authStauts,
        <include refid="Base_Column_List"/>
        from
        t_wallet_fund_account_record ac left join c_personal_card ca ON ca.user_id = ac.user_id
        where 1=1
        <if test="dto.params.beginTime != null and dto.params.beginTime != ''">
            AND DATE_FORMAT(ac.create_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{dto.params.beginTime},'%Y-%m-%d')
        </if>

        <if test="dto.params.endTime != null and dto.params.endTime != ''">
            AND DATE_FORMAT(ac.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{dto.params.endTime}, '%Y-%m-%d')
        </if>
        <if test="dto.name!=null and dto.name!=''">
            AND CONCAT(
            ca.name,
            ca.phone
            ) like concat('%',#{dto.name}, '%')
        </if>
        <if test="dto.userId !=null and dto.userId !='' ">
            AND  ac.user_id =#{dto.userId}
        </if>
        <if test="dto.currency !=null and dto.currency !='' ">
            AND  ac.currency =#{dto.currency}
        </if>

    </select>


</mapper>
