<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdcloud.provider.mapper.WConfigWalletMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdcloud.provider.pojo.WConfigWallet">
        <id column="id" property="id" />
        <result column="coin_type" property="coinType" />
        <result column="wallet_type" property="walletType" />
        <result column="address" property="address" />
        <result column="keystore" property="keystore" />
        <result column="valid" property="valid" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coin_type AS coinType, wallet_type AS walletType, address, keystore, valid, remark, create_time AS createTime, update_time AS updateTime
    </sql>

</mapper>
