<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="operlog-form">
                <div class="select-list">
                    <ul>
                        <div style="overflow: auto;">
                            <li class="select-time">
                                <label>日期搜索： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                       name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endTime]"/>
                            <li>
                                <label>搜索： </label><input type="text" placeholder="号码" name="phone"/>
                            </li>

                            <li>
                                <label>类型： </label>
                                <select name="type" th:with="type=${@dict.getType('record_sms_log_typeNew')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </div>

                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var recordSmsLogTypeNew = [[${@dict.getType('record_sms_log_typeNew')}]];
    var prefix = ctx + "recordSmsLog";
    $(function () {
        var options = {
            url: prefix + "/noAdoptSMSList",
            sortName: "rsl.create_time",
            sortOrder: "desc",
            modalName: "发送短信",
            search: false,
            showExport: false,
            columns: [
                {
                    field: 'type',
                    title: '类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(recordSmsLogTypeNew, value);
                    }
                },
                {
                    field: 'phone',
                    title: '号码'
                },
                {
                    field: 'content',
                    title: '内容'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
            ]
        };
        $.table.init(options);
    });

</script>
</body>
</html>