<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<style>
    .recharge-amount {
        overflow: hidden;
    }

    .search-collapse-first {
        padding: 0 !important;
        height: 200px;
        display: flex;
        align-items: center;
    }

    .recharge-amount li {
        width: 345px;
        height: 127px;
        border: 1px solid #e5e5e5;
        padding: 0 0 0 15px;
        float: left;
        margin-left: 40px;
        display: flex;
        align-items: center;
    }

    .recharge-amount .recharge-title {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .recharge-amount div {
        font-size: 18px;
        color: #ff942f;
    }

    label span {
        color: #494949;
    }
</style>
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">

        <div class="col-sm-12 search-collapse search-collapse-first">
            <div th:object="${vo}">
                <ul class="recharge-amount">
                    <li>
                        <div>
                            <label><span>今日注册赠送β通证：</span>[[*{registrationGift}]]</label><br/>
                            <label><span>今日总消耗β通证：</span>[[*{consume}]]</label>
                            <label><span>今日抢狗消耗β通证：</span>[[*{totalconsume}]]</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-12 search-collapse">
            <form id="operlog-form">
                <div class="select-list">
                    <ul>
                        <li class="select-time">
                            <label>创建日期： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endTime]"/>
                        </li>
                        <li>
                            搜索：<input type="text" name="name" placeholder="姓名&&手机号"/>
                        </li>

                        <li>
                            <label>钱包类型： </label><select name="productType"
                                                         th:with="type=${@dict.getType('beta_productType')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li>
                            <label>余额： </label><input type="number" min="0" name="startBalance" style="width: 80px"/> - <input type="number" min="0" name="endBalance" style="width: 80px"/>
                            <label>&nbsp;&nbsp;总入金： </label><input type="number" min="0" name="startTotalEnter" style="width: 80px"/> - <input type="number" min="0" name="endTotalEnter" style="width: 80px"/>
                            <label>&nbsp;&nbsp;总出金： </label><input type="number" min="0" name="startTotalExit" style="width: 80px"/> - <input type="number" min="0" name="endTotalExit" style="width: 80px"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="betaAccount:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-success" onclick="$.table.importExcel();" shiro:hasPermission="betaAccount:importExcel">
                <i class="fa fa-upload"></i> 导入
            </a>
            <form id="importForm" enctype="multipart/form-data" class="mt30 mb10" style="display: none;">
                <div class="col-xs-offset-1">
                    <input type="file" id="file" name="file"/>
                    <div class="mt10 pt5">
                        <a href="/templateFile/资产模板.xlsx" download="资产模板.xlsx" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
                    </div>
                    <font color="red" class="pull-left mt10">
                        提示：仅允许导入“xls”或“xlsx”格式文件！
                    </font>
                </div>
            </form>
            <!--<a class="btn btn-success" onclick="importRecord()" shiro:hasPermission="betaAccount:importRecordList">
                <i class="fa fa-list"></i> 导入记录
            </a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var topUpCoinList;
    $.ajax({
        cache: true,
        type: "POST",
        url: ctx + "config/accountConfig/topUpCoinList",
        data: {},
        async: false,
        error: function (request) {
        },
        success: function (data) {
            topUpCoinList = data.result;
        }
    });
    var editFlag = [[${@permission.hasPermi('betaAccount:edit')}]];
    var detailList = [[${@permission.hasPermi('betaAccountRecordListInfo:view')}]];
    var prefix = ctx + "beta/betaAccount";
    var beta_productTypes = [[${@dict.getType('beta_productType')}]];
    $(function () {
        var options = {
            url: prefix + "/list",
            updateUrl: prefix + "/edit/{id}",
            exportUrl: prefix + "/export",
            importUrl: prefix + "/importExcel",
            importTemplateUrl: prefix + "/templateFile",
            sortName: "ca.name,ac.create_time",
            sortOrder: "desc",
            modalName: "充值",
            search: false,
            showExport: false,
            columns: [
                {
                    field: 'name',
                    title: '姓名',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var nameVar = row.name == null ? "暂无" : row.name;
                        var phoneVar = row.phone == null ? "" : row.phone;
                        var nameVarAndphoneVar = nameVar + "/" + phoneVar;
                        actions.push('<span class="depreciate">' + nameVarAndphoneVar + '</span>');
                        return actions.join('');
                    }
                },
                {
                    field: 'balance',
                    title: '余额',
                    sortable: true
                },
                {
                    field: 'usedMargin',
                    title: '冻结',
                    sortable: true
                },
                {
                    field: 'dynamicBalance',
                    title: '释放',
                    sortable: true
                },
                {
                    field: 'totalEnter',
                    title: '总入金',
                    sortable: true
                },
                {
                    field: 'totalExit',
                    title: '总出金',
                    sortable: true
                },
                {
                    field: 'productType',
                    title: '类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(beta_productTypes, value);
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'updateTime',
                    title: '修改时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        for (var i = 0; i < topUpCoinList.length; i++) {
                            if (row.productType == topUpCoinList[i].accountType) {
                                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-jpy"></i>充币</a> ');
                            }
                        }
                        actions.push('<a class="btn btn-info btn-xs' + detailList + '" href="#" onclick="resetPwd(\'' + row.id + '\')"><i class="fa fa-key"></i>资产流水</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /*资产流水*/
    function resetPwd(id) {
        var url = prefix + '/recordList/' + id;
        $.modal.openFull("资产流水", url, 888, 450)
    }

    //导入列表
    function importRecord() {
        var url = prefix + '/importRecord/';
        createMenuItem(url, "导入列表");
    }
</script>
</body>
</html>